In [2]:
# libraries required

import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns',150)
pd.set_option('display.max_rows',100)
pd.set_option('display.float_format',lambda x: '%.3f' %x)

import sklearn

In [3]:
# Loading thte dataset

df = pd.read_csv(r"G:\Users\Mohan\Desktop\10pm/backup_analytical_base_table.csv")

In [5]:
# to check the data in a high level
df.head()

,tx_price,beds,baths,sqft,lot_size,basement,restaurants,groceries,nightlife,cafes,shopping,arts_entertainment,beauty_spas,active_life,median_age,married,college_grad,property_tax,insurance,median_school,num_schools,two_and_two,during_recession,property_age,school_score,exterior_walls_Brick,exterior_walls_Brick veneer,exterior_walls_Combination,exterior_walls_Metal,exterior_walls_Missing,exterior_walls_Other,exterior_walls_Siding (Alum/Vinyl),exterior_walls_Wood,roof_Asphalt,roof_Composition Shingle,roof_Missing,roof_Other,roof_Shake Shingle,property_type_Apartment / Condo / Townhouse,property_type_Single-Family
0,295850,1,1,584,0,0.000,107,9,30,19,89,6,47,58,33.000,65.000,84.000,234.000,81.000,9.000,3.000,0,1,0,-6.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000
1,216500,1,1,612,0,1.000,105,15,6,13,87,2,26,14,39.000,73.000,69.000,169.000,51.000,3.000,3.000,0,0,41,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,1.000,0.000
2,279900,1,1,615,0,0.000,183,13,31,30,101,10,74,62,28.000,15.000,86.000,216.000,74.000,8.000,3.000,0,1,49,-5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000
3,379900,1,1,618,33541,0.000,198,9,38,25,127,11,72,83,36.000,25.000,91.000,265.000,92.000,9.000,3.000,0,0,5,-6.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000
4,340000,1,1,634,0,0.000,149,7,22,20,83,10,50,73,37.000,20.000,75.000,88.000,30.000,9.000,3.000,0,0,10,-6.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000

In [ ]:
# Regression Algorithms

"""
1. Lasso Regression
2. Ridge Regression
3. Elastic-Net
4. Random Forest
5. Boosted Trees

"""
# Each one of these algo's have some form of automatic Feature selection.

# ip --> ml --->op (memorized)

# As same as trained inputs then only it will perform well.if the ip chnaged with environment 
#  it doesn't perform well

#ip(get some insight )--> ml --> op(extracted some insight) (This learning)

# model complexity 

#                : Overtfitting                : Underfitting       : correctly fit

#        100 question (40 pages in all in one)  only 5 questions     read 20 pages concepts

# Model complexity is a model's inherent freedom to represent complex relationships between ip & op

In [ ]:
# How to find the right amount of complexity :

    --> In practical Ml , it's typically better to allow more complexity in your models, and then 
        implement other safegurds againest Overfitting.
        
    --> The reason is that if your models are too  simple , they cant learn complex patterns no 
        matter how much data you have.
        
    --> Overfitting is ultimate trick for ML.

In [ ]:
# The final boss of ML

--> Overfitting is a dangerous mistake that causes your model to "memorize" the training data instead 
    of the true underlying pattern.
    
--> This prevents the model from the being generalizable to new, un seen data.

In [ ]:
data -> training | Testing

     ->  6,7,8   | 4,3,2
    
-> input features /independent features    ||  dependent features/Target variable


-> independent train_data  -> dependent train_data

-> independent test_data   -> dependent test_set {to evaluate our ml}

In [4]:
# split  --> train_test_split()

from sklearn.model_selection import train_test_split

In [7]:
df.head(1)

,tx_price,beds,baths,sqft,lot_size,basement,restaurants,groceries,nightlife,cafes,shopping,arts_entertainment,beauty_spas,active_life,median_age,married,college_grad,property_tax,insurance,median_school,num_schools,two_and_two,during_recession,property_age,school_score,exterior_walls_Brick,exterior_walls_Brick veneer,exterior_walls_Combination,exterior_walls_Metal,exterior_walls_Missing,exterior_walls_Other,exterior_walls_Siding (Alum/Vinyl),exterior_walls_Wood,roof_Asphalt,roof_Composition Shingle,roof_Missing,roof_Other,roof_Shake Shingle,property_type_Apartment / Condo / Townhouse,property_type_Single-Family
0,295850,1,1,584,0,0.000,107,9,30,19,89,6,47,58,33.000,65.000,84.000,234.000,81.000,9.000,3.000,0,1,0,-6.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000

In [5]:
df.shape

(1863, 40)

In [6]:
# creating a seperate objects for target variable
y = df.tx_price

# creating seperate object for input features
x = df.drop('tx_price',axis = 1)

In [ ]:
100 bits are there. reading is completed.

10 -records  (7 :3) -> ml(inshigt) -> A

-> 1,2,3,4,5,6,7    :   8,9,0  - is_1
-> 0,1,2,3,4,5,6    :   7,8,9  - is_2
->....
-->.

# fold_cross validation

In [7]:
#split x and y into train and test data

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 1234)

In [8]:
print(len(x_train),len(x_test),len(y_train),len(y_test))

1490 373 1490 373

In [12]:
1863*0.8

1490.4

In [13]:
1863*0.2

372.6

In [ ]:
# training and testing data splitting

x_train, y_trian -> 1490

x_test,  y_test  -> 373

# Regularization

    A simple and effective technique for preventing overfitting because of too many features.

## The number of features is too high...!

        1. 100 observations/ 100 columns
        
      Final output : c1f1 +c2f2 +c3f3 + .......+cnfn
      
      
      ax+by = 5
      ax+by = 10
      ax+by = 20
      
      Example:
      -------
      i1 i2  o/p
      1  3    4
      
      2  5    8
           
      1  6    7
      
      2  7    9
      
      4  2    6.5
      
      1  5    6
      
      3  5    7.9
      
      1  9    ? (10(a+b) )

### Build model pipeline

  Standardization: It transforms all of your features to the same scale by substracting means 
  and dividing by standard deviation

In [9]:
# summary statistics for x_train

x_train.describe()

,beds,baths,sqft,lot_size,basement,restaurants,groceries,nightlife,cafes,shopping,arts_entertainment,beauty_spas,active_life,median_age,married,college_grad,property_tax,insurance,median_school,num_schools,two_and_two,during_recession,property_age,school_score,exterior_walls_Brick,exterior_walls_Brick veneer,exterior_walls_Combination,exterior_walls_Metal,exterior_walls_Missing,exterior_walls_Other,exterior_walls_Siding (Alum/Vinyl),exterior_walls_Wood,roof_Asphalt,roof_Composition Shingle,roof_Missing,roof_Other,roof_Shake Shingle,property_type_Apartment / Condo / Townhouse,property_type_Single-Family
count,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000
mean,3.434,2.579,2322.785,12746.660,0.879,39.496,4.389,5.005,5.186,39.561,3.362,22.909,15.770,38.509,69.471,65.013,464.266,139.610,6.510,2.779,0.093,0.266,24.344,-3.731,0.360,0.024,0.059,0.066,0.119,0.038,0.268,0.066,0.073,0.644,0.189,0.060,0.034,0.419,0.581
std,1.073,0.930,1297.102,34805.545,0.327,46.986,4.498,8.442,7.443,52.335,4.694,25.724,17.999,6.615,19.865,17.093,227.250,71.511,1.975,0.517,0.290,0.442,21.209,2.115,0.480,0.154,0.236,0.248,0.324,0.190,0.443,0.248,0.260,0.479,0.392,0.238,0.180,0.494,0.494
min,1.000,1.000,500.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,22.000,11.000,5.000,88.000,30.000,1.000,1.000,0.000,0.000,0.000,-8.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,3.000,2.000,1351.000,1542.000,1.000,6.000,1.000,0.000,0.000,6.000,0.000,4.000,4.000,33.000,59.000,53.250,321.000,94.000,5.000,3.000,0.000,0.000,6.000,-5.375,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
50%,4.000,3.000,1913.500,6183.000,1.000,21.000,3.000,2.000,3.000,20.000,2.000,15.000,10.000,38.000,74.000,66.000,426.000,125.000,7.000,3.000,0.000,0.000,20.000,-4.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,1.000
75%,4.000,3.000,3014.750,11761.000,1.000,56.000,7.000,6.000,6.000,50.000,5.000,35.000,21.000,43.000,84.000,78.000,572.000,169.000,8.000,3.000,0.000,1.000,38.000,-2.000,1.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,1.000,0.000,0.000,0.000,1.000,1.000
max,5.000,6.000,7842.000,436471.000,1.000,266.000,24.000,53.000,47.000,340.000,35.000,177.000,94.000,69.000,100.000,100.000,4508.000,1374.000,10.000,4.000,1.000,1.000,114.000,2.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000

In [10]:
# Standardization for x_train

x_train_new = (x_train - x_train.mean())/x_train.std()

# standardize the x_test data 

x_test_new = (x_test - x_train.mean())/x_train.std()

In [11]:
x_train_new.describe()

,beds,baths,sqft,lot_size,basement,restaurants,groceries,nightlife,cafes,shopping,arts_entertainment,beauty_spas,active_life,median_age,married,college_grad,property_tax,insurance,median_school,num_schools,two_and_two,during_recession,property_age,school_score,exterior_walls_Brick,exterior_walls_Brick veneer,exterior_walls_Combination,exterior_walls_Metal,exterior_walls_Missing,exterior_walls_Other,exterior_walls_Siding (Alum/Vinyl),exterior_walls_Wood,roof_Asphalt,roof_Composition Shingle,roof_Missing,roof_Other,roof_Shake Shingle,property_type_Apartment / Condo / Townhouse,property_type_Single-Family
count,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000,1490.000
mean,-0.000,-0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,-0.000,0.000,0.000,-0.000,-0.000,-0.000,0.000,-0.000,0.000,0.000,-0.000,-0.000,-0.000,-0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,-0.000,-0.000,-0.000,0.000,-0.000,0.000,0.000,-0.000
std,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000
min,-2.269,-1.697,-1.405,-0.366,-2.688,-0.841,-0.976,-0.593,-0.697,-0.756,-0.716,-0.891,-0.876,-2.496,-2.943,-3.511,-1.656,-1.533,-2.790,-3.440,-0.319,-0.601,-1.148,-2.018,-0.749,-0.157,-0.250,-0.265,-0.368,-0.198,-0.606,-0.265,-0.281,-1.343,-0.483,-0.253,-0.186,-0.850,-1.176
25%,-0.405,-0.622,-0.749,-0.322,0.372,-0.713,-0.753,-0.593,-0.697,-0.641,-0.716,-0.735,-0.654,-0.833,-0.527,-0.688,-0.630,-0.638,-0.765,0.427,-0.319,-0.601,-0.865,-0.777,-0.749,-0.157,-0.250,-0.265,-0.368,-0.198,-0.606,-0.265,-0.281,-1.343,-0.483,-0.253,-0.186,-0.850,-1.176
50%,0.527,0.452,-0.316,-0.189,0.372,-0.394,-0.309,-0.356,-0.294,-0.374,-0.290,-0.307,-0.321,-0.077,0.228,0.058,-0.168,-0.204,0.248,0.427,-0.319,-0.601,-0.205,-0.127,-0.749,-0.157,-0.250,-0.265,-0.368,-0.198,-0.606,-0.265,-0.281,0.744,-0.483,-0.253,-0.186,-0.850,0.850
75%,0.527,0.452,0.533,-0.028,0.372,0.351,0.581,0.118,0.109,0.199,0.349,0.470,0.291,0.679,0.731,0.760,0.474,0.411,0.754,0.427,-0.319,1.662,0.644,0.818,1.334,-0.157,-0.250,-0.265,-0.368,-0.198,1.650,-0.265,-0.281,0.744,-0.483,-0.253,-0.186,1.176,0.850
max,1.459,3.676,4.255,12.174,0.372,4.821,4.360,5.685,5.618,5.741,6.741,5.990,4.346,4.609,1.537,2.047,17.794,17.262,1.767,2.360,3.129,1.662,4.227,2.709,1.334,6.353,3.990,3.768,2.714,5.059,1.650,3.768,3.558,0.744,2.069,3.943,5.365,1.176,0.850

In [15]:
# Function for creating pipelines

from sklearn.pipeline import make_pipeline

# For Standardization

from sklearn.preprocessing import StandardScaler

# Importing Elastic Net, Ridge regression, and Lasso
from sklearn.linear_model import ElasticNet,Ridge, Lasso

# Importing random forest and Gradiant boosted trees

from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor

In [16]:
make_pipeline(StandardScaler(),Lasso(random_state = 123))

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('lasso',
                 Lasso(alpha=1.0, copy_X=True, fit_intercept=True,
                       max_iter=1000, normalize=False, positive=False,
                       precompute=False, random_state=123, selection='cyclic',
                       tol=0.0001, warm_start=False))],
         verbose=False)

In [17]:
# creating pipeline dictionary

pipelines = {'Lasso': make_pipeline(StandardScaler(),Lasso(random_state = 123)),
            'ridge': make_pipeline(StandardScaler(),Ridge(random_state = 123))}

In [19]:
#create a pipeline for Elastic Net
pipelines['Enet'] = make_pipeline(StandardScaler(),ElasticNet(random_state=123))

#create a pipeline for Elastic Net
pipelines['rf'] = make_pipeline(StandardScaler(),RandomForestRegressor(random_state=123))

#create a pipeline for Elastic Net
pipelines['gb'] = make_pipeline(StandardScaler(),GradientBoostingRegressor(random_state=123))

In [20]:
# checking the pipeline for algorithms are added or net

for key, value in pipelines.items():
    print(key,type(value))

Lasso <class 'sklearn.pipeline.Pipeline'>
ridge <class 'sklearn.pipeline.Pipeline'>
Enet <class 'sklearn.pipeline.Pipeline'>
rf <class 'sklearn.pipeline.Pipeline'>
gb <class 'sklearn.pipeline.Pipeline'>

In [ ]:
from sklearn.