# <Font color = 'red'> CORE  PYTHON INTRODUCTION</font>


1. Python is general purpose high level Programming language.

2. Python was Devoloped by Guido Van Rossam in 1989 while working at National Research institute at Netherlands.

3. Officially Python was made avilable to public in 1991. DOB {feb 20 th 1991}.

4. Python is recomended as first programming language for beginners.

5. The Name Python was selected from the TV show "The complete Monty Python's Circus", which was broad casted in BBC from 1969 to 1974.

6. Guido developed Pyhton language by taking almost all programming features from different programming languages.

    * Functional Programming features from C
    * Object Oriented Programming features from C++
    * Scripting Language features from  peral and Shell Scripting
    * Modular programming features from Modula -3
    
    * Most programming features of python from c and ABC programming languages.

### <font color ='red'> Where we can use Python ? </font>

* We can use every where. the most common important applikmcations are 

    * For devoloping desktop applications
    * For devoloping Web Applications
    * For devoloping Data base Applications
    * For Network Programming
    * For Devoloping games
    * For Data Analysis Applications
    * For Machine Learning
    * For devoloping Artificial intelligence applications
    * For Internet Of Things (IOT)
    
    
 ####  NOTE :- 
     
     * Internally Google and Youtube use Python Programming
     * NASA and Network Stock Exchange Applications Devoloped by Python.,
     * Top Software companies like Google, Microsoft, IBM, Yahoo using Pyhon.

## <font color ='Green'>Features of Python :</font>

1. Simple and Easy to learn 
2. Freeware and Open Source
3. High Level Programming Language
4. Platform Independent
5. Portability
6. Dynamically Typed
7. Both Procedure Oriented and PObject Oriented language
8. Interpreted
9. Extensible
10. Embedded
11. Extensive Library

<font color ='red'>1. Simple and Easy to learn </font>

* Python is a simple Programming Language. When we read Python Program, we can feel like reading english Statments.
       
* The syntaxes are very simple and only 30+ Keywordsw are avilable.

* When compared with other Programming Languages, we can write Programs with very less number of lines. Hence more readability and simplicity.

* We can reduce devolopment and cost of the project.

<font color = 'blue'>2. Freeware and Open Source</font>`

* We can use Python Software with out any lisence and it is a freeware
* It's Source code is Open , So that we can customize based on Our requirment
* Example:-
    * Jython is Customized version of Python to Work with java Applications.

<font color = 'radium'>3. High Level Programming Language</font>

* Python is High level programming language and hence it is Programmer friendly language.
* Being a programmer we are not required to concentrate low level activities like mwmory managment and security etc..

<font color = 'indigo'>4. Platform Independent</font> 

* Once we write a python Program,it can run on any platform with out rewriting once again.
* Internally PVM is Responsible for convert into machine understandable form.

<font color = 'violet'>5. Portability</font>

* Python Programs are portable, ie we can migrate one platform to another plat form versy easily.
* Python Programs will provide same results on any platform.

<font color = 'red'>6. Dynamically Typed</font>

* In Python We are not Required to declare type of varaibles. whenever we are assigning the valu, based on value type will be allocated automatically. Hence Pythopn is considered as dynamically typed Programming language.

* But, java , c, etc.  are statically Typed Languages , because we have to provide typed at the begining only

* This dynamic typing nature will provide more flexible to the programmer.

<font color = 'blue'>7. Both Procedure Oriented and PObject Oriented language</font>

* Python language supports both procedure oriented(c, pascal) and object oriented(C++, java) features. Hence we get benfits of both security and reusability. etc.

<font color = 'mezanta'>8. Interpreted</font>

* We are nopt require to compile Python Programs explicitly. Internally Python interrpretor will take care that compilation.
* If compilation fails interpreted raises syntax errors. Once compilation success then PVM is responsible to execute.

<font color ='cyan'>9. Extensible</font>

* We can use other language programs in python.
* The main Advantages of this approach are 
    * we can use already existing legacy non- Pyhton code
    * We can improve Performance of the application

<font color ='DarkOrchid '>10. Embedded</font>

* We can use Python Programs in any Other programming languages.
* We can Embedd Python Programs anywhere.

<font color = 'OrangeRed '>11. Extensive Library</font>

* Python has a rich inbuilt library 
* Being a programmer we can use this library directly and we are not responsible to implement the functionality.

## <font color = 'YellowGreen '>Limitations of Python</font>

1. Performance wise not up to the markbecause it is interpreted language.
2. Not ujsing for mobile applications

## <font color = 'red'>Flavors of Python</font>

1. CPython: -  It is Standard flavor of Python. It can be used to work with C Language Applications.

2. Jyhon or JPython : - It is for java Applications. It can run on JVM

3. Iron Python:- It is for C #. Net Platform

4. PyPy: - The main Advantage of PyPy is performance will be improved because JIT compiler is avilable inside PVM

5. RubyPython: - For Ruby Platforms

6. Anaconda Python :- It is Specially designed for handling large volume of data Handling.

## <font color = 'Red'>Python Versions</font>

1. Python 1.0 --> jan 1994
2. Python 2.0 --> oct 2000
3. Python 3.0 --> December 2008

#### Note:  Python3 won't provide backward compatibility to Python 2 , there is no0 guarantee that python2 program will run on python 3

# <font color = 'red'> IDENTIFIERS</font>

1. A name in Python Program is called Identifiers.

2. It can be Variable Name or Function Name or Module Name OR Variable Name.

       Example :  a = 9
       
       
<font color ='red'>Rules to define Identifiers in Python</font>

1. The only allowed characters in Python are
           -> (A -Z / a-z)
           -> digits (0-9)
           -> Underscore Symbol(_)
           
         Note: - If you used any other symbol apart from underscore(_) we will get syntax error.
         
                 cas@ = 20  {Wrong}

In [ ]:
vari = 10
vari

In [ ]:
vari_ = 11
vari_

In [ ]:
VARI_=111
VARI_

In [ ]:
vari@ = 123

 2. Identifiers should not started with digit.
           
           123csdfs  {wrong}
           var123    {Write}

In [ ]:
vari123 = 12
vari123

In [ ]:
12vari1 = 12

In [ ]:
3. Identifiers are case sensitive. Of course Python language is case sensitive language.

In [ ]:
total = 10
total

In [ ]:
TOTAL = 12
TOTAL

### Note:

1. There is no length limit for python identifiers. But not recomended to use too lengthy identifiers.

2. If Identifier ius start with Underscore(_) then it indicates it is Private.

3. If Identifiers starts with __ (Two under Score Symbols) indicating that strongly private identifier.

## <font color = 'Red'> Reserved Words</font>

In python some words are reserved to represent some meaning of functionality. such types of words are called reserved words.

There are 33 reserved words avilable in Python.

    1. True     2. False     3. None

    4. and      5. or        6. not       7. is

    8. else   
    
    9. while    10. For      11. Break    12. Continue    13. return    14. in    15. Yield 
    
    16. try     17. except   18. finally  19. raise       20. assert
    
    
    21. Import  22. From     23. As       24. Class       25. def   26. Pass   27. global   
    
    28. nonlocal  29. lambda   30. del    31. with
    
    
    32. async     33. await        34. if       35. elif

In [ ]:
# Keywoards inbuilt 

import keyword
print(len(set(keyword.kwlist)))
keyword.kwlist

### Note: 

1. All reserved words in python contain only alphabet symbols.

2. Except the following 3 reserved words, all words contain only lower case alphabet symbols.

        1. True
        2. False
        3. None

## <font color = Green>DATA TYPES</font>

1. Data types represents the type of data present inside a variable.
2. In python we are not required to specify the type explicitly. Based on value provided, the type will be assigned automatically. Hence Python is Dynamically typed Language.

3. Python contains the following inbuilt data types:
    1. int
    2. Float
    3. Complex
    4. Bool
    5. Str
    6. Bytes
    7. Bytearray
    8. Range
    9. List
    10. Tuple
    11. Set
    12. Frozenset
    13. Dict
    14. None

## Note: 

    Python contains several inbuilt functions.
    
    1. type()  ---> To check the type of variable
    2. id()    ---> to get address of object
    3. print() ---> To print the value
    
  In python everything is Object.

### <font color = 'red'>1. int Data Type</font>

Int data dype we can use to represent Whole Numbers(Integer values)

In [ ]:
n = 9 
type(n)
print(n)

### Note:

 1. In python 2 we have long data type to represent very large integer values.

 2. But in Python 3 there is no long type explicitly and we can represent long values also by using int type only.
    
 3. We can represent int values in the following ways
 
     1. Decimal form 
     2. Binary form
     3. Octal form 
     4. Hexa decimal form
     
     
     Decimal Form(Base - 10):
     ------------------------
         It is the default number system in python 
         Allowed digits are : 0 to 9
          
          Example:
          
          a= 10 
          
          b = 12
    
    
    Binary Form(Base - 2):
     ---------------------
     
     The allowed digits are : 0 & 1
     Literal value should be prefixed with 0b or OB.
     
     EG: a = 0b111
     
     
    Octal Form(Base - 8):
    --------------------
    
    The allowed Digits are :  0 to 7
    Literal value should be prefixed with 0o or 0O
    
    
    Eg: n = 0o123
    
    
    HexaDecima Form:
    ---------------
    
    The allowed digitas are : 0 to 9, a- f(both lower and Upper cases are allowed)
    Literal value should be Prefixed with 0X or 0x 
    
    eg: n = 0XABC
    
    
    NOTE:
         Being a programmer we can specify literal values in decimal, binary , octal and Hexadecimal forms. But PVM will always provide values only in decimal form.

In [ ]:
# Binary Form

print(0b1)      # { 2 ^ 0 =1}
print(0b11)     # { 2 ^ 0 + 2^ 1 = 3}
print(0b111)    # { 2 ^ 0 + 2^ 1 + 2 ^2 = 7}
print(0b1111)   # { 2 ^ 0 + 2^ 1 + 2 ^2 +2 ^3= 15}

In [ ]:
# Octal form

print(0o1)      #{ 8 ^ 0 = 1}
print(0o11)     #{ 8 ^ 0 + 8 ^ 1 = 9}
print(0o111)    #{ 8 ^ 0 + 8 ^ 1 +8 ^ 2 = 73}
print(0O1111)   #{ 8 ^ 0 + 8 ^ 1 +8 ^ 2 +8 ^ 3 = 73}

print(0O1234)

In [ ]:
# Hexa decimal

print(10)

print(0X123)

print(0x111)

In [ ]:
# Note , PVM will always give in decimal forma only

print(10)
print(0b111)
print(0o111)
print(0x111)

### Base conversions

In [ ]:

#1.Any to Binary

print(bin(10))    # decimal to binary

print(bin(0o10))  # Octal to binary

print(bin(0x10))  # Hexadecimal to binary

In [ ]:
#2. Any to Octal

print(oct(10))    # decimal to Octal

print(oct(0b10))  # binar to Octal

print(oct(0x10))  # Hexadecimal to Octal

In [ ]:
#3. Any to Hexa decimal

print(hex(10))    # decimal to Hexa decimal

print(hex(0b10))  # Binary to Hexa decimal

print(hex(0o10))  # Octal to Hexa decimal

### <font color = 'red'>2. float Data Type</font>


    We can use float data type to represent floating point values(Decimal values)
    
    Eg: n = 12.3
    
    We can also represent floating point values by using exponential form(Scientific notation)
    
    The main advantage of exponential form is we can represent big values in less memory.
    
    eg: n = 12.e3 
    
    Note : 
    
    We can use "E" instead of "e"
            
    We can represent int values in decimal, binary , octal and Hexadecimal forms. But we can represent float values in decimal form only.

In [ ]:
# float

n = 12.3

print(n)
print(type(n))

In [ ]:
### we can represent float values in decimal form only.

In [ ]:
n = 0B111.1

In [ ]:
n = 0x12.12

In [ ]:
n = 0o12.12

### <font color = 'red'>3. Complex Data Type</font>

    A complex number in the form of  a +bj  {a - > Real Part , b ->  Imaginary part}

    a & b contain Integers or float values.

    eg: 2+3j , 4+5.7j
    
    In the real part we can specify decimal, octal, Hexadecimal and binary , but in imaginar part only decimal form.

In [ ]:
# complex form correct notations

print(2+3j)

print(3.9 +4.5j)

print(0b11 +4.5J)

print(type(2+3j))

In [ ]:
# wrong notation -> imaginary part with hexadecimal form throws synatax error.
print(6 +0x111j)

In [ ]:
#  Addition Operations on complex numbers

print(2 +3j + 4+6j)

print(3.5 +5.7j + 0b100 + 7J)

print(0X100 +5.7j + 0b100 + 7J)  # you can use both lower case j and Upper case J also

print(0o12345 +5.7j + 0b100 + 7J)

### <font color = 'red'>4. Bool Data Type</font>

1. We can use this data type to represent boolean values

2. The only allowed values for this data type are : True and False

    Internally Python represents True as 1 and False as 0

In [ ]:
# bool data type

a = True
b = False

print(a >b)

print(a < b)

c= 34

d = 43

print(c>d)


# True = 1 , False = 0
print(True + True)

print(True + False)

print(False +False)

### <font color = 'red'>5. str float Data Type</font>

1. str represents String data type.

2. A string is a sequence of characters enclosed within single quotes or double quotes.

In [ ]:
# String representations

a = "This is Python From Scratch"  # doble quotes

b = 'This is Python From Scratch'  # single Quotes

print(a >b)  # not grater thanm because "" & '' represents the same meaning 

print(a == b)

In [ ]:
# String Wrong representation

# One single quote and one Double quote 

s = 'This is Python From Scratch"

In [ ]:
# By using single or double quotes we can not represent nultiple lines string literals.

s = "sdfkjhygskdfjasfdddddddddddddddddddddddddddddddddddddddddddddddddddd
      dddddddddddddddddddddddddddddddddddddddddd"

In [ ]:
# By using """   or '''  we can represent multiline string .

# observe the \n which indicates new line

s = """sdfkjhygskdfjasfdddddddddddddddddddddddddddddddddddddddddddddddddddd
dddddddddddddddddddddddddddddddddddddddddd"""


t = '''sdfkjhygskdfjasfdddddddddddddddddddddddddddddddddddddddddddddddddddd
dddddddddddddddddddddddddddddddddddddddddd'''


print(s)

print(t)

print(s ==t)

In [ ]:
# special uses of Quotes {should cloase in the same way}

# String embeding
p = "This is 'very' importent"
p

In [ ]:
# string embeding

p = 'this is "very" importent'
p

### <font color = 'blue'>String slicing</font>

    Slice means a piece

    [] -> is called slice Operator, which can be used to retrive parts of string.
    
    In python Strings follows Zero based index.
    
    The index can be either +ve or -ve
    
    Positive index means  forward direction from left to right
    
    Negetive index means Backward direction from right to left

In [ ]:
# string slicing operations

s = "This is python class , very importent for machine learning and data sceince and web devolopment also"

In [ ]:
s

In [ ]:
# length of String'
len(s)

In [ ]:
s[0]

In [ ]:
s[1]

In [ ]:
s[:]

In [ ]:
# [ : ] it fetches all the information

print(len(s)== len(s[:]))

In [ ]:
# if we dint provide any start index it will take "Zero"

s[:3]

In [ ]:
# If we dint provide end index it will take last index value defaultly.
s[2:]

###  When we are performing slicing need to remember [strat : end]  --> [include: exclude] , exclude = end-1

In [ ]:
# it feteched value up to index value 3  not 4 (4-1)
s[1:4]

###  In Python the following data types are considered as Fundamental data types

1. int
2. float
3. complex
4. bool
5. str

### we can represent char values also by using str type only, explicitly char type is not avilable in python.

In [ ]:
# char representation

ch = 'a'
print(ch)
print(type(ch))

### <font color = 'brown'>Type Casting</font>

We can convert one type values into another type. This conversion ios called Type casting.

The following are the various inbuilt type casting functions.

    1. int()
    2. flaot()
    3. complex()
    4. bool()
    5. str()

In [ ]:
# int() usage in different conditions

print(int(123.34))

print(int(True))

print(int(False))

In [ ]:
# if we want to convert string to int , the characters in the string should be integral(base -10)

int('123123')

In [ ]:
# it can not convert string into int

int("asde231")

In [ ]:
# binary, octal, decimal --> int
print(int(0b11))  # binary to int
print(int(0o11))  # octal to int
print(int(0x11))  # Hexadecimal to int

In [ ]:
# wrong format

print(int('0b11'))  # binary to int
print(int('0o11'))  # octal to int
print(int('0x11'))  # Hexadecimal to int

# float()

In [ ]:
# we can use float() function to convert other type values to float type

float(10)

In [ ]:
# number string to float format
float('123.44')

In [ ]:
# we can not convert string into float
float('ads')

In [ ]:
#binary, octal, Hexadecimal --> flaot

print(float(0b11))  # binary to float
print(float(0o11))  # octal to float
print(float(0x11))  # Hexadecimal to float

In [ ]:
# wrong format

print(oct('0b11'))  # binary to float
print(oct('0o11'))  # octal to float
print(oct('0x11'))  # Hexadecimal to float

# complex()


We can use complex() function to convert other types to complex type
  
Form-1: 
 we can use this function to convert x in to complex number with real part x and imaginary part 0.

In [ ]:
# complex convertion

complex(10)

In [ ]:
complex("2")

In [ ]:
complex(0b11)

In [ ]:
complex(0o111)

In [ ]:
complex(0x111)

In [ ]:
complex('asdas')

In [ ]:
# ValueError: complex() arg is a malformed string
complex('0b111')

### Form -2

    complex(x,y)       {x -real part, y - Imaginary part}

In [ ]:
print(complex(1,2))

print(complex(True, False))

## bool()

In [ ]:
bool(1)

In [ ]:
bool(0)

In [ ]:
bool(12)

In [ ]:
bool(000)

In [ ]:
bool(12.5)

In [ ]:
bool('type')

In [ ]:
bool('12312')

In [ ]:
bool()

In [ ]:
bool(0b11)

In [ ]:
bool(0o111)

In [ ]:
bool(0x111)

In [ ]:
bool(2+3j)

In [ ]:
bool(0+0j)

In [ ]:
bool(-2-0j)

In [ ]:
bool('True')

In [ ]:
bool('False')

In [ ]:
bool(True)

In [ ]:
bool(False)

In [ ]:
bool('')

## str()

In [ ]:
str(10)

In [ ]:
str(12.8)

In [ ]:
str('sadfsa')

In [ ]:
str(0b111)

In [ ]:
str(0x111)

In [ ]:
str(0o111)

In [ ]:
str(1+2j)

In [ ]:
str(0+0j)

In [ ]:
print(str(5j))
print(type(5j))

In [ ]:
str(True)

In [ ]:
str(False)

### <font color = 'red'>2. Fundamental Data Types vs Immutability </font>

#### 1.  All Fundamental data types are immutable . i.e once we creates an object, we can not perform any changes in that object.  If we are trying to change then with the those changes a new object will be created. This non -changable behaviour is called immutability.

#### 2. In Python if a new object is required, then PVM wont create object immediatly. first it will check is any object avilable with the required content or not. if avilable then existing object will be reused. If it is not avilable a new object will be created. The advantage of this approach is memory utilization and performance will be improved.

#### 3. But the problem in this approach is, several references pointing to the same object, by using one reference if we are allowed to change the content in the existing object then the remaining references will be efected. To prevent this immutability concept is required. According to this once we created object we are not allowing to change content. If we are trying to change with those changes a new object will be created.

In [ ]:
a = 10 
b = 10

In [ ]:
id(a)

In [ ]:
a is b

In [ ]:
id(b)

In [ ]:
a = 123

In [ ]:
id(a)

In [ ]:
b = 'Mohan'
id(b)

### <font color = 'red'>6. Bytes Data Type</font>

Bytes data type represens a group of byte numbers just like an array.

    Note: 
    1. The only allowed values for byte data type are 0 to 256. by mistake if we are trying to provide any other values then we will get value error.
    
    2. Once we creates bytes data type value, we cannot change its value, other wise we will get typo error

In [ ]:
x = [10,20,30,40]

b = bytes(x)

In [ ]:
b[0]

In [ ]:
b[1]

In [ ]:
b[-1]

In [ ]:
b[:2]

In [ ]:
b

In [ ]:
# type of bytes
type(b)

In [ ]:
# range of bytes
y = [10,100,200,300]

c= bytes(y)

In [ ]:
# Item assignment is not supported in bytes

b[0]= 100

### <font color = 'red'>7. Byte array Data Type</font>

Bytearray data types is exactly same as byte data type except that its elemets can be modified.

In [ ]:
w = [10,20,30,40,50,60]

d = bytearray(w)

d

In [ ]:
d[0]

In [ ]:
d[-1]

In [ ]:
d[1:3]

In [ ]:
len(d)

In [ ]:
# data modification
d[0]=12

In [ ]:
d[0]

In [ ]:
d[6]=111

In [ ]:
# it should be in the range of 0 to 256

z = [10,20,30,40,50,60,300]

e = bytearray(z)

e

## <font color = 'red'>8. List Data Type</font>

    If we want to represent a group of values as a single entity where insertion order required to preserve and duplicates are allowed the we should go for list data type.
    
    
        1. Insertion Order is preserved
        2. Heterogeneous Objects are allowed
        3. Duplicates are allowed
        4. Growable in nature
        5. values should be enclosed with in the Square brackets.

### Lists
     all the list operations
        -> Creating list 
        -> Accessing elements from a list with index (Positive/Negetive)
        -> Slicing a list using index (Positive/Negetive)
        -> How  to update an existing element in List
        -> How to add New element in list?
        -> How to delete/remove an element from list and removing entire list
        -> delete elements using remove(),pop()
        -> By assigning an empty list to a slice of list also we can remove elements

In [ ]:
# Creating list 

# we can create list by using "[]"

a = []
print("Empty List : ",a)
print(type(a))

#we can create list with any type of objects like sets, strings, dictionaries etc...

mix_list = [1,2,3,"Data Science",'c',(1,2,3,4,5),{1,1,2,2,2,3,3,3},
            {'np' : 'Numpy',"pd" :"Pandas","df":'Dataframe'},[12,13,14,15]]
print(mix_list)
print(type(mix_list))

In [ ]:
#Accessing elements from a list with index (Positive/Negetive)

# Positive index {indexing start from 0 }

list1 = [1,2,3,4,5,6,7,8,9,10,12,13,1,41,5,45,56,67,78,12]
print(list1[0])
print(list1[1]) 


# Negetive index {Start from -1}

print(list1[-1])
print(list1[-2])

# to know the what is the maximum index in list

a = len(list1)
print("Length of list :",a)

#maximum index avilable in the list (+ve)

print("maximum index avilable in the list  :", a-1)
print(list1[19])

#maximum index avilable in the list (+ve)

print("maximum index avilable in the list  :", -(a))
print(list1[-20])

In [ ]:
#Slicing a list using index (Positive/Negetive)
list1 = [1,2,3,4,5,6,7,8,9,10,12,13,1,41,5,45,56,67,78,12]


# positive slicing
print(list1[0:5]) # if you observe it omited the index with 5 because end index is less than one what we mentioned
print(list1[1:6])

print(list1[:7]) # it means select all the elements up to index (7-1)
print(list1[6:]) # It means select all the elemts from index 6 to end.

# Negetive index
print(list1[-5:-1])  #  negetive numbers value decrease while increaseing {end index -1-1 =-2}
print(list1[-9:-2])

print(list1[-5:]) 
print(list1[:-2]) # It means select all the elemts from index 6 to end. (-2-1=-3)

In [ ]:
# How  to update an existing element in List
list1 = [1,2,3,4,5,6,7,8,9,10,12,13,1,41,5,45,56,67,78,12]

list1[2] = 'updadte value of 3'
print(list1)

# updating an entire slice
list2 = [11,22,33]
list1[:2] = list2
print(list1)

In [ ]:
#How to add New element in list?

# Adding individual element
b = 999
list1.append(b)
print(list1)

#Adding list/multiple elements
a = [111,222,333]
list1.append(a)
print(list1)

In [ ]:
# How to delete/remove an element from list and removing entire list
# removing elements with index
list1 = [1,2,3,4,5,6,7,8,9,10,12,13,1,41,5,45,56,67,78,12]
print(list1)
print(list1[1])
del list1[1]
print(list1)
print(list1[1])

In [ ]:
#Removing multiple elemets in list
list1 = [1,2,3,4,5,6,7,8,9,10,12,13,1,41,5,45,56,67,78,12]
del list1[2:5]
print(list1)

In [ ]:
# removing Entire list
del list1
print(list1)

In [ ]:
# delete elements using remove()
# remove () will remvoe the element not the index location
list1 = [1,2,3,4,5,6,7,8,9,10,12,13,1,41,5,45,56,67,78,12]
print(list1)
list1.remove(1)

In [ ]:
#Delete elements -->pop()  {It remvoe the element in the index location}
print(list1)
print(list1.pop(1))
print(list1)

In [ ]:
# By assigning an empty list to a slice of list also we can remove elements
list1 = [1,2,3,4,5,6,7,8,9,10,12,13,1,41,5,45,56,67,78,12]
print(list1)
list1[2:6] = [] # assigning an empty set
print(list1)

In [ ]:
# count() # same elements are there then it will consider first occurence
list_1 =[1,1,1,1,2,2,3,3,3,4,4,4]
list_1.count(1)

In [ ]:
#index() find the index of the value

list_1.index(4)

## <font color = 'red'>9. Tuple Data Type</font>

    Tuple data type is exactly same as list data type exact that it is immutable. i.e range Data type is  immutable.
    
    Tuple is read only version of list.

### All the tuple Operations

    -> Creating Tuple
    -> Accessing elements from a list with index (Positive/Negetive)
    -> Slicing a list using index (Positive/Negetive)
    -> How  to update an existing element in List
    -> How to add New element in list?
    -> How to delete/remove an element from list and removing entire list
    -> delete elements using remove(),pop()
    -> By assigning an empty list to a slice of list also we can remove elements

In [ ]:
# tuples are immutable sequence of objects()
tupl = ("no updaton","no addition",5,6,7,8,9)
tupl

In [ ]:
# Accessing elements from a list with index (Positive/Negetive)

tupl = ("no updaton","no addition",5,6,7,8,9,(1,2,3),[1,2,3,4,5,6])

print(tupl[1])  # Positive index

print(tupl[-1]) # Negetive index

In [ ]:
# Slicing a list using index (Positive/Negetive)

tupl = ("no updaton","no addition",5,6,7,8,9,(1,2,3),[1,2,3,4,5,6])

print(tupl[1:5])  # Positive index slicing

print(tupl[-3:-1]) # Negetive index slicing

In [ ]:
# How  to update an existing element in List

tupl = ("no updaton","no addition",5,6,7,8,9,(1,2,3),[1,2,3,4,5,6])
tupl[2] = "Not updateable"
print(tupl)

In [ ]:
# updating elements in list in tuple

tupl = ("no updaton","no addition",5,6,7,8,9,(1,2,3),[1,2,3,4,5,6])
tupl[8][3] = 99999   # updating elements in list in tuple

print(tupl)

In [ ]:
# How to add New element in list?

tupl.append(99)

In [ ]:
# How to delete/remove an element from list and removing entire list

del tupl[1]

In [ ]:
# deleting entire tuple
del tupl
print(tupl)

In [ ]:
# delete elements using remove(),pop()
tupl = ("no updaton","no addition",5,6,7,8,9,(1,2,3),[1,2,3,4,5,6])
tupl.remove()

In [ ]:
# delete elemetns pop()

tupl.pop(4)

In [ ]:
# By assigning an empty list to a slice of list also we can remove elements

tupl[1:5] = ()

In [ ]:
# count (frequence of element which is mentioned in argument)
tupl_1 = (1,1,1,1,2,2,3,3,3,4,4,4)
tupl_1.count(4)

In [ ]:
# index() to know the index of element
tupl_1.index(2)

## <font color = 'red'>10. Range Data Type</font>

    range data Type  represents a sequence of numbers
    
    The elements  present in range Data type are not modifiable. i.e range data type is immutable.

In [ ]:
range(10)

In [ ]:
range(1,5)

In [ ]:
range(1,10,2)

In [ ]:
a = range(1,12)

In [ ]:
a[1]

In [ ]:
a[12]

## <font color = 'red'>11. Set Data Type</font>


    If we want to represent a group of values without duplicates where order is not importent then we should go for set data type.
    
        1. Insertion Order is not preserved
        2. Duplicates are not Allowed
        3. Heterogeneous objects are allowed
        4. Index Concept is not acceptable
        5. It is mutable collection
        6. Growable in natute

    -> Creating a set 
        -> Removing Duplicates
        -> Concatination or Addition of 2 sets is not possible
        -> un supported operations
        -> accessing elements in set using index
        -> we are not able to update are add elements to set.
        -> Adding elements to set with help of add() function.
        -> Removing the elements from set .remove
        -> union of sets
        -> intersection of sets
        -> Difference of sets
        -> converting list to set for remove duplicate

In [ ]:
# sets are collection of unique objects, denoted with "{}"    -->lists[],tuples()

# it remove the duplicates
s1 = {99,98,97,96,87,456,345,4523,234,123,56,99,98,97,96}
print(s1)
print(len(s1)) # count gives only unique values

In [ ]:
# Concatenation or addition of sets is not possible

s1 = {99,98,97,96,87,456,345,4523,234,123,56,99,98,97,96,5,36,67,456,756,856,8567,9768976}
s2 = {1234,234123,42,345,36,67,456,756,856,8567,9768976,8,1234,234123,42,345,36,67,456,}  # duplicates removed
s3 = {99,98,97,96,87,4,345,4523,234,123,56,99,98,97,96}
print(len(s2))
print(s1+s3)

In [ ]:
# un supported operations

print(s1-2) # substraction with a single integer value
print(s1/2) # diviosn
print(s1*2) # multipllication

In [ ]:
# accessing elements in set using index
s1[:2]

In [ ]:
# we are not able to update are add elements to set.
#s1(99) =11111
s1.append(1111)

In [ ]:
# Adding Elements to set

s1.add(111)

In [ ]:
s1

In [ ]:
# removing elements from set

s1.remove(111)

In [ ]:
s1

In [ ]:
# union of sets
print(s1 | s2)
print(len(s1.union(s2)))

In [ ]:
# intersection of sets

print(s1 & s2)
print(len(s1.intersection(s2)))

In [ ]:
#Difference of sets
print(s1)
print(len(s1))

print(s2)
print(len(s2))

print(s1-s2)
print(len(s1-s2))

print(s2-s1)
print(len(s2-s1))

In [ ]:
# converting list to set for remove duplicate 

lis9 = [1,1,2,3,4,5,6,7,8,9,10,11,12,12,123,134,123,12,332,423,4]
print(lis9)
print("Elements count in list : ",len(lis9))

listoset = set(lis9)
print(listoset)
print("Elements count in Set : ",len(listoset))

print("Duplicate elements",len(lis9)-len(listoset))

## <font color = 'red'>12. frozenSet Data Type</font>

    It is exactly same as set except that it is immutable.
    
    Hence we can not use add or remove functions.

In [ ]:
s2 = {1,2,3,4,5,6,7}

fs2 = frozenset(s2)

print(type(s2))
print(type(fs2))

In [ ]:
# we can not add elements
fs2.add(9)

In [ ]:
# we can not remove elements

fs2.remove(7)

## <font color = 'red'>13. Dict (Dictionary) Data Type</font>
    
        If we want to represent a group of values as key- value pairs then we should go for dict data type.
        
        Duplicate keys are not allowed but values can be duplicated. If we are trying to insert an entry with the duplicate key then old value will be replaced with new value.
        
        
        Note :  Dict is mutable but order wont preserved.

        -> Creating the Dictionary
        -> length of dictionary
        -> Accessing elements using its key  in square brackets beside to dictionary name
        -> We can assign integers also as a key values
        -> To show up all keys in dictionary
        -> To show up all the values in dictinary
        -> To show up all the items in dictionay

In [ ]:
# creating a dictionary

dic1 = {'ds' :"data science", 'np' :'Numpy',"pd" :"Pandas","mplot" :'Matplotlib','list1' : [1,2,3,4,5,6], 'set1' : {1,1,2,2,3,3,4,4},'tuple1' : (1,1,2,2,3,5,6,7,8), 134 : "hi this is python"}

print(dic1)

In [ ]:
#length of dictionary
print(len(dic1))

In [ ]:
# Accessing elements using its key  in square brackets beside to dictionary name
print(dic1['ds'])

In [ ]:
# we can assign integers also as a key values
print(dic1[134])
print(type(dic1[134]))

In [ ]:
# To show up all keys in dictionary
print(dic1.keys())
print(type(dic1.keys()))

In [ ]:
# To show up all the values in dictinary

print(dic1.values())
print(type(dic1.values()))

In [ ]:
# to show up all the items in dictionay
print(dic1.items())
print(type(dic1.items()))

#### Note:
1. In general we can use byte and bytarray data types to represent binary information like images, video files etc..

2. In python 2 long data type is there but in python 3 int using instead of long data type.

3. In python char is not avilable instead of it need to use str.

## <font color = 'red'>14. None Data Type</font>

    1. None means nothing or No value associated.
    2. If the value is not avilable, then to handle such type of cases None Introduced.

In [ ]:
def fun():
    a= 10

In [ ]:
print(fun())

## <font color = 'pink'>Escape Characters in Python</font>


1. \n  --> new Line
2. \t  --> Horizontal Tab
3. \r  --> Carriage Tab
4. \b  --> Back Space
5. \f  --> Form feed
6. \v  --> Vertical Tab
7. \'  --> Single quote
8. \"  --> Double Quote
9. //  --> Back slash symbol

In [ ]:
s = 'Mohan\nKumar'
s

In [ ]:
print(s)

# Mutable

1. bytearray
2. List
3. set
4. Dict

# Immutable
1. int
2. Float
3. Complex
4. Bool
5. Str
6. Bytes
7. range
8. tuple
9. Frozentset

# <font color = 'Red'>OPERATORS</font>

1. OPerator is a symbol that performs certain Operations.
2. Python Provides the following set of Operators

        1. Arthmetic Operators
        2. Relational/Comparsion Operators
        3. Logical Operators
        4. Bitwise Operators
        5. Assignment Operators
        6. Special Operators

# <font color = 'Green'>1. Arthmetic Operators</font>

    1. +     --> Addition
    2. -     --> Substraction
    3. *     --> Multiplication
    4. /     --> Diviosn Operator
    5. %     --> Modulo Operator
    6. //    --> Floor Divison
    7. **    --> Exponent or Power Operator

In [ ]:
# Arthmetic Operations

num_1 = 99
num_2 = 9

num_1,num_2 = 99,9


# 1. +     --> Addition
print(num_1 + num_2)

# 2. -     --> Substraction
print(num_1  - num_2)

# 3. *     --> Multiplication
print(num_1  * num_2)

# 4. /     --> Diviosn Operator
print(num_1 / num_2)

# 5. %     --> Modulo Operator
print(num_1 % num_2)

# 6. //    --> Floor Divison
print(num_1 //  num_2)

# 7. **    --> Exponent or Power Operator
print(num_1  ** num_2)

### Note:

    1. / Operator always performs floating point Arthmetic. Hence it will always returns float value.

    2. But Floor division(//) can perform both floating point and integral arthmetic . if Arguments are int type then result in int type. If atleast one argument is a flaot type then result is a float type.

In [ ]:
# + , * operations on string 

sr = "Hi this is PYthon"

st = 'Hi this is Data Sceince'

addi = sr +st

print(addi)

#### Note : --  If we use + operator for str then compulsary both argument should be str , Other wise it will throw an error .

#### Note : --  If we use * operator for str then compulsary one argument should be int and other argument should be str type.

In [ ]:
print(sr -st)

In [ ]:
print(sr * st)

In [ ]:
print(sr * 3)

In [ ]:
# Python Basics
# Simple Arthimetic Operations
# indentation TAB or 4 spaces

a = 14
b = 3
print("Addition  :", a + b ) # Add
print("Substraction  :",a - b ) # Subtract
print("DIvision  :",a / b ) # Divide
print("Multiplication :", a * b ) # Multiply
print( "Exponent",a**b )  # Squared 
print("Modulo division", a % b ) # Modulo

In [ ]:
#Concatenation
print("143"+"123")
print("mohan" + "Python")
print('mohan' + 'Python')
print('mohan'+ "python")

In [ ]:
# repetetion
print('123'*5)
print(123 * 5)
print("abc" *5)
print(abc * 5)

## Note:

        + -> String Concatination Operator
        * -> String Multiplication Operator
        
        
        1. For any number X, x/0 and  x % 0  always raise "ZeroDevisionError"

# <font color = 'Green'>2.Relational/Comparision Operators</font>

In [ ]:
#comparision Operators
a = 14
b = 3

print("Graterthan :", a > b )  # Greater than
print( "Graterthan or equal to :",a >=b )  # Greater than or equal to
print( "Lessthan :",a< b )  # Less than
print( "Lessthan or Equal to :",a <=b )  # Less than or equal to
print( "Equal to",a==b ) # Equal to
print("Not equal to :", a !=b ) # Not equal to

In [ ]:
#comparision Operators/ Relational Operators we can apply to strings also
a = 'Python'
b = 'Python'

print("Graterthan :", a > b )  # Greater than
print( "Graterthan or equal to :",a >=b )  # Greater than or equal to
print( "Lessthan :",a< b )  # Less than
print( "Lessthan or Equal to :",a <=b )  # Less than or equal to
print( "Equal to",a==b ) # Equal to
print("Not equal to :", a !=b ) # Not equal to

In [ ]:
# type functinoality

print(type(32))
print(type(32.0))

print(type(True))
print(type(False))

print(type(1))
print(type(0))

print(type(3.14*6))
print(type(12>14))

print(type('String type'))

In [ ]:
print(type(T))
print(type(F))
print(type(true))
print(type(false))

# <font color = 'Green'>3.Equality Operators Operators</font>

"==" and " != "

# <font color = 'Green'>4.Logical Operators Operators</font>

1. and 
2. or 
3. not

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
False and False

In [ ]:
True or True

In [ ]:
True or False

In [ ]:
False or True

In [ ]:
not True

In [ ]:
not False

### For non- boolean Types Behaviour:

0 means false

non- zero means True

empty string is always treated as false

In [ ]:
 10 and 20

In [ ]:
10 and 5

In [ ]:
12 and 30

In [ ]:
10 or 34

In [ ]:
1 or 49

In [ ]:
0 or 10

### Note : 

    AND

    If the first argument is zero then the result is zero other wise result is Y
    
    
    OR
    
    If x is True then result is true other wise result is Y

# <font color = 'Green'>5.Bitwise Operators</font>

    - We can apply these operators bitwise.
    
    - These operators are applicable only for int and boolean types.
    
    - By mistake if we are trying to apply for any other type then we will get error.
    
    - &,|,^,~, <<,>>

In [ ]:
print(True & False)

In [ ]:
print(12 & 13)

In [ ]:
print(12 & True)

In [ ]:
# & If both bits are 1 then only result is 1 otherwise result is 0

print(True & True)

In [ ]:
print(1 & 1)

In [ ]:
print(1 & 2)

In [ ]:
# It does not support float (only int and bool)
print(12.3 &12)

In [ ]:
# | If atleast one bit is 1 then result is one , Otherwise result is zero

print(False| False)

In [ ]:
print(True | False)

In [ ]:
print(True| True)

In [ ]:
print(False | 10)

In [ ]:
# Special Case
print(True | 10)

In [ ]:
# unsuported operation

print(10.5 | 12.6)

In [ ]:
# ^ If bits are different hten only it gives result 1 otherwise 0 

print(1 ^ 1)

In [ ]:
print(True ^ True)

In [ ]:
print(True ^ True)

In [ ]:
print(12 ^ 13)

###  "~" Bit wise complement operator {1 means 0 , 0 means one}

    1. The most significant bit acts as sign bit. 0 value represents +ve number where as 1 represents -ve value.
    
    2. Positive numbers will be represented directly in the memory where as -ve numbers will be represented indirectly in 2 's complement form.

In [ ]:
print(~True)

In [ ]:
print(~False)

In [ ]:
print(~1)

In [ ]:
# << Bit wise left shift

In [ ]:
# >> Bitwise right shift

In [ ]:
print(4 ^5)

In [ ]:
print(4 & 5)

In [ ]:
print(4 | 5)

# <font color = 'Green'>6.ShiftOperators</font>

# <font color = 'Green'>7.Assignment Operators</font>

# <font color = 'Green'>8.Ternary Operators or Conditional Operator</font>

Syntax : x = firstvalue if condition else Secoend Value
    
  If Condition is True Then first value will be considered else secoend value will be Considered.

In [ ]:
a,b = 9,10 
x= 10 if a>b else 9
print(x)

In [ ]:
# Reading two numbers from the keyboard and print minimum value

a = int(input("Enter the first number :"))
b = int(input("Enter the Secoend number :"))

min = a if a<b else b
print(min)

In [ ]:
# Reading two numbers from the keyboard and print maximum value

a = int(input("Enter the first number :"))
b = int(input("Enter the Secoend number :"))

min = a if a>b else b
print(max)

In [ ]:
## Reading three numbers from the keyboard and print minimum value
a = int(input("Enter the first number :"))
b = int(input("Enter the Secoend number :"))
c = int(input("Enter the Third number :"))

min = a if a<b and a<c else b if a<c else c

print(min)

In [ ]:
## Reading three numbers from the keyboard and print Maximim value value
a = int(input("Enter the first number :"))
b = int(input("Enter the Secoend number :"))
c = int(input("Enter the Third number :"))

max = a if a>b and a>c else b if a>c else c

print(max)

In [ ]:
# Reading two numbers from the keyboard and print minimum value

a = int(input("Enter the first number :"))
b = int(input("Enter the Secoend number :"))

print("Equal" if a==b else "a is Greater than b" if a>b else "b is Grater than a")

# <font color = 'Green'>9.Special Operator</font>


    Python defines the following 2 special Operators
        1. Identity Operators
        2. Membership Operators

### Identity Operators

1. We can use identity operators for address comparision.
2. There are 2 identity operators are avilable
            1. is 
            2. is not
            
      r1 is r2 return True if both r1 and r2 are pointing to the same object.
      
      r1 is not r2 returns True if both r1 and r2 are not poinitng to the same object.

In [ ]:
a = 10 

b = 10 

print(a is b )

In [ ]:
x = True 

y = True

print(x is y)

In [ ]:
a = "Mohan"

b = 'Mohan'

print(id(a))

print(id(b))

print(a is b )

#### Note : -  We can use is operator for address comparision where as  "==" operator for content comparision.

In [ ]:
lis_1 = ["Python", "Numpy", "Pandas"]

lis_2 = ["Python", "Numpy", "Pandas"]

print(id(lis_1))

print(id(lis_2))

print(lis_1 is lis_2)

print(lis_1 is not lis_2)

print(lis_1 == lis_2)

In [ ]:
## Membership Operators

    We can use  Membership operators to check weather the given object present in the given collection.
    {It may be list, Tuple, set , String or dict}
    
    In -> Returns True if the given Object present in the specified collection
    
    not in -> Returns True if the given Object not present in the specified collection

In [ ]:

x  = 'This is python'

print('p'  in x)

print('z' not in x)

print('is' in x)

In [ ]:
# try this in list also

# <font color = 'Green'>Mathemetical Functions(math module)</font>

A Module is collection of functions, variables and classes etc..

Math is a module that contains several functions to perform mathematical operations.

If we want to use any module in Pyhton, first we have to import that module.

In [ ]:
import math

In [ ]:
print(math.sqrt(16))

print(math.pi)

In [ ]:
# write a python program to find area of circle

import math

from math import pi
r= 10

print("Area: {}".format(pi * r ** 2))

# <font color = 'Green'>Input and Output Statements</font>

####  Reading Dynamic iput from the Keyboard

Python 2

    1. raw_input()
    2. input()
    
    raw_input(): This function always reads the data from the keyboard in the form of "string" format. We have to convert that string type to our required type by using type casting methods.
    
    EG - int()
         float()
         str()
         complex()  - not importent 
         bool()
         
         
Python 3 
       
           In python 3 we have only "input()" method and raw_input() method is not avilable.
           
           Python 3 input() function behaviour exactly same as raw_input() method of python 2.

In [ ]:
# Giving input

inp = int(input("Enter the number: "))

In [ ]:
# Giving input

inp = int(input("Enter the number: "))

In [ ]:
# GIving input -> there is no restriction   

inp = input("Enter the number: ")

In [ ]:
# creating multiple input

a = input("First Number : ")
b = input("Secoend Number : ")
c = input("Third Number : ")
d = input("Fourth Number : ")

# addition

print(a +b+c+d)

print(type(a+b+c+d))

print(int(a+b+c+d))

print(type(int(a+b+c+d)))

# Small loop to convert strings to integers

for var in a,b,c,d:
    var = int(var)
    print(var)
    
    print(a +b+c+d)

In [ ]:
# write a program to read Employee Data from the keyboard and print that data

eno = int(input("Employee Number : "))
ename = input("Enter the employee Nmae : ")
esal = float(input("Enter Employee Salary : "))
eaddr = input("Employee Address :" )
Married = bool(input("Employee Married ? [True]/ [Flase] : "))
print("Please confirm information")


    
print("Employee Number : {}".format(eno))
print("Employee Name : {}".format(ename))
print("Employee Salary : {}".format(esal))
print("Employee Address : {}".format(eaddr))
print("Employee Married :  {}".format(Married))

In [ ]:
# how to read multiuple values from the keyboard in a single line

a, b = [int(x) for x in input("Enter two numbers : ").split()]
print("Product of a & b is  : {}".format(a*b))

### Note: 

    split() function can take space as seperator by default. But we can pass anything as seperator.

In [ ]:
# Write a program to read 3 flaot numbers from the keyboard with , seperator and print their sum

a,b,c = [float(x) for x in input("Enter three numbers : ").split(",")]
print("Sum of a,b,c : {}".format(a+b+c))

### eval():

    eval Function take a string and evaluate the result.
    
    eval() can evaluate the input to list, tuple, set, etc based on the provided input.

In [ ]:
x = eval("10+11+12")
print(x)

In [ ]:
x = eval(input("Enter Expression : "))
x

In [ ]:
i = eval(input("Enter List : "))
print(type(i))
print(i)

In [ ]:
import sys
print(sys.version)

## Command line Arguments   -> Need to get more clarity on it

1. argv is not array it is a list. It is avilable sys Module.
2. The Argument which are passing at the time of execution are called command line arguments.

In [ ]:
# Need to include image in Jupyter note book

In [ ]:
# write a program to display command line Arguments

from sys import argv
print("The Number of Command Line Arguments : ", len(argv))
print("The List of command line Arguments : ", argv)
print("Command line Arguments one by one:")

for x in argv:
    print(x)

## Output Statments

    We can use print() function to display output.
    
    print() without any argument , it prints justnew line character

In [ ]:
print(String):

In [ ]:
print("Hellow World")

In [ ]:
# we can use escape character also

print("Hellow \n World")

In [ ]:
# tab Spaced
print("Hellow \t World")

In [ ]:
# We can use repetetion operator(*)in the String

print('Repetition' *5)

In [ ]:
# we can use  +{Concatination} operator also for the strings

print("Python + Data Sceince")

### Note :

    If both arguments are string type then + operator acts as concatination operator
    
    If one argument is string type and secoend is any other type like int then we will get error.
    
    If both the operators are number type then + operator acts as arthmetic addition operator.

In [ ]:
print("Hello" +"World")
print("Hello","World")

In [ ]:
# print() with varaible number of arguments

a,b,c = 9,8,7

print("All the Varaibles : ",a,b,c)

In [ ]:
# By Defaultly out put values are seperated by space. If we want we can specify seperator by using "sep"

print(a,b,c,)

print(a,b,c,sep = ",")

print(a,b,c,sep = ":")

print(a,b,c,sep = "_")

In [ ]:
# print()with end attribute 

print("This")
print("is")
print("Python")

In [ ]:
# need to keep space in between ""

print("This",end = "")
print("is")
print("Python")

In [ ]:
print("This",end = " ")
print("is",end = " ")
print("Python",end = " ")

In [ ]:
print("This",end = "")
print("is",end = "")
print("Python",end = "")

In [ ]:
# print(object) statment
lis = [1,2,3,4,5]
tup = [6,7,8,9,10]
print(lis)
print(tup)

In [ ]:
# print(formatted string )

    %i  -> int
    
    %d  -> int

In [ ]:
a = 9
b = 19
c = 29

print("a value is %i"%a, )

print("a value is %d"%a)

print("a value is %f"%a)

print("a value is %s"%a)

print("a value is %i and b value is %f and c value is %s" %(a,b,c))

In [ ]:
# replacement operator {}

Name = 'Mohan'

Number = 9

print("My Name is {} and Number is {}".format(Name, Number))

# Flow control Staments

    Flow control describes the order in which statments will be executed at runtime.
    
    
    Control FLow 
    ------------
    
        1. Conditional Statments 
                    1. If
                    2. If - elif
                    3. If - elif -else
        
        2. Transfer Statments
                    1. Break
                    2. Continue
                    3. Pass
        
        3. Iterative Statments
                    1. For
                    2. While

# Conditional Statements

## if

    if condition:statment

        or 
        
    if condition:
    
        Statment -  1
    
        Statment -  2
    
        Statment -  3
    
#### If condition is true then statments will be executede.

## If -elif

## if- else

## if-elif -else

In [ ]:
# Write a program to find biggest of given 2 Numbers from the command Promt

n1 = int(input("Enter the first Number :"))

n2 = int(input("ENter the secoend Number: "))

if n1 > n2:
    print("{} is bigger than {}".format(n1,n2))
    
else:
    print("{} is bigger than {}".format(n2,n1))

In [ ]:
# Write a program to find biggest of given 2 Numbers from the command Promt

n1 = int(input("Enter the first Number :"))

n2 = int(input("ENter the secoend Number: "))

n3 = int(input("Enter third Number : "))

if n1 > n2 and n1 > n3:
    print("{} is bigger than {} and {}".format(n1,n2,n3))
    
elif n2 > n3 :
    print("{} is bigger than {} and {}".format(n2,n1,n3))
    
else:
    print("{} is bigger than {} and {}".format(n3,n1,n2))

In [ ]:
# Write a Program to check wheather the given Number is in Between 1 an100

n1 = int(input("Enter the first Number :"))

if n1>=1 and n1<=100:
    print("The {} in Between 1 & 100".format(n1))
    
else:
    print("The {} not in Between 1 & 100".format(n1))

# Iterative Statments

    If we want to execute a group of statments multiple times then we should go for Iterative statments.
    
    Python Supports two types of Iterative Statments.
            1. For loop
            2. While Loop
            
## For Loop:

    If we want to execute some action for every element present in some sequence
    (It may be string or collection) then we should go for "for" loop.
    
### Syntax:

    for x in sequence:
        
        Body
        
    Where sequence can be string or any collection.
    
    Body will be executed for every element present in the sequence.

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
for num in a:
    print(num)

In [ ]:
s = "This is Python"

for let in s:
    print(let)

In [ ]:
# To print Characters present in string index wise

s= input("Enter some String :")

i = 0 

for let in s:
    print("The caharacter present at ",i,"index is ",let)
    i = i+1

In [ ]:
# To print Hello 10 times

for x in range(10):
    print("Hello")

In [ ]:
# To display numbers from 0 to 10 

for x in range(11):
    print(x)

In [ ]:
# To display odd numbers from 0 to 20

for num in range(20):
    if (num%2!=0):
        print(num)

In [ ]:
# To display numbers from 10 to 1 in descending order

for x in range(10,0,-1):
    print(x)

In [ ]:
# To print sum of numbers present inside a list

lis_1 = eval(input("Enter a list : "))
sum = 0
for num in lis_1:
    sum = sum + num
print("The sum of the List : ", sum)

## 2. While Loop

    If we want to execute a group of statments iterativelyuntil some condition false, then we should go for while loop.
    
    Synatax:
            While condition:
             Body of program

In [ ]:
# To print numbers from 1 to 10 by using while loop

num = 1
while num<=10:
    print(num)
    num = num+1

In [ ]:
# To display the sum of first n numbers

n = int(input("Enter the number :"))

sum = 0 
i = 1

while i <= n:
    sum = sum+i
    i = i +1
print(sum)

In [ ]:
# write a program to promt user to enter some name until entering "Python"

name = ""

while name!='Python':
    name = input("Entert name")
print("Thanks for your confirmation")

In [ ]:
# Infinite Loop

i = 0 

# while True:
    i = i +1
    print("Hello", i)

In [ ]:
# Infinite Loop

i = 0 

# while i >=0:
    i = i +1
    print("Hello", i)

## Nested Loops

    Some times we can take a loop inside another loop, which are also known as nested loops.

In [ ]:
for i in range(4):
    for j in range(4):
        print("i=",i," j=",j)

In [ ]:
# write a program to display *'s' in right angle triangle form

n = int(input("Enter the number of Rows : "))
for i in range(1, n+1):
    for j in range(1, i+1):
        print("*")
    print()

In [ ]:
# write a program to display *'s' in right angle triangle form

n = int(input("Enter the number of Rows : "))

for i in range(1, n+1):
    print("*" * i)

In [ ]:
# write a program to display *'s' in right angle triangle form

n = int(input("Enter the number of Rows : "))
for i in range(1, n+1):
    for j in range(1, i+1):
        print("*", end = "")
    print()

In [ ]:
# write a program to display *'s in Pyramid Styel'{Equivalent Triangle}

n = int(input("Enter the number of Rows : "))
for i in range(1, n+1):
    print("" * (n-1), end ="")
    print("*"*i)

In [ ]:
# write a program to display *'s in Pyramid Styel'{Equivalent Triangle}

n = int(input("Enter the number of Rows : "))
for i in range(1, n+1):
    print(" " * (n-i), end ="")
    print("*"*i)

In [ ]:
# write a program to display *'s in Pyramid Styel'{Equivalent Triangle}

n = int(input("Enter the number of Rows : "))
for i in range(1, n+1):
    print(" " * (n-i), end ="")
    print("* "*i)

# 3. Transfer Statments

## 1. break:

    we can use break statment inside loops to break loop execution based on some condition.

In [ ]:
for i in range(10):
    if i ==7:
        print("Processing is enough.. plz break")
        break
    print(i)

In [ ]:
cart = [10,20,30,40,50,100,200,400,800,1000]

for item in cart:
    if item>50:
        print("It should be less than 50")
        break
    print(item)

## 2. Continue

    we can use continue statment to skip current iteration and continoue next iteration.

In [ ]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

In [ ]:
cart = [10,20,100,200,400,800,1000,30,40,50,]

for item in cart:
    if item>500:
        print("It should be less than 50")
        continue
    print(item)

### loops with else block:

    Inside loop execution, if break statment not executed, then only else part will be executed.
    
    Else means loop without break.

In [ ]:
cart = [10,20,30,40,50]

for item in cart:
    if item>=500:
        print("It should be greater than 500")
        break
    print(item)
else:
    print("successful")

#### What is the difference between for loop and while loop in python?

    We can use loops to repeat code execution.
    
    Repeat code for every item in sequence     -> for loop
    
    Repeat code as long as condition is true   -> While Loop
    
    How to exit from the loop ?                -> By using break statment
    
    How to skip some iterations inside loop?   -> By using Continue
    
    When else part will be executed wrt loops? -> If loop executed without break

## 3. Pass Statement: 
    
    Pass is a keywoard in python.
    
    In our programming synatactically if block is required which won't do anything then we can define that empty block with pass keyword.


### Pass:

| - it is an empty statment

| - it is null statment

| - it won't do anything


Eg :  If true:

      SyntaxError: Unexpected EOF While Parsing
      
      If True: Pass -> Valid
      
      
      
      def m1()
      
          SynaxError : Unexpected EOF while Parsing
          
          def m1(): pass

### Use case of Pass


    Sometimes in the parent class we have to declare a function with empty body and child class responsible to provide proper implementation. such type of empty body we can define by using pass Keywoard. 
    
    eg: def m1(): Pass

In [ ]:
for i in range(100):
    if i %9 ==0:
        print(i)
    else: pass

## del statment:

    del is a keywoard in Pyhton.
    
    After using a variable, It is highly recomended to delete that varaibale if it is no longer required, so that thte corresponding object is eligible for Garbage collecton.
    
    We can delete varaible by using del keyword.

In [ ]:
x= 10

x

In [ ]:
del x

x

## Note: 
    we can delete varibles which are pointing to immutable objects. But we cannot delete the elements present inside immutable objects.

In [ ]:
s = "Python"
print(s)

del s[0]

## Difference between del and None:

In the case del , the varaible will be removed and we cannot access theat variable(unbind operation)

In [ ]:
s = 'Python'
del s
print(s)

    But in the case of None assignment the varaible won't be removed but corresponding object is eligible for garbage collection(re bind operation). Hence after assigning with None Value, We can access that variable.

In [ ]:
s = 'Python'
s = None
print(s)

## String dataType

    The most commonly used object in any project and in any programming language is string only. Hence we should aware complete information about string data type.

### What is String ?

    Any Sequence of characters within either single quotes or double quotes is considered as a string.
    
    Syntax :
    
        m = 'Mohan'
    
        m1 = "Mohan"
    
    
    Note:-
        In most of other languages like c, c++, java, a singlecharacter with in single quotes is treated as char data type value. But in python we are not having char data type. Hence it is treated as string only.

In [ ]:
m  = 'String'
n = "Python"

# not char its a string 
p = 's'

print(type(m))

print(type(n))

print(type(p))  # its not a char

## How to define multi-line string Literals?

    We can define multi-line String literals by using triple signle or double quotes.

In [ ]:
s = '''Python 
is Very 
Easy and powerfull Language'''
s

In [ ]:
s = 'This is' single quote Symbol'    # invalid

In [ ]:
s = 'This is \' single quote symbol'  # valid

In [ ]:
s = "This is 'single quuote symbol"   # valid

In [ ]:
s= 'this is" double quote symbol'     # valid

In [ ]:
s = 'The"Python Notes"by'is very helpfull'  # invalid

In [ ]:
s = "The "Python Notes" by 'durga' is very helpfull"  # invalid

In [ ]:
s = 'The \" Python Notes" by \'durga\' is very helpful'   # valid

In [ ]:
s = '''The "Python Notes"by'durga'is very helpfull'''     # Valid

In [ ]:
## How to access characters of a string ?

    We can access characters of a string by using the following ways
    
        1. By Using index   {+ve index, -ve index}
        2. By Using slice operator

1. write a program to accept some string from the keyboard and display it's  characters by index wise (Both Positive and Negetive)

In [ ]:
s = input("Enter the String : ")

i = 0 

for c in s:
    print("The caharater present at the +ve index {} and at -ve index {} is {}".format(i,i-len(s),c))
    i = i +1

 --> slicing of string with positive and -ve indexes

2. Write a program to access each character of string in Forward and backwoard Direction by using while loop?

In [ ]:
s = "This is Python"

n= len(s)
i = 0
print("Forward direction")
while i < n:
    print(s[i])
    i = i +1
    
print("Backwoard direction")

i = -1

while i >= -n:
    print(s[i])
    i = i-1

In [ ]:
s = "This is Python"

n= len(s)
i = 0
print("Forward direction")
while i < n:
    print(s[i],end = '')
    i = i +1
    
print("Backwoard direction")

i = -1

while i >= -n:
    print(s[i],end = '')
    i = i-1

In [ ]:
# checking membership

m = "This is python"

print('q' in m )

print('t' in m )

In [ ]:
## Practice programs 
 # Exam marks (if -elif - else)

# 1. Model






marks = int(input("Enter the marks Obtained in the exam: "))

# marks = 600

if 0<marks<=200:
    print("Student Failed examination")
    
elif 201<marks<=400:
    print("Grade c")
    
elif 401<marks<=700:
    print("Grade B")
    
elif 701<marks<=900:
    print("Grade A")

elif 900<marks<=1000:
    print('Grade A+')
    
else:
    print("Enter the marks in the corrfect format")
    
if marks%2==0:
    print("Marks Obtained are even")
    
else:
    print("Marks Obtained are Odd")

In [ ]:
marks = input("Enter the Marks Obtained :")

if(type(marks)==int):
    
    if(marks <0):
        print("There are no negitive marks please enter proper marks.")

    elif(0<= marks <300):
        print("He is Failed :" )

    elif(300<=marks<400):
        print("This strudent belongs to Bronze group")

    elif(400<= marks <500):
        print("This strudent belongs to silver group")

    elif(500<= marks <550):
        print("This strudent belongs to Gold group")

    elif(550<marks<=600):
        print("This strudent belongs to Platinum group")

    elif(marks >600):
        
        print("Actually this exams max marks are 600 only no chance to get this many marks.")
               

else:

    print("Enter marks in Proper format")

In [ ]:
1 - 1000   divide 10 grades  -> ABCDEFGHIJ

In [ ]:
# while loop

a = 100 
while a<120:
    print("A")
    a +=1

In [5]:
name=int(input('enter your age '))

if name>=25:
    print('your tiket cost is 300')
    
else :
    print('your tiket cost is 100')

enter your age 25
your tiket cost is 300

In [3]:
dict={'Fruit_Name':[2,3,4,5]}

In [5]:
dict.vs

In [8]:
import numpy as geek 
   
# 1D Array 
array = geek.random.rand(5) 
print("1D Array filled with random values : \n", array)

1D Array filled with random values :
 [0.62450251 0.19439613 0.99110446 0.90184766 0.57925622]

In [9]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

In [10]:
string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

In [12]:
numbers = [1, 3, 4, 2] 
  
# Sorting list of Integers in ascending 
numbers.sort() 
  
print(numbers)

[1, 2, 3, 4]

In [15]:
numbers = [1,2,3,4] 
  
# Sorting list of Integers in ascending 
numbers.sort() 
  
print(numbers[-1::-1])

[4, 3, 2, 1]

In [27]:
a=[1,2,3,4,5]
for i in range (1,5):
    a[i-1] = a[i]
    print(a[i])
for i in range (0,5):
    print(a[i],end = ' ')

2
3
4
5
2 3 4 5 5

In [26]:
for i in range (1,5):
    print(i)

1
2
3
4