In [1]:
num=[num for num in range(10)]
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
ram=['even' if num%2==0 else 'odd' for num in range (11)]
ram

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [4]:
letter=[i for i in 'ritesh']
letter

['r', 'i', 't', 'e', 's', 'h']

In [7]:
r=[x for x in range(10) if x%2==0]
r

[0, 2, 4, 6, 8]

In [11]:
num_list=[y for y in range(110) if y %2==0 if y % 5==0]
num_list

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [13]:
num=range(100)
for i in num:
    if i%2==0:
        if i%5==0:
            print(i)

0
10
20
30
40
50
60
70
80
90

In [14]:
transposed = []
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]

for i in range(len(matrix[0])):
    transposed_row = []

    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

print(transposed)

#Output: [[1, 4], [2, 5], [3, 6]]

[[1, 4], [2, 5], [3, 6], [4, 8]]

In [15]:
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]

for i in range(len(matrix[0])):
    transposed_row = []

[]

In [16]:
matrix = [[1, 2], [3,4], [5,6], [7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)]
print (transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [18]:
bb=[a for a in range(1,11,2)]
bb

[1, 3, 5, 7, 9]

In [20]:
w=[s for s in range(2)]
w

[0, 1]

In [22]:
#using list comprehension
number=[x**y for x in [10,20,30] for y in [2,3,4]]
number

[100, 1000, 10000, 400, 8000, 160000, 900, 27000, 810000]

In [23]:
# using for loop
a=[10,20,30]
b=[2,3,4]
for i in a:
    for g in b:
        print(i**g)

100
1000
10000
400
8000
160000
900
27000
810000

In [52]:
dd=[[x,'*', y ,'=',x*y] for x in range(1,11) for y in range(1,11)]
dd

[[1, '*', 1, '=', 1],
 [1, '*', 2, '=', 2],
 [1, '*', 3, '=', 3],
 [1, '*', 4, '=', 4],
 [1, '*', 5, '=', 5],
 [1, '*', 6, '=', 6],
 [1, '*', 7, '=', 7],
 [1, '*', 8, '=', 8],
 [1, '*', 9, '=', 9],
 [1, '*', 10, '=', 10],
 [2, '*', 1, '=', 2],
 [2, '*', 2, '=', 4],
 [2, '*', 3, '=', 6],
 [2, '*', 4, '=', 8],
 [2, '*', 5, '=', 10],
 [2, '*', 6, '=', 12],
 [2, '*', 7, '=', 14],
 [2, '*', 8, '=', 16],
 [2, '*', 9, '=', 18],
 [2, '*', 10, '=', 20],
 [3, '*', 1, '=', 3],
 [3, '*', 2, '=', 6],
 [3, '*', 3, '=', 9],
 [3, '*', 4, '=', 12],
 [3, '*', 5, '=', 15],
 [3, '*', 6, '=', 18],
 [3, '*', 7, '=', 21],
 [3, '*', 8, '=', 24],
 [3, '*', 9, '=', 27],
 [3, '*', 10, '=', 30],
 [4, '*', 1, '=', 4],
 [4, '*', 2, '=', 8],
 [4, '*', 3, '=', 12],
 [4, '*', 4, '=', 16],
 [4, '*', 5, '=', 20],
 [4, '*', 6, '=', 24],
 [4, '*', 7, '=', 28],
 [4, '*', 8, '=', 32],
 [4, '*', 9, '=', 36],
 [4, '*', 10, '=', 40],
 [5, '*', 1, '=', 5],
 [5, '*', 2, '=', 10],
 [5, '*', 3, '=', 15],
 [5, '*', 4, '=', 20],
 [5, '*', 5, '=', 25],
 [5, '*', 6, '=', 30],
 [5, '*', 7, '=', 35],
 [5, '*', 8, '=', 40],
 [5, '*', 9, '=', 45],
 [5, '*', 10, '=', 50],
 [6, '*', 1, '=', 6],
 [6, '*', 2, '=', 12],
 [6, '*', 3, '=', 18],
 [6, '*', 4, '=', 24],
 [6, '*', 5, '=', 30],
 [6, '*', 6, '=', 36],
 [6, '*', 7, '=', 42],
 [6, '*', 8, '=', 48],
 [6, '*', 9, '=', 54],
 [6, '*', 10, '=', 60],
 [7, '*', 1, '=', 7],
 [7, '*', 2, '=', 14],
 [7, '*', 3, '=', 21],
 [7, '*', 4, '=', 28],
 [7, '*', 5, '=', 35],
 [7, '*', 6, '=', 42],
 [7, '*', 7, '=', 49],
 [7, '*', 8, '=', 56],
 [7, '*', 9, '=', 63],
 [7, '*', 10, '=', 70],
 [8, '*', 1, '=', 8],
 [8, '*', 2, '=', 16],
 [8, '*', 3, '=', 24],
 [8, '*', 4, '=', 32],
 [8, '*', 5, '=', 40],
 [8, '*', 6, '=', 48],
 [8, '*', 7, '=', 56],
 [8, '*', 8, '=', 64],
 [8, '*', 9, '=', 72],
 [8, '*', 10, '=', 80],
 [9, '*', 1, '=', 9],
 [9, '*', 2, '=', 18],
 [9, '*', 3, '=', 27],
 [9, '*', 4, '=', 36],
 [9, '*', 5, '=', 45],
 [9, '*', 6, '=', 54],
 [9, '*', 7, '=', 63],
 [9, '*', 8, '=', 72],
 [9, '*', 9, '=', 81],
 [9, '*', 10, '=', 90],
 [10, '*', 1, '=', 10],
 [10, '*', 2, '=', 20],
 [10, '*', 3, '=', 30],
 [10, '*', 4, '=', 40],
 [10, '*', 5, '=', 50],
 [10, '*', 6, '=', 60],
 [10, '*', 7, '=', 70],
 [10, '*', 8, '=', 80],
 [10, '*', 9, '=', 90],
 [10, '*', 10, '=', 100]]

In [57]:
m1=[[1,2,3],[4,5,6],[7,8,9]]
m2=[[9,8,7],[6,5,4],[3,2,1]]
m1[2][2]

9

In [58]:
m=[x[2] for x in m1 ]
m

[3, 6, 9]

In [60]:
resulte=[]
for x in range(10):
    if x%2==0:
        resulte.append(x)
resulte

[0, 2, 4, 6, 8]

In [62]:
ee=[i for i in range(10) if i%2==0] 
ee

[0, 2, 4, 6, 8]

In [64]:
shark_letters = [letter for letter in 'shark']
print(shark_letters)

['s', 'h', 'a', 'r', 'k']

In [76]:
ram=('rohit','ram','syam','gopi')
w=[name for name in ram if name !='gopi']
w

['rohit', 'ram', 'syam']

In [74]:
fish_tuple = ('blowfish', 'clownfish', 'catfish', 'octopus')

fish_list = [fish for fish in fish_tuple if fish != 'catfish']
print(fish_list)

['blowfish', 'clownfish', 'octopus']

In [75]:
ro=('a','b','c')
ff=[i for i in ro if i != 'c']
ff

['a', 'b']

In [77]:
q=[r for r in range(100) if r%2==0 if r%3==0]
q

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [91]:
for x in [20,30,40]:
    for y in [2,3,4]:
        print(x*y)

40
60
80
60
90
120
80
120
160

In [79]:
ss=[w*t for w in [20,30,40] for t in [2,3,4]]
ss

[40, 60, 80, 60, 90, 120, 80, 120, 160]

In [99]:
harish=[j**100 for j in range(20)]
harish

[0,
 1,
 1267650600228229401496703205376,
 515377520732011331036461129765621272702107522001,
 1606938044258990275541962092341162602522202993782792835301376,
 7888609052210118054117285652827862296732064351090230047702789306640625,
 653318623500070906096690267158057820537143710472954871543071966369497141477376,
 3234476509624757991344647769100216810857203198904625400933895331391691459636928060001,
 2037035976334486086268445688409378161051468393665936250636140449354381299763336706183397376,
 265613988875874769338781322035779626829233452653394495974574961739092490901302182994384699044001,
 10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000,
 137806123398222701841183371720896367762643312000384664331464775521549852095523076769401159497458526446001,
 828179745220145502584084235957368498016122811853894435464201864103254919330121223037770283296858019385573376,
 2479335110965972533511072884734865136238774467874941149812189099406158699837975560158285662939982180192171594001,
 4100186088849932880529641652467097254580106752379202732219712635674892614660264830614790322190186581981413953765376,
 4065611775352152373972797075670416710103878906323797634290517698787563831961701377171181093217455781996250152587890625,
 2582249878086908589655919172003011874329705792829223512830659356540647622016841194629645353280137831435903171972747493376,
 1108899372780783641306111715875094966436017167649879524402769841278887580501366697712424694256005093589248451503068397608001,
 336705732427516898587460627772004697542605295316077247452351004740460372771448563031143507354757009822674618697405379563749376,
 75051624198251984443456989853061891539043939434909537798332873934101480896578056472849915762891214746171016655874432115640378001]

In [100]:
vv=[r for r in range (1,100,2)]
vv

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [105]:
S = [x**2 for x in range(10)]
V = [2**i for i in range(13)]
M = [x for x in S if x % 2 == 0]
print(S)
print(V)
print(M)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]
[0, 4, 16, 36, 64]

In [5]:
number=[(x,'*',y,'=',x*y) for x in range(1,11) for y in range(1,11)]
number

[(1, '*', 1, '=', 1),
 (1, '*', 2, '=', 2),
 (1, '*', 3, '=', 3),
 (1, '*', 4, '=', 4),
 (1, '*', 5, '=', 5),
 (1, '*', 6, '=', 6),
 (1, '*', 7, '=', 7),
 (1, '*', 8, '=', 8),
 (1, '*', 9, '=', 9),
 (1, '*', 10, '=', 10),
 (2, '*', 1, '=', 2),
 (2, '*', 2, '=', 4),
 (2, '*', 3, '=', 6),
 (2, '*', 4, '=', 8),
 (2, '*', 5, '=', 10),
 (2, '*', 6, '=', 12),
 (2, '*', 7, '=', 14),
 (2, '*', 8, '=', 16),
 (2, '*', 9, '=', 18),
 (2, '*', 10, '=', 20),
 (3, '*', 1, '=', 3),
 (3, '*', 2, '=', 6),
 (3, '*', 3, '=', 9),
 (3, '*', 4, '=', 12),
 (3, '*', 5, '=', 15),
 (3, '*', 6, '=', 18),
 (3, '*', 7, '=', 21),
 (3, '*', 8, '=', 24),
 (3, '*', 9, '=', 27),
 (3, '*', 10, '=', 30),
 (4, '*', 1, '=', 4),
 (4, '*', 2, '=', 8),
 (4, '*', 3, '=', 12),
 (4, '*', 4, '=', 16),
 (4, '*', 5, '=', 20),
 (4, '*', 6, '=', 24),
 (4, '*', 7, '=', 28),
 (4, '*', 8, '=', 32),
 (4, '*', 9, '=', 36),
 (4, '*', 10, '=', 40),
 (5, '*', 1, '=', 5),
 (5, '*', 2, '=', 10),
 (5, '*', 3, '=', 15),
 (5, '*', 4, '=', 20),
 (5, '*', 5, '=', 25),
 (5, '*', 6, '=', 30),
 (5, '*', 7, '=', 35),
 (5, '*', 8, '=', 40),
 (5, '*', 9, '=', 45),
 (5, '*', 10, '=', 50),
 (6, '*', 1, '=', 6),
 (6, '*', 2, '=', 12),
 (6, '*', 3, '=', 18),
 (6, '*', 4, '=', 24),
 (6, '*', 5, '=', 30),
 (6, '*', 6, '=', 36),
 (6, '*', 7, '=', 42),
 (6, '*', 8, '=', 48),
 (6, '*', 9, '=', 54),
 (6, '*', 10, '=', 60),
 (7, '*', 1, '=', 7),
 (7, '*', 2, '=', 14),
 (7, '*', 3, '=', 21),
 (7, '*', 4, '=', 28),
 (7, '*', 5, '=', 35),
 (7, '*', 6, '=', 42),
 (7, '*', 7, '=', 49),
 (7, '*', 8, '=', 56),
 (7, '*', 9, '=', 63),
 (7, '*', 10, '=', 70),
 (8, '*', 1, '=', 8),
 (8, '*', 2, '=', 16),
 (8, '*', 3, '=', 24),
 (8, '*', 4, '=', 32),
 (8, '*', 5, '=', 40),
 (8, '*', 6, '=', 48),
 (8, '*', 7, '=', 56),
 (8, '*', 8, '=', 64),
 (8, '*', 9, '=', 72),
 (8, '*', 10, '=', 80),
 (9, '*', 1, '=', 9),
 (9, '*', 2, '=', 18),
 (9, '*', 3, '=', 27),
 (9, '*', 4, '=', 36),
 (9, '*', 5, '=', 45),
 (9, '*', 6, '=', 54),
 (9, '*', 7, '=', 63),
 (9, '*', 8, '=', 72),
 (9, '*', 9, '=', 81),
 (9, '*', 10, '=', 90),
 (10, '*', 1, '=', 10),
 (10, '*', 2, '=', 20),
 (10, '*', 3, '=', 30),
 (10, '*', 4, '=', 40),
 (10, '*', 5, '=', 50),
 (10, '*', 6, '=', 60),
 (10, '*', 7, '=', 70),
 (10, '*', 8, '=', 80),
 (10, '*', 9, '=', 90),
 (10, '*', 10, '=', 100)]

In [8]:
x={'a':1,'b':2}
y={'c':3,'d':4,'d':5}
z={**x,**y}
z

{'a': 1, 'b': 2, 'c': 3, 'd': 5}

In [11]:
dd=[c for c in range(10) if c%2==0]
dd

[0, 2, 4, 6, 8]

In [30]:
f=[1,2,3,4,5]
g=[6,7,8,9,10]
f.extend(g)
f

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
squares = [1, 4, 9, 16]
sum = 0
for num in squares:
    sum += num
sum

30

In [62]:
def ram(a,b):
return (a+b)
print(ram(1,2))

IndentationError: expected an indented block (<ipython-input-62-d3837df1cd46>, line 2)

In [64]:
def sum_1(a,b,c,d):
    return (a+b+c+d)

print(sum_1(5,6,7,8))

26

In [68]:
def sum_1(d):
    return (d**2)

print(sum_1(9))

81