# string formating

In [4]:
name='Ritesh'
age=36
print(f'your name is {name} and your age is {age}')

your name is Ritesh and your age is 36

ask user to give 3 numbers and you have to print average of this three numbers using string formating

In [7]:
date,month,year=input('pls enter your date of birth month and year comma separated:').split(',')
print(f'all three number average is {int(date)+int(month)+int(year)//3}')

pls enter your date of birth month and year comma separated:2,2,1990
all three number average is 691

string indexing

In [10]:
language='python'
# p=0=-6
# y=1=-5
# t=2=-4
# h=3=-3
# o=2=-2
# n=1=-1
#if we want to print t
print(language[2])
print(language[-4])

t
t

string slicing

In [13]:
lang='python'
#if we want to print multiple words like py
print(lang[0:2])
#if we want to print pyt
print(lang[0:3])

py
pyt

step argument

In [15]:
name='Ritesh'
print(name[0:5])

Rites

In [18]:
#if we want to print Rts
print(name[0:6:2])#-----it will skip one step

Rts

In [40]:
#if we want reverse of name than
print(name[6::-1])
print(name[4::-2])
print(name[-1::-1])

hsetiR
stR
hsetiR

ask user name and print back user name in reverse order.

In [42]:
user=input('please enter your name ')
print(f'your reverse name is {user[-1::-1]}')

please enter your name Ritesh Tiwari
your reverse name is irawiT hsetiR

String method

In [43]:
#len function
name='Rohan'
print(len(name))

5

In [46]:
#lower method
print(name.lower())

rohan

In [47]:
#upper method
print(name.upper())

ROHAN

In [48]:
#title method
print(name.title())

Rohan

In [ ]:
#count method
nam='Ritesh Tiwari'
print(nam.count('i'))

take user name input
(1)user name lenth
(2)count the char

In [3]:
user,char=input('please enter your name and char').split()
print(f'user name lenth is {len(user)} count of the char {user.count(char)}')

please enter your name and charriteshhh h
user name lenth is 8 count of the char 3

strip method

In [4]:
name='    ramesh      '# so many space is there so if want to remove that space we use strip method
print(name.strip())

ramesh

In [21]:
#center method

name='rahul'
print(name.center(6,"s"))

rahuls

operators

In [30]:
#add
name='syam'
name=name+'tiwari'
print(name)
age=24
age=age+1
age

syamtiwari

25

#and ,or operator

In [38]:
name="rohit"
age=26
if name=='rohit'and age==27:
    print('true')
else:
    print('false')

false

In [39]:
name="rohit"
age=26
if name=='rohit'or age==27:
    print('true')
else:
    print('false')

true

In [ ]:
exercise: Ask users name and age.If user name start with (a or A)and age is above 10 then 
    print 'you are eligible for watch this movie'
    else print 'you are not eligible for watch this movie'

In [43]:
name=input('pls enter your name'  )
age=input('pls enter your age')
age=int(age)
if age>10 and (name[0]=='a' or name[0]=='A'):
    print('you are eligible for watch this movie')
else:
    print('you are not eligible for watch this movie')

pls enter your nameAmit
pls enter your age2
you are not eligible for watch this movie

# list

In [ ]:
number=[1,2,3,4,5]
print(number,type(number))

In [ ]:
number.append('mango')
print(number)

In [51]:
print(number)

[1, 2, 3, 4, 5, 'mango', 'mango', 'mango', 'mango', 'mango', 'mango']

In [54]:
fruits=[]
fruits.append('ram')
fruits

['ram']

In [57]:
name=['ram','rohit','sunil']
#if we want add "sohan " in first position
name.insert(0,'sohan')
print(name)
name.insert(1,'syam')
print(name)

['sohan', 'ram', 'rohit', 'sunil']
['sohan', 'syam', 'ram', 'rohit', 'sunil']

In [58]:
# How to joint two list 
fruits1=['mango','orange']
fruits2=['graps','apple']
fruits=fruits1+fruits2
print(fruits)

['mango', 'orange', 'graps', 'apple']

In [60]:
#extend method in list
user1=['sohan','rohan']
user2=['ram','rahim']
user1.extend(user2)
print(user1)
print(user2)

['sohan', 'rohan', 'ram', 'rahim']
['ram', 'rahim']

In [61]:
user1.append(user2)
print(user1)

['sohan', 'rohan', 'ram', 'rahim', ['ram', 'rahim']]

In [65]:
#pop data from list
name=['harsit','harsh','syam','sunil']
pop=name.pop(0)
pop1=name.pop(2)
print(name)
print(pop)
print(pop1)

['harsh', 'syam']
harsit
sunil

In [81]:
#delete operator in list
name=['harsit','harsh','syam','sunil']
del name[2]
name

['harsit', 'harsh', 'sunil']

In [82]:
#if we don't know the position of data than we remove method
name=['harsit','harsh','syam','sunil']
name.remove("syam")
name

['harsit', 'harsh', 'sunil']

In [85]:
#(in keyword in list)if we want to check data is available or not in our list
name=['harsit','harsh','syam','sunil']
if 'harsit' in name:
    print('harshit is present')
else:
    print('not present')

harshit is present

In [100]:
#count method Return the number of times the value "harsh" appears int the name list:
name=['harsit','harsh','harsh','syam','sunil']
x=name.count('harsh')
print(x)

2

In [102]:
#sort method in list
fruits = ["apple","cherry",'banana']
fruits.sort()
fruits

['apple', 'banana', 'cherry']

In [103]:
#clear method in list:
name=['harsit','harsh','harsh','syam','sunil']
name.clear()
name

[]

In [105]:
#copy method
name=['harsit','harsh','harsh','syam','sunil']
copy=name.copy()
copy

['harsit', 'harsh', 'harsh', 'syam', 'sunil']

In [109]:
#split method in list
user='ritesh,36'.split(',')
print(user,type(user))

['ritesh', '36'] <class 'list'>

In [111]:
#join method if we want to convert list to string
name=['harsit','harsh']
x=(','.join(name))
print(x,type(x))

harsit,harsh <class 'str'>

In [117]:
#list inside list
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix[0])
print(matrix[0][2])

[1, 2, 3]
3

In [121]:
for num in matrix:
    for i in num:
         print(i)

1
2
3
4
5
6
7
8
9

In [122]:
num=list(range(1,11))
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [124]:
#min function in list
number=[2,3,4,5,6,7,8]
print(min(number))

2

In [ ]:
#max function in list
print(max(number))

# Nested list comprehention
Nested list means list inside list

In [49]:

new=[]
for i in range (4):
    new.append([1,2,3])
print(new)

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [61]:
e=[[i for i in range (1,4)] for j in range (3)]
e

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

8

# Tuple

In [1]:
#Tuple unpacking 
user=('ritersh','rohan','sohan')

a,b,c=(user)
print(a)

ritersh

In [2]:
#List inside tuple
name=('hamant',123,[123,456])
name[2].append('i am ritesh')
name

('hamant', 123, [123, 456, 'i am ritesh'])

In [3]:
#sum number in tuple
number=(1,2,3,4,5,6)
sum=sum(number)
sum

21

In [4]:
#Tuple to list 
num=(1,2,3,4,5,6)
num=list(num)
num

[1, 2, 3, 4, 5, 6]

In [111]:
num=(1,2,3,4,[5,6,7])
num[4][0]=909
num

(1, 2, 3, 4, [909, 6, 7])

In [114]:
num=(1,2,3)
del(num)
num

NameError: name 'num' is not defined

# Dictionaries

In [24]:
user={'name':'Ritesh','age':36}
print(user['name'])
print(user['age'])
a=user.keys()
b=user.values()
print(b)
print(a)

Ritesh
36
dict_values(['Ritesh', 36])
dict_keys(['name', 'age'])

In [35]:
user={'name':'Ritesh','age':36,'movie':'DDLJ','song':'DHKMN'}
user_item=user.items()
print(user_item)
for i,j in user.items():
    print(f'your key is {i}and your value is {j}')

dict_items([('name', 'Ritesh'), ('age', 36), ('movie', 'DDLJ'), ('song', 'DHKMN')])
your key is nameand your value is Ritesh
your key is ageand your value is 36
your key is movieand your value is DDLJ
your key is songand your value is DHKMN

In [38]:
aa={'name':'Ritesh','age':36,'movie':'DDLJ','song':'DHKMN'}
mm=aa.items()
print(mm)
for i,k in mm:
    print(f'your key is {i}and your value is {k}')

dict_items([('name', 'Ritesh'), ('age', 36), ('movie', 'DDLJ'), ('song', 'DHKMN')])
your key is nameand your value is Ritesh
your key is ageand your value is 36
your key is movieand your value is DDLJ
your key is songand your value is DHKMN

In [39]:
#Add & delete data from dictionaries:
#Add data
aa={'name':'Ritesh','age':36,'movie':'DDLJ','song':'DHKMN'}
aa['fav_book']=['pilot','nirogdham']
aa

{'name': 'Ritesh',
 'age': 36,
 'movie': 'DDLJ',
 'song': 'DHKMN',
 'fav_book': ['pilot', 'nirogdham']}

In [42]:
#pop method:
aa={'name':'Ritesh','age':36,'movie':'DDLJ','song':'DHKMN'}
m=aa.pop('age')
print(aa)
print(m)

{'name': 'Ritesh', 'movie': 'DDLJ', 'song': 'DHKMN'}
36

In [44]:
#update mathod:
user={'name':'Ritesh','age':36,'movie':'DDLJ','song':'DHKMN'}
name={'school':'LLPUVM','town':'Rampur'}
user.update(name)
user

{'name': 'Ritesh',
 'age': 36,
 'movie': 'DDLJ',
 'song': 'DHKMN',
 'school': 'LLPUVM',
 'town': 'Rampur'}

In [1]:
#clear method
user={'name':'Ritesh','age':36,'movie':'DDLJ','song':'DHKMN'}

print(user.clear())

None

In [2]:
#copy method
user={'name':'Ritesh','age':36,'movie':'DDLJ','song':'DHKMN'}
d1=user.copy()
print(d1)

{'name': 'Ritesh', 'age': 36, 'movie': 'DDLJ', 'song': 'DHKMN'}

In [6]:
#How to make dictionary
user={}
name=input('enter your name')
age=input('enter your age')
movie=input('what is fav movie')
user['name']=name
user['age']=age
user['movie']=movie
print(user)

enter your nameRitesh
enter your age36
what is fav movieDDLJ
{'name': 'Ritesh', 'age': '36', 'movie': 'DDLJ'}

In [62]:
for key,value in user.items():
    print(f'{key}:{value}')

name:Ritesh
age:36
movie:DDLJ

### Dictionary comprehention

In [63]:
s={num:num**2 for num in range (1,11)}
s

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [67]:
f={f'square of {num} is ':num**2 for num in range (1,11)}
f

{'square of 1 is ': 1,
 'square of 2 is ': 4,
 'square of 3 is ': 9,
 'square of 4 is ': 16,
 'square of 5 is ': 25,
 'square of 6 is ': 36,
 'square of 7 is ': 49,
 'square of 8 is ': 64,
 'square of 9 is ': 81,
 'square of 10 is ': 100}

In [70]:
string='Riteshh'
word={char:string.count(char) for char in string}
word

{'R': 1, 'i': 1, 't': 1, 'e': 1, 's': 1, 'h': 2}

name:Ritesh
age:36
movie:DDLJ

# set

In [12]:
#its not repeat same items.
number={1,2,2,3,4,5,5,6,7,7,7,7,8,9,10}
print(number,type(number))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10} <class 'set'>

In [10]:
#set to list 
S2=list(number)
print(S2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
#add method in set
s={1,2,3,4,5}
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [15]:
#Remove method in set 
r={1,2,3,4}
r.remove(4)
r

{1, 2, 3}

In [16]:
# clear method in set
S={1,2,3,4,5}
s.clear()
s

set()

In [ ]:
# copy method in set

w=S.copy()
w

In [25]:
# simple way for nagative number 1 to 11
nagative=[]
for i in range (0,12)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11]

In [26]:
#list comprehension
nag=[-i for i in range(1,11)]
print(nag)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [29]:
name=['Ritesh','mupesh','sakesh']
f=[]
for i in name:
    f.append(i[0])
print(f)

['R', 'm', 's']

In [30]:
m=[i[0] for i in name ]
m

['R', 'm', 's']

In [ ]:
# list comprehension with if statment

In [32]:
even=[]
num=[1,2,3,4,5,6,7,8,9,10]
for i in num:
    if i%2==0:
        even.append(i)
print(even)

[2, 4, 6, 8, 10]

In [45]:
num=[1,2,3,4,5,6,7,8,9,10]
evnag=[]
for i in num:
    if i%2==0:
        evnag.append(i**2)
    else :
        evnag.append(-i)
print(evnag)

[-1, 4, -3, 16, -5, 36, -7, 64, -9, 100]

In [47]:
#same program in list comprehention
we=[i**2 if i%2==0 else -i for i in num]
print()

[-1, 4, -3, 16, -5, 36, -7, 64, -9, 100]

# union and intersection

In [19]:
#for union we use | pipe
s1={1,2,3,4,5,6,7}
s2={1,2,3,4,5,6,7,8,9,10}
q=s1|s2
q

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [20]:
# for intersection we use &
s1={1,2,3,4,5,6,7}
s2={1,2,3,4,5,6,7,8,9,10}
w=s1&s2
w

{1, 2, 3, 4, 5, 6, 7}

In [75]:
abc=123
print(123*5)

615

In [76]:
print(int(40.4))

40

In [77]:
print(float(40))

40.0

In [83]:
print(chr(4))



In [84]:
print(chr(40.4))

TypeError: integer argument expected, got float

In [129]:
x=range(0,11)
for i in x:
        print(i)

0
1
2
3
4
5
6
7
8
9
10

In [108]:
a=[]
a.append('ritesh')
a

['ritesh']

In [110]:
a=[1,2,3,4,5,8]
s=len(a)
print(s)

6

In [121]:
print(bool(123))
print(bool(13.3))
print(bool(0))
print(bool('char'))
print(bool())

True
True
False
True
False

### if elif eise

In [154]:
#if statment 
mark=90
if 100<mark<350:
    print('you passed')
else:
    print('faiild')

faiild

In [159]:
mark1=560
if 500<mark1>550:
    print('rr')

rr

In [8]:
#if elif else
student_mark=int(input('Enter your marks:\n'))
if 550<student_mark<=600:
    print('you got A grade')
elif 500<student_mark<=550:
    print('you got B grade')
elif 450<student_mark<=500:
    print('you got C grade')
elif 400<student_mark<=450:
    print('you got D grade')
elif 0<student_mark<=400:
    print('you got D grade')  
else:
    print('Enter the correct marks')
student_mark=str(student_mark)
total=0
i=0
while i <len(student_mark):
    total+=int(student_mark[i])
    i+=1
    print(total)

Enter your marks:
223
you got D grade
2
4
7

In [20]:
student_mark=str(student_mark)
total=0
i=0
while i <len(student_mark):
    total+=int(student_mark[i])
    i+=1
    print(total)

2
4
7

In [176]:
# For and if elif along with append functionality
limit=range(800)
num_divided_12=[]
num_divided_15=[]
num_divided_20=[]
num_divided_30=[]
num_remain=[]
for num in limit:
    if num%12==0:
        num_divided_12.append(num)
    elif num%15==0:
        num_divided_15.append(num)
    elif num%20==0:
        num_divided_20.append(num)
    elif num%30==0:
        num_divided_30.append(num)
    else:
        num_remain.append(num)
    
print("Number of integers with multiples of 12 : ",len(num_divided_12)) 
print("Number of integers with multiples of 15 : ",len(num_divided_15))
print("Number of integers with multiples of 20 : ",len(num_divided_20))
print("Number of integers with multiples of 30 : ",len(num_divided_30))
print("Number of remaining : ",len(num_remain))
        
print(len(num_divided_12)+len(num_divided_15)+len(num_divided_20)+len(num_divided_30)+len(num_remain))

Number of integers with multiples of 12 :  67
Number of integers with multiples of 15 :  40
Number of integers with multiples of 20 :  26
Number of integers with multiples of 30 :  0
Number of remaining :  667
800

In [178]:
number_div_by_39 = [num for num in range(1000) if num%37==0]
print(number_div_by_39)
print("length",len(number_div_by_39))

[0, 37, 74, 111, 148, 185, 222, 259, 296, 333, 370, 407, 444, 481, 518, 555, 592, 629, 666, 703, 740, 777, 814, 851, 888, 925, 962, 999]
length 28

In [21]:
num2=['num22'if i%122==0 else 'not required'for i in  range (1000)]
print(num2)

['num22', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'num22', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'num22', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'num22', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'num22', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'num22', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'num22', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'num22', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'num22', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required', 'not required']

In [186]:
num2_only=[]
for i in num2:
    if i=='num22':
        num2_only.append(i)
print(len(num2_only))

9

making show ticket pricing python
1 to 3 age(free)
4 to 10 age (100)
11 to 60 age (150)
60 above(200)

In [192]:
user=int(input('Please enter your age for ticket rate:\n'))
if 1<user<=3:
    print(' woww your ticket cost is free')
elif 3<user<=10:
    print(' your ticket cost is 100rs') 
elif 10<user<=60:
    print('your ticket cost is 150')
else:
    print('your ticket cost is 200')

Please enter your age for ticket rate:
61
your ticket cost is 200

Ask user name and age,if user name start from a or A and age is above 10 than print 'you can watch DDLJ movie'.else print'sorry 'you can't watch DDLJ movie'

In [198]:
name=input('please enter your Name')
age=input('please enter your age')
age=int(age)
if  age>10 and (name[0]=='a' or name[0]=='A'):
    print('you can watch DDLJ movie')
else:
    print('you can\'t watch DDLJ movie')

please enter your NameAmit
please enter your age9
you can't watch DDLJ movie

In [199]:
# in keyword
name='Ritesh'
if 'i'in name:
    print('i is present in your name')
else:
    print('not present')

i is present in your name

In [203]:
# check input empty or not
a=input('please enter your name')
if a:
    print(f'your name is {a}')
else:
    print('you did not enter your name')

please enter your name
you did not enter your name

In [22]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [15]:
num=input('enter some number that you want  to calculate')
total=0
i=0
while i< len(num):
    total+=int(num[i])
    i+=1
    print(total)

enter some number that you want  to calculate33
3
6

In [19]:
# same program in for loop
n=input('enter some number that you want  to calculate')
n=str(n)
total=0
for i in range(0,len(n)):
    total+=int(n[i])
    print(total)

enter some number that you want  to calculate12
1
3

In [1]:
print('how r u')

how r u

In [ ]:
dafsdfdsfdsfdsf

In [ ]:
asdasdasdfdasfdfdfdsfdfsadasdasdfasdf

In [ ]:
sdadasfasfasfasfasfasfascxzczxcxzczx

In [6]:
a=[1,2,34,4,5,6,7,8]
b=[5,6,7]
#slicing
a.remove(34)
a
a[2:5]=[8,9,6]
print(a+b)
a

[1, 2, 8, 9, 6, 7, 8, 5, 6, 7]

[1, 2, 8, 9, 6, 7, 8]

In [28]:
limit=range(100)
num=[]
for i in limit:
    if (i%12==0):
        num.append(i)     
print(num)
print(len(num))

[0, 12, 24, 36, 48, 60, 72, 84, 96]
9

In [30]:
a,b,c,d=input('enter 4 number').split()

enter 4 number1,2,3,4

ValueError: not enough values to unpack (expected 4, got 1)

In [1]:
pwd

'C:\\Users\\RITESH TIWARI'

2+3

In [1]:
2+3

5

In [2]:
2+5

7

In [3]:
3+5

8

In [4]:
2+2

4

In [5]:
1=ram
1

SyntaxError: can't assign to literal (<ipython-input-5-eb82872aa69b>, line 1)

In [13]:

ritesh_1="what is your name" #its a posible combination 

ritesh1=2+3 #its a posible combination 

_Ritesh="how are you" #its a posible combination 

Ritesh2="basic of python"#its a posible combination 
Ritesh34=5+3 #its a posible combination 

 
6ritesh="its a not posible" #its a not posible combination 
&ritesh="ram"  #its a not posible combination 
%ritesh="syam"  #its a not posible combination 
@ritesh="rohit" #its a not posible combination 
&ritesh="sohan" #its a not posible combination

SyntaxError: invalid syntax (<ipython-input-13-00c8163110dc>, line 13)

In [9]:
_Ritesh34='ram'
_Ritesh

NameError: name '_Ritesh' is not defined

In [15]:
s=2+3
print(sum)
division=4/2
floor_division=6//2
multi=4*20
modu=(20%2)
sum_multi=(2+3)*6

5

In [14]:
4/2

2.0

In [16]:
a=2
b=3
print(a+b)
ram=4
syam=2
print(ram/syam)
s=6
d=2
print(s//d)
rohit=4
sohan=2
print(rohit*sohan)

5
2.0
3
8

In [17]:
12%7

5

In [10]:
_rite="ram"
_rite

'ram'

In [6]:
_=w
_

NameError: name 'w' is not defined

In [ ]:
a,b=2,3

In [19]:
a>b

False

In [22]:
a<b

True

In [23]:
a==b

False

In [25]:
a!=b

True

In [26]:
a<=c

NameError: name 'c' is not defined

In [35]:
a='rohitkumar'
a

'rohitkumar'

In [36]:
q='mynameritesh'

q

'mynameritesh'

In [41]:
print(a>q)
print(q>a)
print(a>=q)

True
False
True

In [38]:
q>a

False

In [4]:

b=0
while i in range(1,10):
    b+=int(i)
    a+=1
    print(b)

NameError: name 'i' is not defined

In [8]:
a="ritesh"
b='kumar tiwari'
print(a>b)
print(b>a)
print(a==b)
print(a!=b)

True
False
False
True

In [17]:
a=2
b=4
c=6
print(a+b)
print(a-c)
print(c//a)
print(c/a)
print(c*b)
print(c%a)
print((a+c)*b)
print((a*b)+c)

6
-4
3
3.0
24
0
32
14

In [42]:
a=123
b='rohit'
print(a*b)

rohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohitrohit

In [44]:
print(99+9)
print(99-9)
print(99*9)
print(99/9)
print(99//9)
print(99%9)
print(99**9)

108
90
891
11.0
11
0
913517247483640899

In [45]:

a=2
b=4.5
c=5
d=6
print(a+b)# addition of int and float
print(a-b)# substraction of int and float
print(b+a)# addition of float and int
print(b-a)# substraction of float and int
print(c**d)#exponent of two ints
print(a**d)#exponent of int and float

6.5
-2.5
6.5
2.5
15625
64

In [48]:
a=2
b=4.5
c=5
d=6
print('sum of {} & {} ::{}'.format(a,b,a+b))
print('substraction of {} & {} ::{}'.format(a,b,a-b))
print('sum of {} & {} ::{}'.format(b,a,b+a))
print('substraction of {} & {} ::{}'.format(b,a,b-a))
print('exponent of {} & {} ::{}'.format(c,d,c**d))
print('exponent of {} & {} ::{}'.format(b,c,b**c))
print('division of {} & {} ::{}'.format(a,d,a/d)) 
print('modulo of {} & {} ::{}'.format(a,c,a%c)) 
print('floor division of {} & {} ::{}'.format(a,d,a//d))
print('multiplication of {} & {} ::{}'.format(a,b,a*b))
print('multiplication of {} & {} ::{}'.format(c,d,c*d))

sum of 2 & 4.5 ::6.5
substraction of 2 & 4.5 ::-2.5
sum of 4.5 & 2 ::6.5
substraction of 4.5 & 2 ::2.5
exponent of 5 & 6 ::15625
exponent of 4.5 & 5 ::1845.28125
division of 2 & 6 ::0.3333333333333333
modulo of 2 & 5 ::2
floor division of 2 & 6 ::0
multiplication of 2 & 4.5 ::9.0
multiplication of 5 & 6 ::30

In [51]:
a=9
b=99
print('if we add {} to 11 times its output is {} means this two value division is {} '.format(a,b,b/a))

if we add 9 to 11 times its output is 99 means this two value division is 11.0

In [58]:
a,b,c,d,e=2,3,-5,2.4,10
#found greater number
print('{}  is greater then {} ?:: {}'.format(a,b,(a>b)))
      
#found greater number      
print('{}  is greater then {} ?:: {}'.format(b,a,(b>a)))
      
#found less number      
print('{}  is less then {} ?:: {}'.format(c,d,(c<d)))
      
#found less number      
print('{}  is less then {} ?:: {}'.format(d,c,(d<c)))
      
 #found equals number     
print('{}  is equals to {} ?:: {}'.format(a,b,(a==b)))
      
#found equals number       
print('{}  is equals to {} ?:: {}'.format(a,a,(a==a))) 
      
 #found not equals number      
print('{}  is not equals to {} ?:: {}'.format(a,a,(a!=a)))
      
#found equals number       
print('{}  is not equals to {} ?:: {}'.format(a,a,(a!=a)))
      
#found greater than equals to number       
print('{}  is greater than equals to {} ?:: {}'.format(d,e,(d>=e)))
      
#found greater than equals to number       
print('{}  is greater than equals to {} ?:: {}'.format(e,d,(e>=d)))
      
#found less than equals to number       
print('{}  is less than equals to {} ?:: {}'.format(d,e,(d<=e)))
      
#found less than equals to number       
print('{}  is less than equals to {} ?:: {}'.format(e,d,(e<=d)))

2  is greater then 3 ?:: False
3  is greater then 2 ?:: True
-5  is less then 2.4 ?:: True
2.4  is less then -5 ?:: False
2  is equals to 3 ?:: False
2  is equals to 2 ?:: True
2  is not equals to 2 ?:: False
2  is not equals to 2 ?:: False
2.4  is greater than equals to 10 ?:: False
10  is greater than equals to 2.4 ?:: True
2.4  is less than equals to 10 ?:: True
10  is less than equals to 2.4 ?:: False

In [67]:
lis_1 = [1,2,3,4,5,6,7,1,2,3,4,5,12.4, True, False, "String", 'Python',[11,22,33],(1,11,12,13),{1:'one',2:'two'}]
print(list_1)

NameError: name 'list_1' is not defined

In [60]:
print(list_1[17][1])

NameError: name 'list_1' is not defined

In [80]:
list2=[1,2,3,4,5,6,7,1,2,3,4,5,12.4, True, False, "String", 'Python',[11,22,33],(1,11,12,13),{1:'one',2:'two'}]
print(list2[17][1])
print(list2[18][2])
print(list2[19][2])

22
12
two

In [122]:
list2=[1,2,3,4,5,6,7,1,2,3,4,5,12.4, True, False, "String", 'Python',[11,22,33],(1,11,12,13),{1:'one',2:'two'}]
print(list2[0:7])
print(list2[13:])
print(list2[0:13])
print(list2[0:])
print(list2[:20])
print(list2[13:15])
print(list2[16])
print(list2[0:20:1])
print(list2[0:20:2])
print(list2[0:13:3])

[1, 2, 3, 4, 5, 6, 7]
[True, False, 'String', 'Python', [11, 22, 33], (1, 11, 12, 13), {1: 'one', 2: 'two'}]
[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 12.4]
[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 12.4, True, False, 'String', 'Python', [11, 22, 33], (1, 11, 12, 13), {1: 'one', 2: 'two'}]
[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 12.4, True, False, 'String', 'Python', [11, 22, 33], (1, 11, 12, 13), {1: 'one', 2: 'two'}]
[True, False]
Python
[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 12.4, True, False, 'String', 'Python', [11, 22, 33], (1, 11, 12, 13), {1: 'one', 2: 'two'}]
[1, 3, 5, 7, 2, 4, 12.4, False, 'Python', (1, 11, 12, 13)]
[1, 4, 7, 3, 12.4]

In [57]:
# Creating Tuple

tup_1 = (1,2,3,4,5,6,7,8,9,11.3,12.5,True,False, (11,22,33,),[9,9,9,19],{1:'one',2:'two'})
print(tup_1[1])
print(tup_1[13][1])
print(tup_1[15][2])
print(tup_1[7])
print(tup_1[0:])
print(tup_1[:16])
print(tup_1[0:15])
print(tup_1[0:6])
print(tup_1[0:19:2])
print(tup_1[0:19:3])

2
22
two
8
(1, 2, 3, 4, 5, 6, 7, 8, 9, 11.3, 12.5, True, False, (11, 22, 33), [9, 9, 9, 19], {1: 'one', 2: 'two'})
(1, 2, 3, 4, 5, 6, 7, 8, 9, 11.3, 12.5, True, False, (11, 22, 33), [9, 9, 9, 19], {1: 'one', 2: 'two'})
(1, 2, 3, 4, 5, 6, 7, 8, 9, 11.3, 12.5, True, False, (11, 22, 33), [9, 9, 9, 19])
(1, 2, 3, 4, 5, 6)
(1, 3, 5, 7, 9, 12.5, False, [9, 9, 9, 19])
(1, 4, 7, 11.3, False, {1: 'one', 2: 'two'})

In [81]:
# Creating Set
# note:
# 1. We are not able to inclue list inside to set
# 2. We can not include set inside set 
# 3. We can not include dictionary inside set 

set_1 = {1,1,1,2,2,3,3,4,5,6,7,7,7,7,8,9,'mohan','naven',(11,22,33)}
set_1.add('ritesh')
print(set_1)
set_1.remove('naven')
print(set_1)
#in set indexing not posible
set2=list(set_1)
print(set2)
print(set_1.index('m'))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'naven', (11, 22, 33), 'ritesh', 'mohan'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, (11, 22, 33), 'ritesh', 'mohan'}
[1, 2, 3, 4, 5, 6, 7, 8, 9, (11, 22, 33), 'ritesh', 'mohan']

AttributeError: 'set' object has no attribute 'index'

In [80]:

# Creating string

str_1 = "this is python"

str_2 = 'This is data sceince and machine learning'
print(str_1[0])
print(str_1[0:4])
print(str_1[0:8])
print(str_1[0:14])
print(str_1[7:14])
print(str_1[0:14:2])
print(str_1[0:])
print(str_1[:14])
print(str_1.index('p'))
print(str_2.index('machine'))

t
this
this is
this is python
 python
ti spto
this is python
this is python
8
25

In [108]:


# Creating Dictionay {key : Value}  -> if it is a string it shoudl be with quotes

dict_1 = {1 : 'one', 'two' : 2, 'lis_2': [1,11,21,31,41,51], 'tup_2': (22,33,44,55,66),'dic_2' :{1: 'Naveen',2:'ritesh', 3:'Anil'}}
print(dict_1[1])
print(dict_1['lis_2'])
print(dict_1['dic_2'])
print(dict_1['tup_2'])
print(dict_1.keys())
print(dict_1.values())
dict2=dict_1.items()
print(dict2)
for i in dict2:
    print(i[0])
for i in dict2:
    print(i[1])

one
[1, 11, 21, 31, 41, 51]
{1: 'Naveen', 2: 'ritesh', 3: 'Anil'}
(22, 33, 44, 55, 66)
dict_keys([1, 'two', 'lis_2', 'tup_2', 'dic_2'])
dict_values(['one', 2, [1, 11, 21, 31, 41, 51], (22, 33, 44, 55, 66), {1: 'Naveen', 2: 'ritesh', 3: 'Anil'}])
dict_items([(1, 'one'), ('two', 2), ('lis_2', [1, 11, 21, 31, 41, 51]), ('tup_2', (22, 33, 44, 55, 66)), ('dic_2', {1: 'Naveen', 2: 'ritesh', 3: 'Anil'})])
1
two
lis_2
tup_2
dic_2
one
2
[1, 11, 21, 31, 41, 51]
(22, 33, 44, 55, 66)
{1: 'Naveen', 2: 'ritesh', 3: 'Anil'}

In [24]:
#indexing in list
lis_4 = [2,3,4,5,6,7,1,2,3,4,5,12.4, True, False, "String", 'Python',[11,22,33,22],(1,11,12,13),{1:'one',2:'two'} ]       
lis_4.index(True)
print(lis_4[::3])
print(lis_4[0::3])
print(lis_4[0:10:3])
print(lis_4.index([11,22,33,22]))
print(lis_4[17].count(22))
print(lis_4[17][2])
print(lis_4.index(True))
print(lis_4.index(False))
print(lis_4.index({1:'one',2:'two'}))

[2, 5, 1, 4, True, 'Python', {1: 'one', 2: 'two'}]
[2, 5, 1, 4, True, 'Python', {1: 'one', 2: 'two'}]
[2, 5, 1, 4]
16
0
12
6
13
18

In [23]:
l=[1,2,3,4,5,6,7,8,9]
len(l)
l[-6:-3]

[4, 5, 6]

In [40]:
s={1,1,1,2,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [55]:
#all list function
lis_3=[1,2,3,4,5,'Ritesh','ram',7,8,9,(1,1,2,3,4,5),{1,2,8,9,'harish'},{'name':'Ritesh','age':26,'fav_song':'DHKMN'}]

#Accessing elements from a list with index (Positive/Negetive)
print(lis_3[0:5])
print(lis_3[0:10:2])
print(lis_3[-5:-3])
lis_3.remove(2)
print(lis_3)
lis_3.remove(5)
print(lis_3)
print(lis_3[8][3])
print(lis_3[8].count(1))

# How to delete/remove an element from list
print(lis_3)
del lis_3[3]
print(lis_3)

2
[1, 2, 3, 4, 5]
[1, 3, 5, 'ram', 8]
[8, 9]
[1, 3, 4, 5, 'Ritesh', 'ram', 7, 8, 9, (1, 1, 2, 3, 4, 5), {1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}]
[1, 3, 4, 'Ritesh', 'ram', 7, 8, 9, (1, 1, 2, 3, 4, 5), {1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}]
3
2
[1, 3, 4, 'Ritesh', 'ram', 7, 8, 9, (1, 1, 2, 3, 4, 5), {1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}]
[1, 3, 4, 'ram', 7, 8, 9, (1, 1, 2, 3, 4, 5), {1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}]

In [50]:
f={'name':'ritesh','age':36}
s=f.items()
for i in s:
    print(f'key:{i[0]} , value : {i[1]}')

key:name , value : ritesh
key:age , value : 36

In [65]:
#update element in list
print(lis_3)
lis_3[3]='rohit name updated'
print(lis_3)

#update entire slice
lis_2=[22,33,44]
lis_3[:3]=lis_2
print(lis_3)

[22, 33, 44, 'rohit name updated', 'rohit name updated', 7, 8, 9, (1, 1, 2, 3, 4, 5), {1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}]
[22, 33, 44, 'rohit name updated', 'rohit name updated', 7, 8, 9, (1, 1, 2, 3, 4, 5), {1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}]
[22, 33, 44, 'rohit name updated', 'rohit name updated', 7, 8, 9, (1, 1, 2, 3, 4, 5), {1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}]

In [68]:
#Add new element in list
print(lis_3)
h=333
lis_3.append(h)
print(lis_3)
hh=[55,66,77]
lis_3.append(hh)
print(lis_3)

[22, 33, 44, 'rohit name updated', 'rohit name updated', 7, 8, 9, (1, 1, 2, 3, 4, 5), {1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}, 333]
[22, 33, 44, 'rohit name updated', 'rohit name updated', 7, 8, 9, (1, 1, 2, 3, 4, 5), {1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}, 333, 333]
[22, 33, 44, 'rohit name updated', 'rohit name updated', 7, 8, 9, (1, 1, 2, 3, 4, 5), {1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}, 333, 333, [55, 66, 77]]

In [72]:
# remove will remove the element not index
print(lis_3)
lis_3.remove(33)
print(lis_3)

[22, 33, 'rohit name updated', 'rohit name updated', 7, 8, 9, (1, 1, 2, 3, 4, 5), {1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}, 333, 333, [55, 66, 77]]
[22, 'rohit name updated', 'rohit name updated', 7, 8, 9, (1, 1, 2, 3, 4, 5), {1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}, 333, 333, [55, 66, 77]]

In [80]:
# delete items using pop method
print(lis_3)
print(lis_3.pop(0))
print(lis_3)

[(1, 1, 2, 3, 4, 5), {1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}, 333, 333, [55, 66, 77]]
(1, 1, 2, 3, 4, 5)
[{1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}, 333, 333, [55, 66, 77]]

In [82]:
lis5=1,2,3,4,5,6
lis_3.append(lis5)
print(lis_3)

[{1, 2, 8, 9, 'harish'}, {'name': 'Ritesh', 'age': 26, 'fav_song': 'DHKMN'}, 333, 333, [55, 66, 77], [1, 2, 3, 4, 5, 6], (1, 2, 3, 4, 5, 6)]

In [83]:
# find index of the value
y=[1,2,3,4,56,6]
y.index(4)

3

In [21]:
#using all function and mathod in tuple
tup_1 = (1,1,2,3,4,5,6,7,8,9,11.3,12.5,True,False, (11,22,33,),[9,9,9,19],{1:'one',2:'two'})
print(type(tup_1))

#len function in tuple
print(len(tup_1)) #len function is working in tuple

<class 'tuple'>
17

In [12]:
#indexing in tuple
print(tup_1[2])
print(tup_1[0:])
print(tup_1[-5:-2])
print(tup_1[0:10:2])

3
(1, 2, 3, 4, 5, 6, 7, 8, 9, 11.3, 12.5, True, False, (11, 22, 33), [9, 9, 9, 19], {1: 'one', 2: 'two'})
(True, False, (11, 22, 33))
(1, 3, 5, 7, 9)

In [9]:
#append method in tuple
print(tup_1.append(100))

AttributeError: 'tuple' object has no attribute 'append'

In [13]:
#remove element from tuple
tup_1.remove(5)

AttributeError: 'tuple' object has no attribute 'remove'

In [15]:
#delete item from tuple
del tup_1[2]

TypeError: 'tuple' object doesn't support item deletion

In [16]:
tup_1.pop(3)

AttributeError: 'tuple' object has no attribute 'pop'

In [18]:
tup_1[3]=33
print(tup_1)

TypeError: 'tuple' object does not support item assignment

In [19]:
tup_1.count(1)

2

In [20]:
1.type(tup_1)

SyntaxError: invalid syntax (<ipython-input-20-3ad0ee0abc9e>, line 1)

In [ ]:
type is aplicable
len is aplicable
append is not applicable
indexing is aplicable
slicing is aplicable
remove is not aplicable
delete is not aplicable
pop is not aplicable
update is not aplicable
count is aplicable
ritesh=[y,y,n,y,y,n,n,n,n,y]

In [32]:
dict_5 = {1 : 'Ritesh', 'two' : 'Ram', 'sohan': [11,12,13,14], 'rohan': (55,66,77,88,99),'hemant' :{1: 'radhe',2:'syam', 3:'trivedi'}}
print(dict_5)
print(dict_5.keys())
print(dict_5.values())
print(dict_5.items())
dict_5['fav_song']='DHKMN'
print(dict_5)

{1: 'Ritesh', 'two': 'Ram', 'sohan': [11, 12, 13, 14], 'rohan': (55, 66, 77, 88, 99), 'hemant': {1: 'radhe', 2: 'syam', 3: 'trivedi'}}
dict_keys([1, 'two', 'sohan', 'rohan', 'hemant'])
dict_values(['Ritesh', 'Ram', [11, 12, 13, 14], (55, 66, 77, 88, 99), {1: 'radhe', 2: 'syam', 3: 'trivedi'}])
dict_items([(1, 'Ritesh'), ('two', 'Ram'), ('sohan', [11, 12, 13, 14]), ('rohan', (55, 66, 77, 88, 99)), ('hemant', {1: 'radhe', 2: 'syam', 3: 'trivedi'})])
{1: 'Ritesh', 'two': 'Ram', 'sohan': [11, 12, 13, 14], 'rohan': (55, 66, 77, 88, 99), 'hemant': {1: 'radhe', 2: 'syam', 3: 'trivedi'}, 'fav_song': 'DHKMN'}

In [56]:
s1 = {25,1,1,26,2,7,7,27,28,29,30,32,36,78,99,24,77,88,99,99,'Ram','sohasn',('ritesh','ram'),('ritesh','ram')}
print(s1)
print(len(s1))

{1, 2, 7, 24, 25, 26, 27, 28, 29, 30, 32, 36, ('ritesh', 'ram'), 'sohasn', 77, 78, 88, 99, 'Ram'}
19

In [57]:
s1.count(1)

AttributeError: 'set' object has no attribute 'count'

In [58]:
s1[2]

TypeError: 'set' object is not subscriptable

In [60]:
del s1[2]

SyntaxError: can't delete function call (<ipython-input-60-d8716f7d254e>, line 1)

In [64]:
s1

{('ritesh', 'ram'),
 1,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 32,
 36,
 7,
 77,
 78,
 88,
 99,
 'Ram',
 'sohasn'}

In [ ]:
2+2

In [ ]:
#if elif else
1 . Take 6 inputs from keyboard, Telgu , Hindi , English, Mathematics, 
Sceince, Social


2. 100 marks each exam 

Grades

500 -600   - A+

400 - 500  - A

300 - 400  - B

Below 300  - Fail

if marks <0 or Grater than 600 need to print "Enter valid marks message"

Yo need to tell the marks ubtained by the student are even or odd.

In [1]:
# we are taking inputs from student 

Telugu = int(input("Enter the marks in Telugu : "))

Hindi =  int(input("Enter the marks in Hindi : "))

English =  int(input("Enter the marks in English : "))

Maths =  int(input("Enter the marks in Maths : "))

Science =  int(input("Enter the marks in Sceince : "))

Social =  int(input("Enter the marks in Social : "))

# calculating the total marks 
total_Marks = Telugu  + Hindi  +English + Maths + Science + Social

# Displaying total Marks after Taken all 6 inputs
print("Total Marks : ", total_Marks)

# Greading system condition
if 0<=total_Marks<300:
    print('so sorry you are failed!')
elif 300<=total_Marks<400:
    print('Congratulation you are getting B grade')
elif 400<=total_Marks<500:
    print('Congratulation you are getting A grade') 
elif 500<=total_Marks<=600:
    print('Congratulation you are getting A+ grade' )
else:
    print('Enter valid marks')

# Find the number sudent entered are odd or even    
odd_even=total_Marks%2==0
if odd_even:
    print('the marks obtained by you is an even number')
else:
    print('the marks obtained by you is an odd number')

Enter the marks in Telugu : 40
Enter the marks in Hindi : 90
Enter the marks in English : 89
Enter the marks in Maths : 83
Enter the marks in Sceince : 91
Enter the marks in Social : 85
Total Marks :  478
Congratulation you are getting A grade
the marks obtained by you is an even number

In [8]:
#List indexing
# LIST
lis_1 =[1,2.,True, [1,1,1,2],(1,2,3)]
print(lis_1[0])
print(lis_1[1])
print(lis_1[2])
print(lis_1[3])
print(lis_1[4])
print(lis_1[-1])
print(lis_1[-2])
print(lis_1[-3])
print(lis_1[-4])
print(lis_1[0:1])
print(lis_1[0:2])
print(lis_1[0:3])
print(lis_1[0:4])
print(lis_1[1:2])
print(lis_1[1:3])
print(lis_1[1:4])
print(lis_1[2:3])
print(lis_1[2:4])
print(lis_1[3:4])
print(lis_1[-1:])
print(lis_1[-2:])
print(lis_1[-3:])
print(lis_1[-4:])
print(lis_1[-2:-1])
print(lis_1[-3:-1])
print(lis_1[-4:-1])

1
2.0
True
[1, 1, 1, 2]
(1, 2, 3)
(1, 2, 3)
[1, 1, 1, 2]
True
2.0
[1]
[1, 2.0]
[1, 2.0, True]
[1, 2.0, True, [1, 1, 1, 2]]
[2.0]
[2.0, True]
[2.0, True, [1, 1, 1, 2]]
[True]
[True, [1, 1, 1, 2]]
[[1, 1, 1, 2]]
[(1, 2, 3)]
[[1, 1, 1, 2], (1, 2, 3)]
[True, [1, 1, 1, 2], (1, 2, 3)]
[2.0, True, [1, 1, 1, 2], (1, 2, 3)]
[[1, 1, 1, 2]]
[True, [1, 1, 1, 2]]
[2.0, True, [1, 1, 1, 2]]

In [16]:
lis_1 =[1,2.,True, [1,1,1,2],(1,2,3)]
lis_1[0::4]
lis_1[-1::-4]

[(1, 2, 3), 1]

In [1]:
#Mean
total=[9,12,45,66,74,88,90,24,36]
sum1=sum(total)
mean=sum1/len(total)
print(f'Number of people:{len(total)}')
print(f'Total age  of people:{sum1}')
print(f'average of people(Mean):{mean}')

Number of people:9
Total age  of people:444
average of people(Mean):49.333333333333336

In [13]:
#How to remove duplicate numbers using set..

ram=[1,1,1,2,3,4,5,6,7,8,9]
print(ram)
s=set(ram)
print(s)
r=list(s)
print(r)

[1, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
{1, 2, 3, 4, 5, 6, 7, 8, 9}
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
num=(1,2,3,4,5)
print(num[::-1])

(5, 4, 3, 2, 1)

In [6]:
lis=[1,2,3,4,5]

inpu=int(input('enr'))
for i in lis:
    print('tt')
for i not in lis:
    lis.append(i)

SyntaxError: invalid syntax (<ipython-input-6-1340240e6e0b>, line 6)

In [19]:
inp=int(input('enter a numbers'))
r=[]
e=[]
if inp%2==0:
    r.append(inp)
else:    
    e.append(inp)
print(r)
print(e)

enter a numbers3
[]
[3]

In [22]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9