# Pandas
Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

In [1]:
# importing pandas into our environment

import pandas as pd
import numpy as np

Pandas will provide special data type -> Data Frames(pandas.core.frame.DataFame)

In [2]:
# simple data frame creation

ex_df = pd.DataFrame({'column_1': [1,2,3,4,5,6],'column_2': ['a','b','c','d','e','f']})

In [3]:
ex_df

   column_1 column_2
0         1        a
1         2        b
2         3        c
3         4        d
4         5        e
5         6        f

In [12]:
new = pd.DataFrame(np.arange(0,20).reshape(5,4),index = ['one','two','three','four','five'],columns = ['col1','col2','col3','col4'])

In [13]:
new

       col1  col2  col3  col4
one       0     1     2     3
two       4     5     6     7
three     8     9    10    11
four     12    13    14    15
five     16    17    18    19

### any one column and row is a series

In [15]:
new.loc['one']

col1    0
col2    1
col3    2
col4    3
Name: one, dtype: int32

In [16]:
type(new.loc['one'])

pandas.core.series.Series

In [19]:
new['col1']

one       0
two       4
three     8
four     12
five     16
Name: col1, dtype: int32

In [20]:
type(new['col1'])

pandas.core.series.Series

In [21]:
new.iloc[:] #--right side is a row and left side is a column

       col1  col2  col3  col4
one       0     1     2     3
two       4     5     6     7
three     8     9    10    11
four     12    13    14    15
five     16    17    18    19

In [24]:
new.iloc[0:2,:] #---hare it will show only 0 and 1 index rows

     col1  col2  col3  col4
one     0     1     2     3
two     4     5     6     7

In [39]:
new.iloc[:1,:] #--hare it will show only 0 and 1 index columns

     col1  col2  col3  col4
one     0     1     2     3

In [36]:
type(new.iloc[:1,:0])

pandas.core.frame.DataFrame

### convert dataframe into array

In [46]:
new1= new.iloc[:,1:].values

In [47]:
new1

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [ ]:
# creation of sample table 
stu_df = pd.DataFrame({'Details': ['Name', 'Email_id', 'Cell_Number', 'Current_Designation', 'Domain', 'Location'],
                       'Chandrika':['Chandrika', 'chandrika3772@gmail.com', '8977245972', 'Student', 'Information Systems and Business Analytics', 'United States'],
'JOY':['JOY CHOUDHURY', 'joy2kcentury@gmail.com','+91 9853566499', 'Engineer', 'Industrial Automation', 'Odisha'],'Anilsharma':['anil', 'anilsharmam@hotmail.com', '9010464464', 'Finance consultant', 'Project Management-finance', 'Hyderabad'],'RITESH':['RITESH','ritish.tiwiari@gmail.com',9040398286,'Engineer','KEPCOKPS','Odisha']})

In [ ]:
stu_df

In [ ]:
# 1. how you will access a specific column?
# 2. How you will access a required columns more than one?
# 3. How you will access a specific row from the data frame?
# 4. How you will access group of columns in the dataFrame?

#  Iris flowers(need to do some research on flower anotomy)

In [ ]:
stu_df[['RITESH']]

In [ ]:
stu_df[["RITESH", "JOY"]]

In [ ]:

stu_df.iloc[[1,3]]

In [ ]:
df=pd.read_csv(r'C:\Users\RITESH TIWARI\Desktop\fdf/iris.csv')

In [ ]:
df

In [ ]:
#df.head()#/with and with out arguments
#df.tail()#/with and with out arguments
df.describe() # what information it is giving 

# 1. need to add one more column in the data whicu is the result of any of your choice?
# 2. you need to identify the size of the data?
# 3. You need to identify the data types of all columns?
# 4. how many null and not null values in each and every column?
# 5. What is the minimum and maximum values in each and every row?
# 6. how many unique elements in each and every row?
# 7. how to update the column names?
# 8. how to find duplicates in the data?

In [ ]:
#adding new column in pandas
df['Total']=" "
df

In [ ]:
# size od the Data
df.size

In [ ]:
df.shape

In [ ]:
df.ndim

In [ ]:
# Data types of all columns
df.dtypes

In [ ]:
#Count all Null in a DataFrame (both columns & Rows)
df.isnull().sum().sum()

In [ ]:
#Count all Null at each columns a DataFrame
df.isnull().sum()

In [ ]:
# count of null at each row:
for i in range(len(df)):
    print(f'null of row {i} :{df.iloc[i].isnull().sum()}')

In [ ]:
#maximum values of each and every columns
df.max()

In [ ]:
#minimum values of each and every columns
df.min()

In [ ]:
##maximum values of each and every rows.
df.max(axis=1)

In [ ]:
#minimum values of each and every columns
df.min(axis=1)

In [ ]:
#how many unique elements in each and every row?
df.drop_duplicates()

In [ ]:
how many unique elements in each and every row?

In [ ]:
print(df.duplicated())

In [ ]:
#how to update the column names?
print(df.columns)
df.rename(columns={'Total':'sum'})

In [ ]:
#how to find duplicates in the data

In [ ]:
# Define a dictionary containing Students data 
data = {'Name': ['Jai', 'jai','Princi', 'Gaurav', 'Anuj'], 
        'Height': [5.1, 5.1,5.6, 5.1, 5.2], 
        'Qualification': ['Msc','Msc', 'MA', 'Msc', 'Msc']} 
  
# Convert the dictionary into DataFrame 
dd = pd.DataFrame(data) 
  
# Declare a list that is to be converted into a column 

  
# Using 'Address' as the column name 
# and equating it to the list 
dd['Address'] =" "  
  
# Observe the result 
dd

In [ ]:
dd.drop_duplicates()

In [ ]:
ram=pd.DataFrame({'Ditals':['name','address','school','age'],'Ritesh':['Ritesh Tiwari','Brajrajnagar','LLPRUVM',36]})

In [ ]:
ram['columns']=" "
ram

In [ ]:
ram

In [ ]:
#how to change columns name
lable=['DITALS','RITESH','COLUMNS']
ram.columns=lable
ram

In [ ]:
ram[['Ritesh']]

In [ ]:
ram.iloc[[1]]

In [ ]:
ram.iloc[[2]]

In [ ]:
ram.size

In [ ]:
ram.max()

In [ ]:
ram.min()

In [ ]:
ram.head()

In [ ]:
ram.tail()

In [ ]:
ram.describe()

In [ ]:
ram['total']=" "

In [ ]:
ram

In [ ]:


ram

In [ ]:
# Build a list of labels: list_labels
list_labels = [['year','artist','song','chart weeks']]

# Assign the list of labels to the columns attribute: df.columns
df=pd.DataFrame(list_labels)
df.columns = list_labels
df

In [ ]:
import pandas as pd

In [ ]:
information=['name','address','school','dist']
Ritesh=['RItesh','BRJN','LLPRUVM','JSG']
rr=pd.DataFrame({'Information':information,'Ditails':Ritesh})
rr

In [ ]:
rr[[Ditails]]

In [ ]:
#making new colmn and import data
rr['sum']=range(4)
rr

In [ ]:
#change index value

tt=pd.DataFrame({"Information":['rr'],"Ditails":['ree'],'sum':4})
tt
rr=pd.concat([rr,tt],ignore_index=True)
rrr=rr.rename(index={0:'zero',1:'one'})
rrr

In [ ]:
xx=pd.concat([rr,tt])
xx

In [ ]:
#make new colmn and import data
rr['mark']=[100,200,100,300]
rr

In [ ]:
#print(rr.iloc[[0]])
print(rr.iloc[[1,2,3]])

In [ ]:
rr['total']=' '
rr

In [ ]:
rr

In [ ]:
rr['total']=' '
rr

In [ ]:
rr['total']=range(1,9,2)
rr

In [ ]:
rr

In [ ]:
rr

In [ ]:
rr

In [ ]:
rrr

In [ ]:
dex=['a','b','c','d','e','f','g','h','i','j']
rrr.index=(dex)
rrr

In [ ]:
df=pd.read_csv(r'C:\Users\RITESH TIWARI\Desktop\fdf/iris.csv')
df

In [ ]:
df.head(5)

In [ ]:
df.tail(8)

In [ ]:
df[['sepal_width']]

In [ ]:
df.iloc[[0,1]]

In [ ]:
df.info()

In [1]:
# Loading the data
import numpy as np
import pandas as pd

read=pd.read_csv('real_estate_data.csv')

In [2]:
read

,tx_price,beds,baths,sqft,year_built,lot_size,property_type,exterior_walls,roof,basement,...,beauty_spas,active_life,median_age,married,college_grad,property_tax,insurance,median_school,num_schools,tx_year
0,295850,1,1,584,2013,0,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,47,58,33.0,65.0,84.0,234.0,81.0,9.0,3.0,2013
1,216500,1,1,612,1965,0,Apartment / Condo / Townhouse,Brick,Composition Shingle,1.0,...,26,14,39.0,73.0,69.0,169.0,51.0,3.0,3.0,2006
2,279900,1,1,615,1963,0,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,74,62,28.0,15.0,86.0,216.0,74.0,8.0,3.0,2012
3,379900,1,1,618,2000,33541,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,72,83,36.0,25.0,91.0,265.0,92.0,9.0,3.0,2005
4,340000,1,1,634,1992,0,Apartment / Condo / Townhouse,Brick,NaN,NaN,...,50,73,37.0,20.0,75.0,88.0,30.0,9.0,3.0,2002
5,265000,1,1,641,1947,0,Apartment / Condo / Townhouse,Brick,NaN,NaN,...,60,52,28.0,15.0,86.0,168.0,58.0,8.0,3.0,2004
6,240000,1,1,642,1944,0,Single-Family,Brick,NaN,NaN,...,66,50,28.0,36.0,88.0,176.0,61.0,7.0,3.0,2011
7,388100,1,1,650,2000,33541,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,72,83,36.0,25.0,91.0,266.0,92.0,9.0,3.0,2005
8,240000,1,1,660,1983,0,Apartment / Condo / Townhouse,Brick,NaN,NaN,...,32,41,36.0,49.0,77.0,188.0,65.0,6.0,3.0,2013
9,250000,1,1,664,1965,0,Apartment / Condo / Townhouse,Brick,NaN,NaN,...,70,36,57.0,13.0,83.0,147.0,51.0,6.0,3.0,2007
10,335000,1,1,669,2006,0,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,37,29,34.0,29.0,88.0,248.0,86.0,6.0,3.0,2015
11,376750,1,1,673,2005,46609,Apartment / Condo / Townhouse,Concrete Block,NaN,NaN,...,74,86,29.0,15.0,82.0,262.0,90.0,9.0,3.0,2006
12,210000,1,1,680,1963,0,Apartment / Condo / Townhouse,Brick,Composition Shingle,1.0,...,10,10,60.0,15.0,63.0,147.0,44.0,4.0,3.0,2006
13,289900,1,1,685,1960,48787,Apartment / Condo / Townhouse,Brick,NaN,NaN,...,75,64,28.0,15.0,86.0,195.0,68.0,8.0,3.0,2005
14,535000,1,1,687,2008,0,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,126,88,28.0,52.0,72.0,421.0,146.0,8.0,3.0,2014
15,218000,1,1,689,1988,0,Apartment / Condo / Townhouse,Brick,Composition Shingle,1.0,...,83,46,32.0,33.0,92.0,188.0,57.0,10.0,3.0,2009
16,400000,1,1,689,2008,0,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,72,84,29.0,15.0,82.0,276.0,96.0,9.0,3.0,2016
17,226000,1,1,690,1997,0,Apartment / Condo / Townhouse,Brick,Composition Shingle,1.0,...,30,12,36.0,47.0,83.0,221.0,67.0,8.0,3.0,2008
18,363700,1,1,692,2007,0,Apartment / Condo / Townhouse,Brick,NaN,NaN,...,72,68,36.0,25.0,75.0,302.0,104.0,8.0,3.0,2007
19,215000,1,1,698,1963,0,Apartment / Condo / Townhouse,Brick,NaN,NaN,...,19,14,32.0,60.0,47.0,120.0,42.0,7.0,3.0,2005
20,327000,1,1,698,2005,9686,Apartment / Condo / Townhouse,Concrete Block,NaN,NaN,...,49,74,27.0,21.0,94.0,256.0,88.0,9.0,3.0,2010
21,331100,1,1,700,2005,9686,Apartment / Condo / Townhouse,Concrete Block,NaN,NaN,...,49,74,27.0,21.0,94.0,251.0,87.0,9.0,3.0,2012
22,240000,1,1,703,1992,0,Apartment / Condo / Townhouse,Wood,Composition Shingle,1.0,...,52,13,30.0,46.0,36.0,139.0,42.0,7.0,3.0,2005
23,320000,1,1,704,2005,0,Apartment / Condo / Townhouse,Brick,Composition Shingle,1.0,...,47,34,31.0,30.0,99.0,261.0,79.0,8.0,3.0,2007
24,290800,1,1,704,2006,0,Apartment / Condo / Townhouse,Brick,Composition Shingle,1.0,...,46,34,31.0,30.0,99.0,257.0,78.0,8.0,3.0,2006
25,375000,1,1,705,1985,0,Apartment / Condo / Townhouse,Brick,NaN,NaN,...,63,83,33.0,21.0,99.0,244.0,85.0,9.0,3.0,2005
26,377000,1,1,709,2005,111513,Apartment / Condo / Townhouse,Wood Siding,NaN,NaN,...,91,88,33.0,40.0,96.0,316.0,109.0,5.0,3.0,2008
27,262500,1,1,711,1944,0,Apartment / Condo / Townhouse,Brick,NaN,NaN,...,35,42,36.0,49.0,77.0,201.0,69.0,6.0,3.0,2014
28,216250,1,1,712,1944,0,Single-Family,Brick,NaN,NaN,...,43,41,36.0,23.0,90.0,187.0,64.0,6.0,3.0,2004
29,270000,1,1,722,1985,0,Apartment / Condo / Townhouse,Siding (Alum/Vinyl),Composition Shingle,1.0,...,30,26,33.0,48.0,85.0,218.0,66.0,4.0,3.0,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1853,460000,5,5,4313,1964,20037,Single-Family,Brick,Composition Shingle,1.0,...,7,6,46.0,83.0,87.0,1127.0,343.0,10.0,3.0,1999
1854,800000,5,5,4600,1964,21780,Single-Family,Brick,Composition Shingle,1.0,...,1,4,40.0,86.0,74.0,799.0,243.0,6.0,3.0,2010
1855,798000,5,5,4632,2003,8712,Single-Family,Siding (Alum/Vinyl),Composition Shingle,1.0,...,34,25,42.0,76.0,64.0,938.0,286.0,8.0,3.0,2010
1856,755000,5,5,4658,1968,20473,Single-Family,Brick veneer,Asphalt,1.0,...,7,17,47.0,80.0,91.0,936.0,325.0,9.0,3.0,2002
1857,350000,5,5,5000,1952,13503,Single-Family,Siding (Alum/Vinyl),Composition Shingle,1.0,...,14,21,37.0,90.0,74.0,963.0,293.0,10.0,3.0,2003
1858,535000,5,5,5262,2002,10454,Single-Family,Combination,NaN,1.0,...,15,9,29.0,81.0,41.0,506.0,143.0,9.0,1.0,2013
1859,771760,5,5,5270,2006,11761,Single-Family,Combination,Composition Shingle,1.0,...,1,3,42.0,84.0,58.0,506.0,143.0,5.5,2.0,2006
1860,720000,5,5,5368,1993,40946,Single-Family,Brick,Composition Shingle,1.0,...,15,6,48.0,90.0,83.0,1024.0,312.0,10.0,3.0,1996
1861,600000,5,5,5410,1951,6777,Single-Family,Brick veneer,Composition Shingle,1.0,...,23,39,39.0,66.0,80.0,1141.0,396.0,9.0,3.0,2014
1862,590000,5,5,5621,1962,10890,Single-Family,Brick,Other,1.0,...,17,17,42.0,74.0,67.0,1295.0,395.0,9.0,3.0,2006
1863,576475,5,5,5810,2002,8777,Single-Family,Wood,Wood Shake/ Shingles,1.0,...,18,6,35.0,70.0,73.0,897.0,273.0,8.0,3.0,2002
1864,320000,5,5,5984,2015,16988,Single-Family,Siding (Alum/Vinyl),Composition Shingle,1.0,...,30,11,37.0,70.0,62.0,1057.0,322.0,5.0,3.0,2013
1865,665500,5,5,6133,1950,10001,Single-Family,Brick veneer,Composition Shingle,1.0,...,25,32,39.0,78.0,74.0,1256.0,436.0,9.0,3.0,2014
1866,231000,5,5,6346,2011,10890,Single-Family,Siding (Alum/Vinyl),Asphalt,1.0,...,18,7,33.0,46.0,63.0,799.0,243.0,4.0,3.0,2010
1867,743500,5,5,6357,1989,76665,Single-Family,Brick,Other,1.0,...,1,2,35.0,91.0,85.0,1127.0,343.0,10.0,3.0,1998
1868,535000,5,5,6438,1949,20473,Single-Family,"Rock, Stone",Composition Shingle,1.0,...,82,26,33.0,74.0,80.0,1106.0,337.0,9.0,3.0,2012
1869,765000,5,5,6508,2007,47044,Single-Family,NaN,Composition Shingle,1.0,...,0,1,37.0,74.0,84.0,868.0,223.0,7.0,3.0,2009
1870,280000,5,5,6542,2011,43995,Single-Family,Stucco,Composition Shingle,1.0,...,0,4,44.0,100.0,72.0,860.0,262.0,8.0,3.0,2010
1871,691331,5,5,6966,1999,62290,Single-Family,Siding (Alum/Vinyl),Other,1.0,...,0,1,46.0,93.0,65.0,860.0,262.0,8.0,3.0,1999
1872,649000,5,5,7034,2006,25700,Single-Family,Wood,Composition Shingle,1.0,...,0,4,42.0,87.0,92.0,1146.0,349.0,10.0,3.0,2005
1873,569000,5,5,7165,1991,43995,Single-Family,Brick,Wood Shake/ Shingles,1.0,...,3,6,49.0,82.0,68.0,1024.0,312.0,8.0,2.0,1994
1874,370000,5,5,7578,2008,87120,Single-Family,Siding (Alum/Vinyl),Composition Shingle,1.0,...,0,2,47.0,92.0,84.0,1045.0,318.0,9.0,3.0,2004
1875,235000,5,5,7594,2006,36154,Single-Family,Brick,Composition Shingle,1.0,...,5,2,52.0,85.0,57.0,1061.0,323.0,5.5,2.0,2006
1876,760000,5,5,7842,2003,436035,Single-Family,Combination,NaN,1.0,...,0,0,48.0,76.0,62.0,881.0,249.0,7.5,2.0,2008
1877,555000,5,5,8450,2004,91911,Single-Family,Other,Composition Shingle,1.0,...,3,3,35.0,91.0,85.0,1966.0,599.0,10.0,3.0,2003
1878,385000,5,6,6381,2004,224334,Single-Family,Stucco,Composition Shingle,1.0,...,0,1,46.0,76.0,87.0,1250.0,381.0,10.0,3.0,2002
1879,690000,5,6,6501,1956,23086,Single-Family,Brick,Composition Shingle,1.0,...,61,11,42.0,73.0,61.0,1553.0,473.0,9.0,3.0,2015
1880,600000,5,6,7064,1995,217800,Single-Family,Metal,Composition Shingle,1.0,...,1,2,43.0,87.0,66.0,942.0,287.0,8.0,1.0,1999
1881,759900,5,6,7500,2006,8886,Single-Family,Siding (Alum/Vinyl),Asphalt,1.0,...,8,6,43.0,61.0,51.0,803.0,245.0,5.0,2.0,2009
1882,735000,5,6,7515,1958,10497,Single-Family,Brick,Composition Shingle,1.0,...,0,5,37.0,80.0,86.0,1459.0,444.0,9.0,3.0,2015

In [3]:
# show all of columns name on pandas dataframe

pd.set_option('display.max_columns',30)

In [ ]:
read.head()

In [ ]:
read.describe()

In [ ]:
read.info()

In [ ]:
read.head()