   
   Data Frames are like highly optimised Spread sheets.
    
    pandas.core.frame.dataFrame  -> Type

In [1]:
# dictionary  {Key : value}

ex_df = {'c1' : [100,200,300], 'c2' :['a','b','c']}

In [2]:
type(ex_df)

dict

In [3]:
import pandas as pd

In [4]:
ex_df =pd.DataFrame({'c1' : [100,200,300], 'c2' :['a','b','c']})

In [5]:
ex_df

    c1 c2
0  100  a
1  200  b
2  300  c

In [6]:
ex_df =pd.DataFrame({'c1' : [100,200,300,400], 'c2' :['a','b','c']})

ValueError: arrays must all be same length

### Observations :

    1. index is avilbale in df
    
    2. Keys became colum headers
    
    3. Each value from the dictionary must have the same length,and they become cell in each row.

In [ ]:
import pandas as pd

In [ ]:
# Loding / Importing data 

df = pd.read_csv('D:\Online classess_Material\Misslen/iris.csv')

In [ ]:
df

## cautions :

1. What is the data size ? (Approxi)  (10 K  -> Rows , 100  -> columns)

2. Data is loaded in a proper format or not ?

In [ ]:
# TO observe teh sample

df.head()

In [ ]:
df.tail()

In [ ]:
# if you want any custom number of records

df.head(20)

df.tail(30)

In [ ]:
# to know the size

df.shape

In [ ]:
type(df.shape)

In [ ]:
# if we want to extract the first element in the tuple 

df.shape[0]

In [ ]:
df.shape[1]

In [ ]:
# 
df.min()

In [ ]:
df.max()

In [ ]:
df.describe()

In [ ]:
df.info()

### Series are single columns

In [ ]:
pd_series = pd.Series([1,2,3,4,5,6,7,8,9])

In [ ]:
type(pd_series)

In [ ]:
pd_series

In [ ]:
## selecting data from Data Frame

df.columns

In [ ]:
df['sepal_length']

In [ ]:
type(df['sepal_length'])

In [ ]:
# type _2

df.sepal_length

In [ ]:
# Note:

    if you have any spaces to your features names definetly " . " will not work

In [ ]:
# comparing the 2 types of data selections

print((df.sepal_length==df["sepal_length"]).head())

In [ ]:
print(all(df.sepal_length==df["sepal_length"]))

In [ ]:
df.columns

In [ ]:
df.sepal_length.min()

In [ ]:
min(df.sepal_length)

In [ ]:
df.head()

In [ ]:
# identify the unique values

df.species.unique()

In [ ]:
df.sepal_length.unique()

In [ ]:
len(df.sepal_length.unique())

In [ ]:
df.sepal_length.nunique()

## Series math

In [ ]:
print(df.sepal_length.head())

In [ ]:
type(df.sepal_length)

In [ ]:
import numpy as np

In [ ]:
np.mean(df.sepal_length)

In [ ]:
# data frame with sepal_length & sepel_width with the same number of rows with name "s_df"

sl_df = df['sepal_length']

sl_df.head()

In [ ]:
sw_df = df['sepal_width']
sw_df.head()

In [ ]:
sl_df + sw_df

In [ ]:
s_df = df[['sepal_length','sepal_width']]

In [ ]:
s_df.head()

In [ ]:
s_df['sepel_area'][0]

In [ ]:
s_df['sepel_area'][0] = 12

In [ ]:
# need to creatre sepel_area {L * B}

s_df['sepel_area'] = df['sepal_length'] * df['sepal_width']

In [ ]:
s_df.columns

In [ ]:
s_df.head()

In [ ]:
# adding elements to set

a = {1,2,2,2,2,2,3,3,34,4,5}

In [ ]:
a

In [ ]:
a.add(9)

In [ ]:
a

In [ ]:
df.info()

In [ ]:
# we are adding 2 more features 

df['sepal_Area'] = df['sepal_length'] * df['sepal_width']
df['petal_Area'] = df['petal_length'] * df['petal_width']

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
print(max(df.sepal_Area))
min(df.sepal_Area)

In [ ]:
# Observation with sepal area> 25

# what is the count ?

df.shape

In [ ]:
df[df['sepal_Area']>25].shape  #{>,<,>=,<=,==,!=}

# shape(observations, columns/features)

In [ ]:
# boolean Masks -> True/ False

# Groupbys

## Boolean Masks:

    fitering 
    
    list/numpyarrays/Pandas Series

In [ ]:
list_mask = [True, False, True, False ]

series_mask = pd.Series([True, True, False, False])

In [ ]:
print(series_mask)

In [ ]:
# 

ps = pd.Series([1,12,13,-10,-12,34,456,678,78,-123])

In [ ]:
positive_mask = ps > 0

In [ ]:
positive_mask

In [ ]:
# 
ps[positive_mask]

In [ ]:
ps[~positive_mask]

In [ ]:
# how many species ? what their count?

df.columns

In [ ]:
# Fltering data

In [ ]:
x = pd.Series([df['species']])

y = np.array(df['species'])

In [ ]:
x

In [ ]:
set(x)

In [ ]:
y

In [ ]:
set(y)

In [ ]:
print(df[df['species']=='virginica'].shape)

print(df[df['species']=='versicolor'].shape)

print(df[df['species']=='setosa'].shape)

In [ ]:
# Species_mask = setosa & spepal area >20

#1. Yo need to create masks 

species_mask = df['species']=='setosa'

#2. apply those to the data 

sepel_Area_mask = df['sepal_Area'] >20

In [ ]:
df[species_mask].shapeb

In [ ]:
df[sepel_Area_mask].shape

In [ ]:
df[species_mask & sepel_Area_mask].shape

In [ ]:
df.columns

In [ ]:
set(np.array(df['species']))

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df['sepal_length'].head()

In [ ]:
df.sepal_length.head()

In [ ]:
df[df['sepal_length']>6].shape

In [ ]:
df.species.unique()

In [ ]:
species_mask = df['species']=='setosa'

In [ ]:
df[species_mask].shape

In [ ]:
sp_l_mask = df['sepal_length']>6

In [ ]:
sp_l_mask

In [ ]:
df[sp_l_mask].shape

In [ ]:
df[species_mask | sp_l_mask]

In [ ]:
# Groupby

df.head()

In [ ]:
# display all virgininca species and sort those values by petal_area

# 1. you need to seperate virginica species

df[df['species']=='virginica'].sort_values(by ='petal_Area')

In [ ]:
df.species.value_counts()

In [ ]:
df.species.value_counts(normalize=True)

In [ ]:
df[df['species']=='virginica'].sort_values(by ='petal_Area',ascending=False)

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.groupby('species').petal_Area.mean()

In [ ]:
df.groupby('species').petal_Area.median()

In [ ]:
df.groupby('species').petal_Area.sum()

In [ ]:
# type conversion

int()
float()
bool()  



list()
tuple()
set()

In [ ]:
s = {1,3,6,5,8,9,10}
s

In [ ]:
s = {10,9,6,5,1,3,8}
s

In [9]:
import numpy as np
import pandas as pd

In [ ]:
dict_1={'Name':['ritesh','Amit','Syam'],'age':[36,34,55],'city':['Brajrajnagar','Patna','Balia']}
df=pd.DataFrame(dict_1)
df

In [ ]:
df['age'][34]=[55]
df

In [ ]:
df

In [ ]:
#export file in excel sheet
df.to_csv('Ritesh Pandas.csv')

In [ ]:
#import file in excel sheet without index
df.to_csv('Ritesh_without index.csv',index=False)

In [ ]:
#import CSV file in Jupyter
Train=pd.read_csv('Train Ditails.csv')
Train

In [ ]:
#How to change perticular column value

Train['speed'][1]=45
Train['speed'][2]=67

In [ ]:
Train

In [ ]:
# changing columns name
Train.columns=['Train Number','speed','city']

In [ ]:
Train

In [ ]:
# after updating data save again in csv file

Train.to_csv('Train Ditails.csv')

In [ ]:
Train

In [ ]:
# how to change index value
Train.index=['a','b','c']
Train

In [ ]:
# making a series 
ser=pd.Series(np.ramdom.rand(34))
type(ser)

In [10]:
# making random dataframe
newdf=pd.DataFrame(np.random.rand(334,4))
newdf

            0         1         2         3
0    0.705465  0.214517  0.115362  0.144030
1    0.772112  0.883282  0.387524  0.702360
2    0.727932  0.068894  0.261365  0.336330
3    0.334057  0.242057  0.419716  0.902309
4    0.658423  0.005054  0.463031  0.681282
5    0.800177  0.508053  0.640593  0.954742
6    0.535988  0.147946  0.810766  0.332289
7    0.802411  0.798420  0.738865  0.538754
8    0.056411  0.429120  0.406035  0.094202
9    0.767181  0.956286  0.352945  0.757726
10   0.278440  0.812491  0.762363  0.775609
11   0.654780  0.195865  0.346681  0.326135
12   0.766851  0.006210  0.866177  0.895409
13   0.561177  0.019214  0.692402  0.603714
14   0.119076  0.598416  0.208710  0.036999
15   0.313955  0.740206  0.849483  0.521805
16   0.758233  0.031943  0.655144  0.965671
17   0.767058  0.015575  0.470087  0.013514
18   0.868398  0.857503  0.200773  0.539320
19   0.825058  0.309570  0.531780  0.268071
20   0.166092  0.722485  0.866332  0.923345
21   0.341494  0.604161  0.676289  0.169864
22   0.531587  0.981500  0.090759  0.242702
23   0.983250  0.645398  0.967118  0.239342
24   0.176224  0.139179  0.677666  0.143425
25   0.745505  0.359363  0.275186  0.399565
26   0.531140  0.049953  0.749636  0.991661
27   0.979345  0.452423  0.788643  0.391312
28   0.118065  0.079618  0.829855  0.943607
29   0.550552  0.897915  0.234165  0.122420
..        ...       ...       ...       ...
304  0.531292  0.468484  0.132453  0.713662
305  0.658533  0.910452  0.257611  0.536212
306  0.247863  0.582864  0.315342  0.263729
307  0.428664  0.731276  0.515192  0.080133
308  0.249008  0.765108  0.343942  0.400901
309  0.559372  0.149400  0.692408  0.240793
310  0.451389  0.126109  0.975465  0.625708
311  0.776566  0.553062  0.765605  0.046337
312  0.208207  0.243549  0.706519  0.855835
313  0.531225  0.339784  0.254384  0.268351
314  0.658035  0.751522  0.007656  0.701530
315  0.572138  0.311859  0.147048  0.856068
316  0.105131  0.488976  0.394076  0.199301
317  0.042132  0.073880  0.135605  0.018902
318  0.362575  0.455541  0.425565  0.804505
319  0.247545  0.753954  0.626459  0.074537
320  0.763846  0.567860  0.788399  0.034234
321  0.667490  0.383835  0.810861  0.363734
322  0.024502  0.947495  0.488791  0.939900
323  0.634819  0.211653  0.326583  0.111605
324  0.697396  0.253137  0.234513  0.966205
325  0.471149  0.610887  0.800452  0.433012
326  0.469691  0.371895  0.308285  0.568087
327  0.798123  0.334404  0.278910  0.341747
328  0.225343  0.259628  0.068603  0.684449
329  0.613785  0.369994  0.898102  0.049499
330  0.627570  0.225020  0.324787  0.270533
331  0.026819  0.691283  0.759034  0.673292
332  0.227392  0.285497  0.925572  0.920653
333  0.231394  0.024692  0.360835  0.368155

[334 rows x 4 columns]

In [11]:
type(newdf)

pandas.core.frame.DataFrame

In [ ]:
newdf.describe()

In [ ]:
# how to know data type
newdf.dtypes

In [ ]:
newdf.head()

In [ ]:
newdf[0][0]

In [ ]:
# change column value
newdf[0][0]='Ritesh'
newdf.head()

In [ ]:
newdf.dtypes

In [ ]:
# print total index value
newdf.index

In [ ]:
#print total columns
newdf.columns

In [ ]:
# convert dataframe to numpy
newdf.to_numpy()

In [ ]:
newdf[0][0]=0.9

In [ ]:
newdf.head()

In [ ]:
# convert columns to raw 
newdf.T

In [ ]:
# shorten dataframe in reverse in raw
newdf.sort_index(axis=0,ascending=False)

In [ ]:
# shorten dataframe in reverse in columns
newdf.sort_index(axis=1,ascending=False)

In [ ]:
print(newdf[0].head())
type(newdf[0])

In [ ]:
newdf.head()

In [ ]:
newdf.iloc[0,0]=666

In [ ]:
newdf.head()

In [13]:
newdf.columns=list('abcd')

In [14]:
newdf.head()

          a         b         c         d
0  0.705465  0.214517  0.115362  0.144030
1  0.772112  0.883282  0.387524  0.702360
2  0.727932  0.068894  0.261365  0.336330
3  0.334057  0.242057  0.419716  0.902309
4  0.658423  0.005054  0.463031  0.681282

In [ ]:
#Add new column in dataframe
newdf['ram']=range(334)

In [ ]:
newdf.head()

In [ ]:
# drop columns from dataframe
newdf=newdf.drop('ram',axis=1)

In [ ]:
newdf.head()

In [ ]:
#access one row
newdf.iloc[0]

In [15]:
# if we want to access two raw and two columns
newdf.loc[[0,1],['a','b']]

          a         b
0  0.705465  0.214517
1  0.772112  0.883282

In [16]:
#if we want only two colums
newdf.loc[:,['a','b']]

            a         b
0    0.705465  0.214517
1    0.772112  0.883282
2    0.727932  0.068894
3    0.334057  0.242057
4    0.658423  0.005054
5    0.800177  0.508053
6    0.535988  0.147946
7    0.802411  0.798420
8    0.056411  0.429120
9    0.767181  0.956286
10   0.278440  0.812491
11   0.654780  0.195865
12   0.766851  0.006210
13   0.561177  0.019214
14   0.119076  0.598416
15   0.313955  0.740206
16   0.758233  0.031943
17   0.767058  0.015575
18   0.868398  0.857503
19   0.825058  0.309570
20   0.166092  0.722485
21   0.341494  0.604161
22   0.531587  0.981500
23   0.983250  0.645398
24   0.176224  0.139179
25   0.745505  0.359363
26   0.531140  0.049953
27   0.979345  0.452423
28   0.118065  0.079618
29   0.550552  0.897915
..        ...       ...
304  0.531292  0.468484
305  0.658533  0.910452
306  0.247863  0.582864
307  0.428664  0.731276
308  0.249008  0.765108
309  0.559372  0.149400
310  0.451389  0.126109
311  0.776566  0.553062
312  0.208207  0.243549
313  0.531225  0.339784
314  0.658035  0.751522
315  0.572138  0.311859
316  0.105131  0.488976
317  0.042132  0.073880
318  0.362575  0.455541
319  0.247545  0.753954
320  0.763846  0.567860
321  0.667490  0.383835
322  0.024502  0.947495
323  0.634819  0.211653
324  0.697396  0.253137
325  0.471149  0.610887
326  0.469691  0.371895
327  0.798123  0.334404
328  0.225343  0.259628
329  0.613785  0.369994
330  0.627570  0.225020
331  0.026819  0.691283
332  0.227392  0.285497
333  0.231394  0.024692

[334 rows x 2 columns]

In [17]:
#if we want only two raw
newdf.loc[[0,1],:]

          a         b         c        d
0  0.705465  0.214517  0.115362  0.14403
1  0.772112  0.883282  0.387524  0.70236

In [ ]:
newdf.loc[(newdf['a']<0.3) & (newdf['c']>0.1)]

In [18]:
#  if we want perticular data without know row and columns index
newdf.iloc[0,3]

0.14403000090488693

In [ ]:
newdf.iloc[[0,3]]

In [ ]:
newdf.head()

In [ ]:
# if we want to del raw 
newdf.drop([4,5],axis=0,inplace=True)
newdf

In [ ]:
# if we want to del columns
newdf.drop(['a'],axis=1,inplace=True)

In [ ]:
# if we want to ascending index 
newdf.reset_index(drop=True,inplace=True)
newdf

In [ ]:
newdf['ram']=None

In [ ]:
newdf.head(2)

In [ ]:
newdf.dropna(inplace=True)

In [ ]:
newdf

In [ ]:
newdf.head(2)

In [ ]:
newdf.loc[:,[0]]=None

In [ ]:
newdf.head(3)

In [ ]:
newdf.loc[0]=[0.455666,0.4222222,0.56664432,0.9888222]

In [ ]:
newdf.loc[0,0]=None

In [ ]:
newdf.head(3)

In [ ]:
# checking None value in columns
newdf[0].isnull()

In [ ]:
data=pd.read_excel('Data.xlsx',sheet_name='Sheet1')
data

In [ ]:
data=pd.read_excel('Data.xlsx',sheet_name='Sheet2')
data

In [ ]:
data.iloc[0,0]=23

In [ ]:
data

In [ ]:
data.to_excel('Data.xlsx',sheet_name='sheet2')

In [ ]:
data=pd.read_excel('Data.xlsx',sheet_name='Sheet1')
data

In [ ]:
newdf

In [ ]:
newdf.columns=['a','b','c','d']

In [ ]:
newdf

In [ ]:
newdf.loc[[0],['d']]

In [ ]:
newdf.head(3)

In [ ]:
newdf.iloc[0,3]  #------->its show first raws last data

In [ ]:
newdf.iloc[[0,3]] #--------. its shows 0 & 3 raws data