# To change to markdown -> Esc +M
## Headings
### headings
#### Headings

**To Bold a Text**  

# <font color = 'Red'>Different colors</font>

jupyter Commandas/ Info :
    
    -> Esc + M  to change code cell to markdown
    -> Esc + Y  to change markdown to code
    -> Esc + A  to add a new cell above to the current cell
    -> Esc + B  to add new cell below to the current cell
    -> Shift +Enter  to execute the code along with it creates one new cell below to the current cell
    -> Ctrl + Enter  it just executes the code
    
    -> Short cut to all shortcuts  - Esc +H

In [2]:
# To Know version of python installed in your machine

import sys
print(sys.version)

3.7.1 (default, Dec 10 2018, 22:54:23) [MSC v.1915 64 bit (AMD64)]

In [ ]:
# numbers : integers  + floats (12 + 12.0)

In [3]:
# Python Can be used as a calculator

# It will display the out put of recently executed results
5 + 10
9 + 5

14

In [6]:
# i want top display all the results which i want ?

print( 3 +5)

34 +23

8

57

In [5]:
34 +23

57

In [7]:
print(123 +123)

print(11 +234)

246
245

In [ ]:
# Precedence order

In [ ]:
BODMAS :  Brackets , Of , Division, Multiplication ,Addition , Substraction
    
    
PERMDAS : {Perantheses, Exponential, Roots, Multiplication, Divion, Addition , Substraction}

In [8]:
(2 +3-4/2*4/2-3)/2+4

3.0

In [9]:
1+3 *9-4/3-4+5/2.5+1

25.666666666666668

In [12]:
# Addition 

print(12 +12.0)

print(12 + 12)

print(12.8 +12.2)

24.0
24
25.0

In [14]:
# Substraction

print(122 -12.0)

print(124 - 12)

print(129.8 -12.2)

129.8 -12.2

110.0
112
117.60000000000001

117.60000000000001

In [15]:
# Multiplication

print(12 *  12)

print(12 * 1.5)

print(1.5 * 1.5)

144
18.0
2.25

In [23]:
# Divison

# note:- The result will be in a float for both int and float combinations

print(12/3)

print(14/7.0)

print(18.0/3.0)

print(10/3)

4.0
2.0
6.0
3.3333333333333335

In [21]:
# Modulus

print(123 % 11)

print(123 % 11.0)

print(10 % 3)

2
2.0
1

In [22]:
# Floor division

print(12//5)

print(10//3)

2
3

In [25]:
# power / exponent

print(12 ** 2)

print(12.0 ** 2)

144
144.0

# Variables

In [ ]:
Need to remember :
    
    1. When you are creating any variables, need to take care about their meaning.
    
    2. variable need to start with character
    
    3. Varaible can be a combination of Aplhabets  + numbers
    
    4. The one and only special character acceptable in Pyhton as a character "_"
    
    5. ASAP dont leave spaces when you are creating varibales try to use _

In [ ]:
# Assignment operator   "="

In [27]:
a = 12
a

12

In [28]:
# Dynamic Typing Language

int_vari = 12312

In [29]:
# The one and only special character acceptable in Pyhton as a character "_"
_int_vari = 12345

In [30]:
_int_vari

12345

In [32]:
int123 = 123456
int123

123456

In [33]:
# Varaible name should start with alphbet or _
123number =999999

SyntaxError: invalid syntax (<ipython-input-33-26c4203a08e6>, line 2)

In [34]:
#  Only special caharecter is  _
asdfas_123_123_@ = 1234

SyntaxError: invalid syntax (<ipython-input-34-97e0718022aa>, line 2)

In [ ]:
# special use of underscore

In [35]:
12345

12345

In [36]:
_

12345

In [37]:
1234 +1234

2468

In [38]:
_

2468

In [39]:
1231*123

151413

In [40]:
_

151413

In [45]:
# creating multiple varaibles

a = 19

b = 20

c = 21

d = 32

In [42]:
a

19

In [43]:
# if any varaible we dint defined and even we are calling for , it will say to us it is not defined
B

NameError: name 'B' is not defined

In [64]:

a,b,c,d = 10,20,30,40

In [50]:
# Varaible values are updatable , it holds only recently allocated value
d

999

In [49]:
d = 999

In [51]:
# equal number of names and values should

a,b,c,d,e = 10,20,30,40

ValueError: not enough values to unpack (expected 5, got 4)

In [52]:
a,b,c,d = 10,20,30,40,50

ValueError: too many values to unpack (expected 4)

In [53]:
# delete the varaibles one at atime 

del a

In [54]:
a

NameError: name 'a' is not defined

In [55]:
x

NameError: name 'x' is not defined

In [58]:
print(b)
print(c)
print(d)

20
30
40

In [65]:
# 
del b,c,d

In [60]:
print(b)
print(c)
print(d)

NameError: name 'b' is not defined

In [66]:
b = 99

In [67]:
print(b)
print(c)
print(d)

99

NameError: name 'c' is not defined

In [70]:
b = 999
c = 99

In [71]:
print(b)
print(c)
print(d)

999
99

NameError: name 'd' is not defined

In [72]:
print(a,b,c,d)

NameError: name 'd' is not defined

In [74]:
# print multiple out puts in tha same print
print(c,b)

99 999

In [76]:
print(12 +123)

print(1231231*1231)

135
1515645361

In [77]:
print('I want to show the sum :', 123 +123)

I want to show the sum : 246

In [78]:
print("I wnat to show sum : ", 1234 +1234)

I wnat to show sum :  2468

#Note: It stops at first error

In [79]:
# concatiantion 

1234 +12123123123

12123124357

In [80]:
12312 + 'asdasdas'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [82]:
'asdasdas '+"safdasfdsdfas         "

# observations

# 1. + -> concatinate
# 2. Space also considered as a one character
# 3. '' or what ever may be the combination it will work

'asdasdas safdasfdsdfas         '

In [83]:
# we can not use one ' and "  to represent the string 
'adasda" +'asfdasdas"

SyntaxError: invalid syntax (<ipython-input-83-e2490043159d>, line 2)

In [86]:
'adasda" +'asfdasdas"''

SyntaxError: invalid syntax (<ipython-input-86-9f8024087a90>, line 1)

In [87]:
''adasda' +'asfdasdas''

SyntaxError: invalid syntax (<ipython-input-87-2a17d52cf5bc>, line 1)

In [88]:
"'adasda' +'asfdasdas'"

"'adasda' +'asfdasdas'"

In [91]:
'''adasda' +'asfdasdas'''

"adasda' +'asfdasdas"