In [ ]:
what is loop meaninig?

why we are using loops?

where we use loops?

what is condition?

where we use conditions?

how we use ?

# Yuvaraja

his condition  # huge amount of dowary
                
               # looks
        
               # she need to earn more than him 
            
               # But she need to do all house hold works
                
               # less anger & Hunger  than him 
            
             -> select / differ/ filter /
                
Loops ? 

ram 3,4,5

daily going to the office 
    
    1. Need to go to chai 
    2. Need to speak about contry condition
    3. Need to crack some jokes on people who are a little bit silent 
    4. You will check your mails/ you all your coleges imp mail/ work?
    5. you plan what you need to do today 
    6. need to go for lunch 
    7. walking 
    8. contry condition
    9. you will decreased the plned work.
    10 1 hour time to give status 
    11. do the work 
    12. attending the call 
    13. closing the day with very hectic shedule

# conditional statments / logics

 very importent  : indentation (Spacing/ 1 tab or 4 spaces)

 If statment check if the condition is met before running a block of code or not

In [1]:


# condition

if ritesh >= 100000:
    print("His savings are more")

His savings are more

In [3]:
# condition

if ritesh >= 10000000:
    print("His savings are more")
    
#  joy (same)/ Error - Ritesh / naveen error

Enter the number 12345678

In [ ]:
var_1 = input("Enter the number ")

In [8]:
# if - else 

a = int(input("Enter the number"))

if a> 20:
    print("Current enter number is bigger")
    
else:
    print("20 is the hign numarical")

Enter the number100
Current enter number is bigger

In [ ]:
# if- elif- else

# conditions  600 - total marks  Telgu, Hindi, English , Sceince, Social , Maths

# 550 - 600  -  Extraordinary 

# 500 - 550  -  good student

# 450 - 500  -  Just okay

# 400 - 450  -  Okay okay

# <400       -  Waste person (myth)

In [15]:
marks = int(input("Please enter your 'SSC' Marks : "))



if 0<= marks< 400:
    print("Waste Person (myth) ")
    
elif 400<= marks< 450:
    print("okay okay ")
    
elif 450<= marks< 500:
    print("just okay ")
    
elif 500<= marks< 550:
    print("good student ")

else :
    print("Extra ordinary")

Please enter your 'SSC' Marks : 7617625437
Extra ordinary

In [18]:
marks = int(input("Please enter your 'SSC' Marks : "))

if 0<= marks< 400:
    print("Waste Person (myth) ")
    
elif 4000<= marks< 450:
    print("okay okay ")
    
elif 450<= marks< 500:
    print("just okay ")
    
elif 500<= marks< 550:
    print("good student ")

elif 550<= marks< 600:
    print("Extra ordinary")
    
else:
    print("Enter the marks in proper way")

Please enter your 'SSC' Marks : 12312312312321
Enter the marks in proper way

In [22]:
# Chandrika's

marks = int(input("Enter you marks between 1 and 600: "))

if marks >=550 and marks <600:
    print("Extraordinary")

elif marks >=500 and marks <550:
    print("good student")

elif marks >=450 and marks <500:
    print("just ok")

elif marks >=400 and marks <450:
    print("ok ok")

elif marks >600:
    print ("Please enter marks between 1 and 600 only")

else:
    print("waste student")

Enter you marks between 1 and 600: -123
waste student

In [23]:
# for loop

# When we need a repeat process across many objects, we will write for loop.

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [26]:
for num in range(100, 2000,100):
    print(num)

100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900

In [28]:
for num in range(5):
    print(num)

0
1
2
3
4

In [34]:
for num in reversed(range(12, 0, -1)):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
# Assignment ?

for , if , elif, else, int, float , str, list

june 15 th 2019

In [71]:
lis1 = [1,2,3,4,5,6]

In [74]:


inp_number = int(input("Please enter the number: "))

if (inp_number in lis1)==True:
    print("The number is already in the list ")
else:
    lis1.append(inp_number)


print(lis1)

Please enter the number: 13
The number is already in the list
[1, 2, 3, 4, 5, 6, 12, 13]

In [70]:
inp_number = int(input("Please enter the number: "))

if (inp_number in lis1)==True:
    print("The number is already in the list ")
else:
    lis1.append(inp_number)


print(lis1)

Please enter the number: 15
The number is already in the list
[1, 2, 3, 4, 5, 6, 13, 14, 15]

In [64]:
lis1 = [1,2,3,4,5,6]

inp_number = int(input("Please enter the number: "))

for num in lis1:
    if num==inp_number:
        print("yes")
        
    else:
        lis1.append(inp_number)

Please enter the number: 12
yes
yes
yes
yes
yes
yes

In [54]:
list(lis1.append(inp_number))

TypeError: 'NoneType' object is not iterable

In [35]:
lis1 = [1,2,3,4,5,6]
a
3 in lis1

True

In [ ]:

lis1 = [1,2,3,4,5,6]
length = (len(lis1))
number = int(input("enter your number: "))
for i in range(length):
    number = int(input("enter your number: "))
    if number in lis1:
        print ("number already exists in the list")
    else:
        lis1.append(number)
        lis

For loop :
 
 When you need to repet a process across many objects , you can rigth for loop

In [76]:
for vamsi in [1,2,3,4,5,6,7,8,9]:
    print(vamsi)

1
2
3
4
5
6
7
8
9

In [77]:
for num in range(5):
    print(num)

0
1
2
3
4

In [78]:
for num in reversed(range(5)):
    print(num)

4
3
2
1
0

In [79]:
# Nested control flow

r_l = range(10)

for num in reversed(r_l):
    if num == 0:
        print("vamsi")
    elif num % 2==0:
        print("joy")
    else:
        print("yuvraj")

yuvraj
joy
yuvraj
joy
yuvraj
joy
yuvraj
joy
yuvraj
vamsi

In [80]:
r_l = range(10)

for num in r_l:
    if num == 0:
        print("vamsi")
    elif num % 2==0:
        print("joy")
    else:
        print("yuvraj")

vamsi
yuvraj
joy
yuvraj
joy
yuvraj
joy
yuvraj
joy
yuvraj

In [ ]:
1 * 2 = 2
1 * 3 = 3

In [84]:
nums_1 = range(1,11)
nums_2 = range(1,11)

for a in nums_1:
    for b in nums_2:
        print(a, "*", b, "=" ,a*b)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [87]:
# you need to take input , after that need to print two list 1. even and another odd


#ritesh
inp=int(input('enter a numbers'))

r=[]
e=[]
if inp%2==0:
    r.append(inp)
else:
 
    e.append(inp)
print(r)
print(e)

enter a numbers12
[12]
[]

In [94]:
inp_s = int(input('enter the starting range :'))
inp_e = int(input('enterthe end range : '))
inp_i = int(input("Enter the interval : "))

original = range(inp_s,inp_e, inp_i)
r=[]
e=[]

for num in original:
    
    if num%2==0:
        r.append(num)
    else:
        e.append(num)
print("Length of the even list : ",len(r),r)
print("Length of the odd list : ",len(e),e)b

enter the starting range :1
enterthe end range : 10
Enter the interval : 5
Length of the even list :  1 [6]
Length of the odd list :  1 [1]

In [104]:
original = [int(x) for x in input().split()]


r=[]
e=[]

for num in original:
    
    if num%2==0:
        r.append(num)
    else:
        e.append(num)
print("Length of the even list : ",len(r),r)
print("Length of the odd list : ",len(e),e)

12 15 111 119 120
Length of the even list :  2 [12, 120]
Length of the odd list :  3 [15, 111, 119]

# list comprehensions

In [105]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [106]:
# squaring a number 
square_list = [number **2 for number in range(10)]

In [107]:
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [110]:
# even 

even_list = [number for number in range(10) if number %2==0]
even_list

[0, 2, 4, 6, 8]

In [111]:
# odd list

even_list = [number for number in range(10) if number %2!=0]
even_list

[1, 3, 5, 7, 9]

In [113]:
# even or odd in the same list  for the range 10

even_odd_list = ['even' if number %2==0 else 'odd' for number in range(10)]
even_odd_list

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [1]:
r_l = range(10)

for num in reversed(r_l):
    if num == 0:
        print("ritesh")
    elif num % 2==0:
        print("kumar")
    else:
        print("tiwari")

tiwari
kumar
tiwari
kumar
tiwari
kumar
tiwari
kumar
tiwari
ritesh

In [6]:
num=range(1,11)
num1=range(1,11)
for i in num:
    for b in num1:
        print(i ,'*',b ,'=',i*b)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [1]:
for i in range(1,11):
    for i2 in range(1,11):
        print(i,'*',i2,'=',i*i2)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [6]:
vicky=[1,2,3,4,5,6]
bb=len(vicky)
total=sum(vicky)
print(total)

3.5

6

In [7]:
vicky=[1,2,3,4,5,6]
bb=len(vicky)
total=sum(vicky)
print(total)

21

In [9]:
total=0
gg=[1,2,3,4,5]
for i in gg:
    total+=i
print(total)

15

In [16]:
import pandas as pd
data=pd.DataFrame({'DETAILS':['NAME','EMAILID','CELL NUMBER','CURRENT DESIGNATION','DOMAIN','LOCATION'],'RITESH':['RITESH','rritesh.tiwari@gmail.com',9040398286,'ENGINEER','KEPCOKPS','BRAJRAJNAGAR']})
data

               DETAILS          RITESH
0                 NAME          RITESH
1              EMAILID  RRITESH.TIWAIR
2          CELL NUMBER      9040398286
3  CURRENT DESIGNATION        ENGINNER
4               DOMAIN        KEPCOKPS
5             LOCATION    BRAJRAJNAGAR

In [18]:
# creation of sample table 
stu_df = pd.DataFrame({'Details': ['Name', 'Email_id', 'Cell_Number', 'Current_Designation', 'Domain', 'Location'],
                       'Chandrika':['Chandrika', 'chandrika3772@gmail.com', '8977245972', 'Student', 'Information Systems and Business Analytics', 'United States'],
'JOY':['JOY CHOUDHURY', 'joy2kcentury@gmail.com','+91 9853566499', 'Engineer', 'Industrial Automation', 'Odisha'],'Anilsharma':['anil', 'anilsharmam@hotmail.com', '9010464464', 'Finance consultant', 'Project Management-finance', 'Hyderabad'],'RITESH':['RITESH','ritish.tiwiari@gmail.com',9040398286,'Engineer','KEPCOKPS','Odisha']})
stu_df

,Details,Chandrika,JOY,Anilsharma,RITESH
0,Name,Chandrika,JOY CHOUDHURY,anil,RITESH
1,Email_id,chandrika3772@gmail.com,joy2kcentury@gmail.com,anilsharmam@hotmail.com,ritish.tiwiari@gmail.com
2,Cell_Number,8977245972,+91 9853566499,9010464464,9040398286
3,Current_Designation,Student,Engineer,Finance consultant,Engineer
4,Domain,Information Systems and Business Analytics,Industrial Automation,Project Management-finance,KEPCOKPS
5,Location,United States,Odisha,Hyderabad,Odisha

In [51]:
stu_df['RITESH','JOY']

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.range.RangeIndex'> with these indexers [RITESH] of <class 'str'>

In [44]:
mydict = {'one': 1, 'two': 2, 'three': 3}
mykeys = ['three', 'one']
[mydict[x] for x in mykeys]

[3, 1]