In [3]:
# Comparision Operators

# >, <, >=, <=,==,!=

# results for this comparision operators is "BOOL"  -> True or False ( 1 -Not in Python   0 --- Not in Python)

123>234

False

In [4]:
# Less than 
12314<789876

1231  <     21312412

True

In [5]:
# You need to care full when you are defining "<="
123<=123

123      <=      1234

True

In [6]:
# Not the properway to define <= 
123=<123

SyntaxError: invalid syntax (<ipython-input-6-06d03cd3bbf4>, line 2)

In [9]:
# Spaces in between < = is are not allowable
123 < = 123

SyntaxError: invalid syntax (<ipython-input-9-251937427e37>, line 2)

In [13]:
123 +1231

as +123

SyntaxError: invalid syntax (<ipython-input-13-9f95c2536cee>, line 3)

In [14]:
print(123 +1231)

print(as +123)

SyntaxError: invalid syntax (<ipython-input-14-aca4020e1942>, line 3)

In [15]:
# Execution based on the presence of errors 
a,b,c,d = 1,2,3,4


print(a)

print(b)

print(d)

print(e)

1
2
4

NameError: name 'e' is not defined

In [16]:
# graterthan or equal to

In [17]:
# grater than or Equal 
123 >=123

True

In [18]:
1231421412>=123

True

In [19]:
123 >=12324324

False

In [20]:
# Mot equal

1231212 =! 1231243

SyntaxError: can't assign to literal (<ipython-input-20-c1ade0f9594d>, line 3)

In [21]:
12341 != 1241431

True

In [22]:
# Equality Operator


12345 = = 1234

SyntaxError: invalid syntax (<ipython-input-22-f5bd63b20983>, line 4)

In [23]:
12345 ==       1234

False

In [24]:
print("Addition :", 123+345)

Addition : 468

In [25]:
# Sumanth 

a=5
b=6

print('checking equal or not equal:', a!=b)

checking equal or not equal: True

In [26]:
# Manoj

a=1234 
b=1287 
print("Checking if a is less than b :",a<b)

Checking if a is less than b : True

In [27]:
# Rahul
a=12 
b=23
print("Validating a is less than or equal to b:", a<=b)

Validating a is less than or equal to b: True

In [28]:
# Arvind  >= 

a=100
b=200
print (" check whether a greater than or equal b:", a>=b)

 check whether a greater than or equal b: False

In [29]:
# raju   Equal to 

a , b = 145 , 521


    print( 'a is greater than b:'+ a==b )  # because of indentation (4 spaces or 1 tab )

IndentationError: unexpected indent (<ipython-input-29-666363e8b0b3>, line 6)

In [30]:
# raju   Equal to 

a , b = 145 , 521

print( 'a is greater than b:'+ a==b )  #

TypeError: can only concatenate str (not "int") to str

In [31]:
# Note concatination  "+" for onl7y same data types

"asdasdsa" +123

TypeError: can only concatenate str (not "int") to str

In [32]:
# raju   Equal to 

a , b = 145 , 521


print( 'a is greater than b:', a==b )

a is greater than b: False

In [33]:
123+123
12+12

24

In [34]:
print(123+2134)
print(12+12)

2257
24

In [35]:
you need to use  

1. Arthimetic operators
2. print()
3. default functionlity without print
4. you need to use varaible assinment  
5. multiple variable assignment
6. int and Float 
7. Comarisions you need to use 
8. All the string representation you need to use."",''

SyntaxError: invalid syntax (<ipython-input-35-f541681bee6d>, line 1)

In [36]:


# 1. Rahul

a=2
b=3.3
a,b = 2, 3.3
print('add:', a+b)
print("compare less than or equal to:",a<=b)
a-b

add: 5.3
compare less than or equal to: True

-1.2999999999999998

In [37]:





# 2. Raju

a , b , c  = 10 , 20 , 30.5

print ( a , b , c)

print ( a+ b+ c - 45)

print ( "Sum of all variables :", a+ b+ c )

print ( ' a is equal to b :', a==b)

a+ b+ c*10

10 20 30.5
15.5
Sum of all variables : 60.5
 a is equal to b : False

335.0

In [38]:
# 3. Arvind

In [39]:
# 4. Sai Manoj

a,b,c=2,28,4
d=190
e=(c/3+9*b+2*d)+4/c*c/4
f=(10*a*c)
g=a**c
print("a=",a)
print("b=",b)
print("c=",c)
print("d=",d)
print("e=(c/3+9.0*b+2*d)+4/c*c/4.0=",e)
print("f=(10*a*c)=",f)
print("g=g=a**c=",g)
print("e=",e)
print("f=",f)
print("Less than check, if e<f:",e<f)
print("Less than equal to check, if f<=e:",f<=e)
print('check to see a*14'+' '+'is greater than equal to b, if a*14>=b:',a*14>=c)
print('if a equal to c/2=',a==c/2)
f

a= 2
b= 28
c= 4
d= 190
e=(c/3+9.0*b+2*d)+4/c*c/4.0= 634.3333333333334
f=(10*a*c)= 80
g=g=a**c= 16
e= 634.3333333333334
f= 80
Less than check, if e<f: False
Less than equal to check, if f<=e: True
check to see a*14 is greater than equal to b, if a*14>=b: True
if a equal to c/2= True

80

In [40]:
# Sumanth

In [41]:
# to know the type of the information 

print(a)
type(a)

2

int

In [42]:
print(b)
type(b)

28

int

In [43]:
print(c)
type(c)

4

int

In [44]:
print(print ( "Sum of all variables :", a+ b+ c ))

Sum of all variables : 34
None

In [ ]:
print(print(""""""))

In [ ]:
print("Print()")

In [ ]:
print(print())

In [ ]:
print( """"""""          )

In [ ]:
type(12)

In [ ]:
type(0)

In [ ]:
type(FALSE)

In [ ]:
x

In [ ]:
a,c,b = 12,13,14

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
del a,b,c

In [ ]:
a

In [ ]:
type(TRUE)

In [ ]:
type(true)

In [ ]:
type(True)

In [ ]:
type(T)

In [ ]:
type(False)

In [ ]:
# Python is case sensitive language

a = 99
A =999

In [ ]:
a

In [ ]:
A

In [ ]:
type(T)

In [ ]:
type(1)

In [ ]:
# Type conversion

In [ ]:
int(123.345)

In [ ]:
float(123)

In [ ]:
str(123)

In [ ]:
str(asda)

In [ ]:
print("skjdhkjdsafafdsasd)

In [ ]:
print(skjdhkjdsafafdsasd")

In [ ]:
print("skjdhkjdsafafdsasd')

In [ ]:
print("skjdhkjdsafafdsasd"

In [ ]:
print "skjdhkjdsafafdsasd)

In [ ]:
print "skjdhkjdsafafdsasd")

In [ ]:
type('A')

In [ ]:
# Note :  In python '',"", single character or sequence of characters it is only String . not char

In [ ]:
str(14.0)

In [ ]:
a

In [ ]:
int(a)

In [ ]:
chr(1)

In [ ]:
chr(12.4)

In [12]:
# data types which are very importtant 


1. Lists

2. Tuples

3. Dictionaries

4. Sets

5. Strings

SyntaxError: invalid syntax (<ipython-input-12-34a4362c2bc7>, line 4)

# List

In [45]:
# Creating a list 

list_mohan = [99+99,123 -124,1,2,3,11.23,130.0,'Mohan',"DataSceince",[9,99,999],(1,11,111),{'one':1,'two':2},{12,324,1,1,1,1,11,"hi",123.0},True,123>345]

In [ ]:
list_mohan

In [ ]:
# What is the length of the list?
len(list_mohan)

In [ ]:
# To identify Specific element index

list_mohan.index('DataSceince')

In [ ]:
Set :
    
    -> Order is changes
    -> It removes the duplicates.

In [ ]:
list_mohan

In [ ]:
# Finding the index

list_mohan.index('Mohan')

In [ ]:
list_mohan[7]

In [ ]:
list_mohan[0]

In [ ]:
list_mohan[1]

In [ ]:
list_mohan[2]

In [ ]:
list_mohan[15]

In [ ]:
list_mohan[-4]

In [ ]:
total length : 15
    
positive index : 0- 14
    
Negetive index = -1  -15

negetive index  =  -4


What is the positive index for -4? =

In [ ]:
list_mohan[11]

In [ ]:
# Slicing a list with positive index

In [ ]:
list_mohan

In [ ]:
# to access elements from 198 to 130.0

In [ ]:
list_mohan.index(130.0)

In [ ]:
list_mohan[0:6]

In [ ]:
list_mohan[0:7]

In [ ]:
# want to access 1 to  (1,11,111)

In [ ]:
list_mohan[2:11]

In [ ]:
# Note : [Start :  End]

Start :  It includes in the selection
    
End    : it excluded in the selecton

In [ ]:
# negetive indexing  

I need to access these elements 

[[9, 99, 999],
 (1, 11, 111),
 {'one': 1, 'two': 2},
 {1, 11, 12, 123.0, 324, 'hi'},
 True,
 False]


list_mohan[-1:-7]

In [ ]:
list_mohan[-7:-1]

In [ ]:
list_mohan[-8:-1]

In [ ]:
list_mohan[-6:-1]

In [ ]:
list_mohan[-7:0]

In [ ]:
list_mohan[-6:0]

In [ ]:
list_mohan[-6]

In [ ]:
list_mohan[-6:]

In [ ]:
list_mohan[-6:1109]

In [ ]:
list_mohan[1:6]  # Sumanth 5 elements

In [ ]:
list_mohan[:7]   # raju

In [ ]:
list_mohan[6:]

# Python Session_3

In [46]:
list_mohan

[198,
 -1,
 1,
 2,
 3,
 11.23,
 130.0,
 'Mohan',
 'DataSceince',
 [9, 99, 999],
 (1, 11, 111),
 {'one': 1, 'two': 2},
 {1, 11, 12, 123.0, 324, 'hi'},
 True,
 False]

In [ ]:
# I want to update my 11.23 as 99.99

In [48]:
list_mohan[5]=99.99

In [49]:
list_mohan[5]

99.99

In [ ]:
# I want to update 99 to 88

In [51]:
list_mohan.index([9, 99, 999])

9

In [52]:
list_mohan[9]

[9, 99, 999]

In [53]:
list_mohan[9][1]

99

In [54]:
list_mohan[9][1]=88

In [55]:
list_mohan[9][1]

88

In [56]:
list_mohan

[198,
 -1,
 1,
 2,
 3,
 99.99,
 130.0,
 'Mohan',
 'DataSceince',
 [9, 88, 999],
 (1, 11, 111),
 {'one': 1, 'two': 2},
 {1, 11, 12, 123.0, 324, 'hi'},
 True,
 False]

In [57]:
# delete a specific element 
 
    # index
del list_mohan[1]

In [58]:
list_mohan

[198,
 1,
 2,
 3,
 99.99,
 130.0,
 'Mohan',
 'DataSceince',
 [9, 88, 999],
 (1, 11, 111),
 {'one': 1, 'two': 2},
 {1, 11, 12, 123.0, 324, 'hi'},
 True,
 False]

In [59]:
# remove
# Element base removing 

list_mohan.remove('Mohan')

In [60]:
list_mohan

[198,
 1,
 2,
 3,
 99.99,
 130.0,
 'DataSceince',
 [9, 88, 999],
 (1, 11, 111),
 {'one': 1, 'two': 2},
 {1, 11, 12, 123.0, 324, 'hi'},
 True,
 False]

In [64]:
# pop
# index -> along with deletion it is showing the element 

list_mohan.pop(1)

3

In [65]:
list_mohan

[198,
 99.99,
 130.0,
 'DataSceince',
 [9, 88, 999],
 (1, 11, 111),
 {'one': 1, 'two': 2},
 {1, 11, 12, 123.0, 324, 'hi'},
 True,
 False]

In [66]:
# Add elements to list -> Append()

list_mohan.append(9999)

In [67]:
list_mohan

[198,
 99.99,
 130.0,
 'DataSceince',
 [9, 88, 999],
 (1, 11, 111),
 {'one': 1, 'two': 2},
 {1, 11, 12, 123.0, 324, 'hi'},
 True,
 False,
 9999]

In [69]:
# Counting a specific element 

lis_1 =[1,1,1,1,2,2,2,3,3,3,3,4,4,4,5,5,5,5,6,6,6,6,6,7,7,7,7,8,8,8,8,8,8,8,188,8,8,88,8,]

lis_1.count(1)

4

# Tuples

In [70]:
# creating Tuple ()

tuple_test=(1,9.0,'Hello',"World",[1,2,3],(4,5,6),{1,1,2,2,2,5,4,4,'Hi'},{'hello':1,'World':2}, True, False)

1. Length?
2. accessing (+ve, -ve)/ single / slicing
3. updating 
4. adding
5. deleting
6. counting

In [73]:
len(tuple_test)  ##length of tuple

10

In [76]:
tuple_test[0:]  ##positive index
# or 

tuple_test

#or 

tuple_test[:]

(1,
 9.0,
 'Hello',
 'World',
 [1, 2, 3],
 (4, 5, 6),
 {1, 2, 4, 5, 'Hi'},
 {'hello': 1, 'World': 2},
 True,
 False)

In [77]:
tuple_test[1:4] ##slicing

(9.0, 'Hello', 'World')

In [78]:
tuple_test.index(9.0) ##Accessing by value

1

In [79]:
tuple_test[0] ## Accessing by index

1

In [80]:
tuple_test[-5:] ##Negative index

((4, 5, 6), {1, 2, 4, 5, 'Hi'}, {'hello': 1, 'World': 2}, True, False)

In [81]:
tuple_test[4][2]

3

In [82]:
tuple_test.count('Hello')

1

In [83]:
tuple_test.count(True)

0

In [84]:
tuple_test.count(1)

2

In [85]:
tuple_test

(1,
 9.0,
 'Hello',
 'World',
 [1, 2, 3],
 (4, 5, 6),
 {1, 2, 4, 5, 'Hi'},
 {'hello': 1, 'World': 2},
 True,
 False)

In [ ]:
del list_mohan[1]

list_mohan.remove(element)

list_mohan.pop(index)

In [86]:
tuple_test[-3]

{'hello': 1, 'World': 2}

In [87]:
tuple_test[-3]["Python"]= "Tangible"

In [88]:
tuple_test

(1,
 9.0,
 'Hello',
 'World',
 [1, 2, 3],
 (4, 5, 6),
 {1, 2, 4, 5, 'Hi'},
 {'hello': 1, 'World': 2, 'Python': 'Tangible'},
 True,
 False)

# Dictionaries

In [91]:
dic_1 = {}

In [92]:
type(dic_1)

dict

In [95]:
dict_2 ={'one':1,'two':2,'three' :3,'four_fractiona':4.5,'booli' :True, 'boolii' :False, 'lis_1':[1,11,12],'tup_dict':(9,99,999),'dic_dic': {'hi': 'Introducing', 99999: 'ninenineineniene'}}

In [96]:
dict_2

{'one': 1,
 'two': 2,
 'three': 3,
 'four_fractiona': 4.5,
 'booli': True,
 'boolii': False,
 'lis_1': [1, 11, 12],
 'tup_dict': (9, 99, 999),
 'dic_dic': {'hi': 'Introducing', 99999: 'ninenineineniene'}}

In [97]:
# to know all the keys 

dict_2.keys()

dict_keys(['one', 'two', 'three', 'four_fractiona', 'booli', 'boolii', 'lis_1', 'tup_dict', 'dic_dic'])

In [98]:
# to know all the values

dict_2.values()

dict_values([1, 2, 3, 4.5, True, False, [1, 11, 12], (9, 99, 999), {'hi': 'Introducing', 99999: 'ninenineineniene'}])

In [110]:
# Adding and Updating 
dict_2['adding_float'] = 9999.9999

In [111]:
dict_2

{'one': 1,
 'two': 2,
 'three': 3,
 'four_fractiona': 4.5,
 'booli': True,
 'boolii': False,
 'lis_1': [1, 11, 12],
 'tup_dict': (9, 99, 999),
 'dic_dic': {'hi': 'Introducing', 99999: 'ninenineineniene'},
 'adding_elemet': 123,
 'adding_float': 9999.9999}

In [112]:
# deleting 

del dict_2['adding_float']

In [113]:
dict_2

{'one': 1,
 'two': 2,
 'three': 3,
 'four_fractiona': 4.5,
 'booli': True,
 'boolii': False,
 'lis_1': [1, 11, 12],
 'tup_dict': (9, 99, 999),
 'dic_dic': {'hi': 'Introducing', 99999: 'ninenineineniene'},
 'adding_elemet': 123}

In [118]:
# 
dict_2.remove('adding_elemet')

AttributeError: 'dict' object has no attribute 'remove'

In [116]:
dict_2.pop('adding_elemet')

123

In [117]:
dict_2

{'one': 1,
 'two': 2,
 'three': 3,
 'four_fractiona': 4.5,
 'booli': True,
 'boolii': False,
 'lis_1': [1, 11, 12],
 'tup_dict': (9, 99, 999),
 'dic_dic': {'hi': 'Introducing', 99999: 'ninenineineniene'}}

In [119]:
dict_2[2]

KeyError: 2

In [122]:
dict_2.keys.([1, 11, 12])

SyntaxError: invalid syntax (<ipython-input-122-eacef3a92ebc>, line 1)

In [140]:
dict_2.items()

dict_items([('one', 1), ('two', 2), ('three', 3), ('four_fractiona', 4.5), ('booli', True), ('boolii', False), ('lis_1', [1, 11, 12]), ('tup_dict', (9, 99, 999)), ('dic_dic', {'hi': 'Introducing', 99999: 'ninenineineniene'})])

# Sets

In [123]:
set_1 = {1,2,3,4.5,6.7,8.9,1,1,1,1,2,2,3,3,4,4}
set_2 = {1,2,3,4,9,9,9,9,98,8,8,8,8,7,8,78,7,8,7}

In [124]:
len(set_1)

7

In [125]:
len(set_2)

9

In [126]:
set_1

{1, 2, 3, 4, 4.5, 6.7, 8.9}

In [127]:
set_2

{1, 2, 3, 4, 7, 8, 9, 78, 98}

In [131]:
set_1 | set_2  # union

{1, 2, 3, 4, 4.5, 6.7, 7, 8, 8.9, 9, 78, 98}

In [129]:
set_1.union(set_2)

{1, 2, 3, 4, 4.5, 6.7, 7, 8, 8.9, 9, 78, 98}

In [130]:
set_2.union(set_1)

{1, 2, 3, 4, 4.5, 6.7, 7, 8, 8.9, 9, 78, 98}

In [132]:
# intersection

set_1 & set_2

{1, 2, 3, 4}

In [133]:
set_1.intersection(set_2)

{1, 2, 3, 4}

In [134]:
set_2.intersection(set_2)

{1, 2, 3, 4, 7, 8, 9, 78, 98}

In [135]:
set_2.intersection(set_1)

{1, 2, 3, 4}

In [136]:
# Substractions

set_1 -set_2

{4.5, 6.7, 8.9}

In [137]:
set_2 -set_1

{7, 8, 9, 78, 98}

In [138]:
set_1[1]

TypeError: 'set' object does not support indexing

In [141]:
# Strings

In [142]:
str_1 = '             asdfasdfkjnaslbjfkasd sdafasfdkjbnasdf  asd fas df as df asd f as            '

In [143]:
len(str_1)

90

In [144]:
str_1.strip()

'asdfasdfkjnaslbjfkasd sdafasfdkjbnasdf  asd fas df as df asd f as'

In [146]:
str_1.count('s')

12

In [147]:
str_1.upper()

'             ASDFASDFKJNASLBJFKASD SDAFASFDKJBNASDF  ASD FAS DF AS DF ASD F AS            '

In [148]:
str_3 = str_1.upper()

In [149]:
str_3

'             ASDFASDFKJNASLBJFKASD SDAFASFDKJBNASDF  ASD FAS DF AS DF ASD F AS            '

In [150]:
str_3.lower()

'             asdfasdfkjnaslbjfkasd sdafasfdkjbnasdf  asd fas df as df asd f as            '