In [2]:

# Loading all teh 4 datasets into the environment 

with open(r"C:\Users\anilkumar\Full_Cource\Python_for_data_sceince\data_python/brent.txt") as f:
    brent = f.read().splitlines()
    
    
with open(r"C:\Users\anilkumar\Full_Cource\Python_for_data_sceince\data_python/camden.txt", 'r') as f:
    camden = f.read().splitlines()
    
with open(r"C:\Users\anilkumar\Full_Cource\Python_for_data_sceince\data_python/redbridge.txt", 'r') as f:
    redbridge = f.read().splitlines()
    
with open(r"C:\Users\anilkumar\Full_Cource\Python_for_data_sceince\data_python/southwark.txt", 'r') as f:
    southwark = f.read().splitlines()

In [5]:
# displaying all the 4 regions along with it's locations

print(brent)

print("___________________________________________________________________")

print(camden)

print("___________________________________________________________________")

print(redbridge)

print("___________________________________________________________________")

print(southwark)

['Brent Park', 'Church End', 'Dollis Hill', 'Harlesden', 'Kensal Green', 'Kingsbury', 'Neasden', 'Preston', "Queen's Park", 'Tokyngton', 'Wembley', 'Wembley Park', 'Willesden', 'Park Royal', 'Kenton', 'Kilburn', 'Sudbury', 'Brondesbury', 'Alperton']
___________________________________________________________________
['Chalk Farm', 'Dartmouth Park', 'Fitzrovia', 'Frognal', 'Bloomsbury', 'Gospel Oak', 'Hampstead', 'Highgate', 'Holborn', 'Kentish Town', 'Gospel Oak', 'Primrose Hill', 'Somerstown', 'St Giles', 'St Pancras', 'Swiss Cottage', 'West Hampstead', "King's Cross", 'Somerstown', 'Belsize Park', 'Bloomsbury', 'Camden Town']
___________________________________________________________________
['Chadwell Heath', 'Gants Hill', 'Goodmayes', 'Snaresbrook', 'Hainault', 'Ilford', 'Loxford', 'Newbury Park', 'Hainault', 'Redbridge', 'Seven Kings', 'South Woodford', 'Wanstead', 'Woodford', 'Woodford Green', 'Snaresbrook', 'Aldborough Hatch', 'Barkingside']
___________________________________________________________________
['Denmark Hill', 'Dulwich', 'Surrey Quays', 'East Dulwich', 'Elephant and Castle', 'Newington', 'Nunhead', 'Peckham', 'Rotherhithe', 'Surrey Quays', 'Nunhead', 'Walworth', 'Bermondsey', 'Camberwell', 'Bankside']

In [21]:
# way_2

locs = [brent,camden,redbridge,southwark]

for var in locs:
    print("Length of -->",locs.index(var),":",(len(var)))
    print("Duplicates presence : {}".format(len(var)>len(set(var))))
    print(var)
    print("___________________________________________________________________________________________")

Length of --> 0 : 19
Duplicates presence : False
['Brent Park', 'Church End', 'Dollis Hill', 'Harlesden', 'Kensal Green', 'Kingsbury', 'Neasden', 'Preston', "Queen's Park", 'Tokyngton', 'Wembley', 'Wembley Park', 'Willesden', 'Park Royal', 'Kenton', 'Kilburn', 'Sudbury', 'Brondesbury', 'Alperton']
___________________________________________________________________________________________
Length of --> 1 : 22
Duplicates presence : True
['Chalk Farm', 'Dartmouth Park', 'Fitzrovia', 'Frognal', 'Bloomsbury', 'Gospel Oak', 'Hampstead', 'Highgate', 'Holborn', 'Kentish Town', 'Gospel Oak', 'Primrose Hill', 'Somerstown', 'St Giles', 'St Pancras', 'Swiss Cottage', 'West Hampstead', "King's Cross", 'Somerstown', 'Belsize Park', 'Bloomsbury', 'Camden Town']
___________________________________________________________________________________________
Length of --> 2 : 18
Duplicates presence : True
['Chadwell Heath', 'Gants Hill', 'Goodmayes', 'Snaresbrook', 'Hainault', 'Ilford', 'Loxford', 'Newbury Park', 'Hainault', 'Redbridge', 'Seven Kings', 'South Woodford', 'Wanstead', 'Woodford', 'Woodford Green', 'Snaresbrook', 'Aldborough Hatch', 'Barkingside']
___________________________________________________________________________________________
Length of --> 3 : 15
Duplicates presence : True
['Denmark Hill', 'Dulwich', 'Surrey Quays', 'East Dulwich', 'Elephant and Castle', 'Newington', 'Nunhead', 'Peckham', 'Rotherhithe', 'Surrey Quays', 'Nunhead', 'Walworth', 'Bermondsey', 'Camberwell', 'Bankside']
___________________________________________________________________________________________

In [14]:
# lists

b = [1,2,3,4]
c = [4,5,6,7,8]
d = [0,1,2,3,4]
e = [2,3,4,5,6]

a = [b,c,d,e]

In [15]:
type(a)

list

In [16]:
a

[[1, 2, 3, 4], [4, 5, 6, 7, 8], [0, 1, 2, 3, 4], [2, 3, 4, 5, 6]]

In [17]:
locs

[['Brent Park',
  'Church End',
  'Dollis Hill',
  'Harlesden',
  'Kensal Green',
  'Kingsbury',
  'Neasden',
  'Preston',
  "Queen's Park",
  'Tokyngton',
  'Wembley',
  'Wembley Park',
  'Willesden',
  'Park Royal',
  'Kenton',
  'Kilburn',
  'Sudbury',
  'Brondesbury',
  'Alperton'],
 ['Chalk Farm',
  'Dartmouth Park',
  'Fitzrovia',
  'Frognal',
  'Bloomsbury',
  'Gospel Oak',
  'Hampstead',
  'Highgate',
  'Holborn',
  'Kentish Town',
  'Gospel Oak',
  'Primrose Hill',
  'Somerstown',
  'St Giles',
  'St Pancras',
  'Swiss Cottage',
  'West Hampstead',
  "King's Cross",
  'Somerstown',
  'Belsize Park',
  'Bloomsbury',
  'Camden Town'],
 ['Chadwell Heath',
  'Gants Hill',
  'Goodmayes',
  'Snaresbrook',
  'Hainault',
  'Ilford',
  'Loxford',
  'Newbury Park',
  'Hainault',
  'Redbridge',
  'Seven Kings',
  'South Woodford',
  'Wanstead',
  'Woodford',
  'Woodford Green',
  'Snaresbrook',
  'Aldborough Hatch',
  'Barkingside'],
 ['Denmark Hill',
  'Dulwich',
  'Surrey Quays',
  'East Dulwich',
  'Elephant and Castle',
  'Newington',
  'Nunhead',
  'Peckham',
  'Rotherhithe',
  'Surrey Quays',
  'Nunhead',
  'Walworth',
  'Bermondsey',
  'Camberwell',
  'Bankside']]

In [26]:
# To identify duplicate elements in a list and to display those count as well as those names & 
# how many times thgose are repeted? and their index locations

#1. how many duplicates are there ?
#2. What are the duplicates?
#3. count of individual duplicates?
#4. location of duplicate elements?

b = [4,5,6,7,8,6,4,3,6,4,5]

for var in b:
    if b.count(var)>1:
        print(var, "It is Duplicate",b.count(var))

4 It is Duplicate 3
5 It is Duplicate 2
6 It is Duplicate 3
6 It is Duplicate 3
4 It is Duplicate 3
6 It is Duplicate 3
4 It is Duplicate 3
5 It is Duplicate 2

In [52]:

# it will extract unique values from the list

def unique_list_extraction(b):
    b_1 = []
    for var in b:
        if var not in b_1:
            b_1.append(var)
    return b_1

In [58]:
# how to extract count of unique elements with help of loop
locs = [brent,camden,redbridge,southwark]
for var in locs:
    
    print("Count of unique locations in {}:",len(unique_list_extraction(var)))

Length of : 19
Length of : 19
Length of : 16
Length of : 13

In [60]:
str(var)

"['Denmark Hill', 'Dulwich', 'Surrey Quays', 'East Dulwich', 'Elephant and Castle', 'Newington', 'Nunhead', 'Peckham', 'Rotherhithe', 'Surrey Quays', 'Nunhead', 'Walworth', 'Bermondsey', 'Camberwell', 'Bankside']"

In [ ]:
# len()
# type()
# .index()
# .append()
# .format()
# in
# not in 
# count()

In [12]:
# After delting duplicates keep the same name to 4 locations

locs = [brent,camden,redbridge,southwark]

for var in locs:
    print(len(var))

19
22
18
15

In [10]:
# After delting duplicates keep the same name to 4 locations

locs = [brent,camden,redbridge,southwark]

for var in locs:
    var = list(set(var))
    print(len(var))

19
19
16
13

In [13]:
# After delting duplicates and keeping with trhe same name

brent= list(set(brent))
camden = list(set(camden))
redbridge= list(set(redbridge))
southwark = list(set(southwark))

In [14]:
# After delting duplicates

locs = [brent,camden,redbridge,southwark]

for var in locs:
    print(len(var))

19
19
16
13

In [61]:
# create a dictionary of this 4 locations with First letter with capital and name will be the same 

dict_1 = {key : value}

       = {'Brent': brent}

IndentationError: unexpected indent (<ipython-input-61-a7a2e8b449b4>, line 5)

In [15]:
# creating a dictionary locations

locations = {"Brent":brent,"Camden":camden,"Redbridge":redbridge,"southwark":southwark}

In [16]:
locations.keys()

dict_keys(['Brent', 'Camden', 'Redbridge', 'southwark'])

In [17]:
locations.values()

dict_values([['Church End', 'Kingsbury', 'Sudbury', 'Alperton', 'Brondesbury', 'Kenton', 'Wembley', 'Dollis Hill', 'Kilburn', 'Brent Park', "Queen's Park", 'Wembley Park', 'Park Royal', 'Harlesden', 'Willesden', 'Kensal Green', 'Preston', 'Tokyngton', 'Neasden'], ["King's Cross", 'Primrose Hill', 'Somerstown', 'Dartmouth Park', 'Highgate', 'Belsize Park', 'Bloomsbury', 'Hampstead', 'West Hampstead', 'St Giles', 'Camden Town', 'Kentish Town', 'Fitzrovia', 'Holborn', 'Swiss Cottage', 'St Pancras', 'Chalk Farm', 'Frognal', 'Gospel Oak'], ['Gants Hill', 'Hainault', 'South Woodford', 'Aldborough Hatch', 'Loxford', 'Newbury Park', 'Redbridge', 'Barkingside', 'Ilford', 'Woodford Green', 'Seven Kings', 'Woodford', 'Chadwell Heath', 'Snaresbrook', 'Goodmayes', 'Wanstead'], ['Nunhead', 'Bankside', 'Bermondsey', 'Elephant and Castle', 'Camberwell', 'Dulwich', 'Rotherhithe', 'East Dulwich', 'Denmark Hill', 'Newington', 'Peckham', 'Surrey Quays', 'Walworth']])

In [19]:
locations.items()

dict_items([('Brent', ['Church End', 'Kingsbury', 'Sudbury', 'Alperton', 'Brondesbury', 'Kenton', 'Wembley', 'Dollis Hill', 'Kilburn', 'Brent Park', "Queen's Park", 'Wembley Park', 'Park Royal', 'Harlesden', 'Willesden', 'Kensal Green', 'Preston', 'Tokyngton', 'Neasden']), ('Camden', ["King's Cross", 'Primrose Hill', 'Somerstown', 'Dartmouth Park', 'Highgate', 'Belsize Park', 'Bloomsbury', 'Hampstead', 'West Hampstead', 'St Giles', 'Camden Town', 'Kentish Town', 'Fitzrovia', 'Holborn', 'Swiss Cottage', 'St Pancras', 'Chalk Farm', 'Frognal', 'Gospel Oak']), ('Redbridge', ['Gants Hill', 'Hainault', 'South Woodford', 'Aldborough Hatch', 'Loxford', 'Newbury Park', 'Redbridge', 'Barkingside', 'Ilford', 'Woodford Green', 'Seven Kings', 'Woodford', 'Chadwell Heath', 'Snaresbrook', 'Goodmayes', 'Wanstead']), ('southwark', ['Nunhead', 'Bankside', 'Bermondsey', 'Elephant and Castle', 'Camberwell', 'Dulwich', 'Rotherhithe', 'East Dulwich', 'Denmark Hill', 'Newington', 'Peckham', 'Surrey Quays', 'Walworth'])])

In [23]:
# looping inside to the dictionary

for a,b in locations.items():
    print("Length of {} is :{}".format(a,len(b)))

Length of Brent is :19
Length of Camden is :19
Length of Redbridge is :16
Length of southwark is :13

In [ ]:
# you need to add these below two into locations with the specified names

# Inner_london  = camden + southwark
# Outer_london  = brent + redbridge

# number of locations in all 6 regions need to print with help of loop

# by using conditional statment need to find from where i need to start my toure{more locs is my choice}