Jupyter Note Book Shortcuts:


code  -> Markdown   -> Esc + M

Markdown  -> Code   ->  Esc + Y

To add a cell above to the current cell  -> Esc + A

To add a cell below to the current cell  -> Esc + B

To Execute a cell  ->  Shift +Enter (Executaion + create a new cell )  / Ctrl +Enter (Execution)

To delete a cell which we create -> Esc + dd

# Lists

In [2]:
# Creating a list 

lis_1 = [1,2,3,11.3,7,12.5,"Kalysn",'Suresh',"suresh",'A',[1,2.6,'string',"D"] ]

In [3]:
# To find length of the list 

len(lis_1)

11

+ ve Index  : will start from zero

In [4]:
# If we want to identify a specific element index ?

lis_1.index('suresh')

8

In [5]:
# to access a specific element with it's index we need use []

lis_1[8]

'suresh'

In [6]:
# modifing the list to observe the duplicates working

lis_2 = [11.3,1,2,3,'suresh',11.3,7,12.5,"Kalysn",'Suresh',"suresh",'A',[1,2.6,'string',"D"],"Suresh" ]

In [7]:
# If we have duplicates it will give the index of First one 
lis_2.index(11.3)

0

In [8]:
# To access element in element target is to access D in List 

lis_2.index([1,2.6,'string',"D"])

12

In [9]:
lis_2[12].index('D')

3

In [10]:
lis_2[12][3]

'D'

In [11]:
#  want to access the element 88
    
lis_3 = [1,2,3,4,[5,6,7,8,9,[11,2,33,44,55],77,88,99]]

In [12]:
len(lis_3)

5

In [13]:
# wrong 
lis_3[4][3]

8

In [14]:
lis_3[4][7]

88

In [15]:
# Solution

lis_3[4]

[5, 6, 7, 8, 9, [11, 2, 33, 44, 55], 77, 88, 99]

In [16]:
len(lis_3[4])

9

In [17]:
lis_3[4].index(88)

7

In [18]:
lis_3[4][7]

88

In [19]:
# To access specific part of elements

lis_2

[11.3,
 1,
 2,
 3,
 'suresh',
 11.3,
 7,
 12.5,
 'Kalysn',
 'Suresh',
 'suresh',
 'A',
 [1, 2.6, 'string', 'D'],
 'Suresh']

In [20]:
lis_2[:]

[11.3,
 1,
 2,
 3,
 'suresh',
 11.3,
 7,
 12.5,
 'Kalysn',
 'Suresh',
 'suresh',
 'A',
 [1, 2.6, 'string', 'D'],
 'Suresh']

In [21]:
# To access elements from index 2 to End of the list
lis_2[2:]

[2,
 3,
 'suresh',
 11.3,
 7,
 12.5,
 'Kalysn',
 'Suresh',
 'suresh',
 'A',
 [1, 2.6, 'string', 'D'],
 'Suresh']

In [22]:
#To access elements from Zero to 8

lis_2[:9]

[11.3, 1, 2, 3, 'suresh', 11.3, 7, 12.5, 'Kalysn']

In [23]:
#To access elements from 2 to 10

lis_2[2:11]

[2, 3, 'suresh', 11.3, 7, 12.5, 'Kalysn', 'Suresh', 'suresh']

In [24]:
#To access elements from  7

lis_2[7:]

[12.5, 'Kalysn', 'Suresh', 'suresh', 'A', [1, 2.6, 'string', 'D'], 'Suresh']

# -ve index

In [25]:
lis_2

[11.3,
 1,
 2,
 3,
 'suresh',
 11.3,
 7,
 12.5,
 'Kalysn',
 'Suresh',
 'suresh',
 'A',
 [1, 2.6, 'string', 'D'],
 'Suresh']

Negetive index will start from  -1,-2,-3...... {Right to left}

In [26]:
# I want to access element 'Suresh'

lis_2[-1]

'Suresh'

In [27]:
# I want to access "string" by using the negetive index \
lis_2[-2][-2]

'string'

In [28]:
lis_2[-2][2]

'string'

In [29]:
# I wnat to access element from "suresh to 7 "

lis_2[-1 :-8]

[]

In [30]:
# note : with out mention any thing before colon , it will consider that as a zer index.
lis_2[:-8]

[11.3, 1, 2, 3, 'suresh', 11.3]

In [31]:
# Perfect access the required one
lis_2[-8:]

[7, 12.5, 'Kalysn', 'Suresh', 'suresh', 'A', [1, 2.6, 'string', 'D'], 'Suresh']

In [32]:
# iwant to access elements from 7 to [1,2.6,'string','D']

lis_2[:-2] # wrong
lis_2[7:-2] # wrong

[12.5, 'Kalysn', 'Suresh', 'suresh', 'A']

In [33]:
# solution

lis_2[-8:-1]

[7, 12.5, 'Kalysn', 'Suresh', 'suresh', 'A', [1, 2.6, 'string', 'D']]

In [34]:
# How to update an existing element in A list 

lis_2

[11.3,
 1,
 2,
 3,
 'suresh',
 11.3,
 7,
 12.5,
 'Kalysn',
 'Suresh',
 'suresh',
 'A',
 [1, 2.6, 'string', 'D'],
 'Suresh']

In [35]:
# i am updating  'Kalysn'  to "KALYAN"



# 1. we need to identify the index of element which we are looking to update
lis_2.index('Kalysn')

8

In [36]:
# Replace that particular index with the required value

lis_2[8]=='KALYAN'  # Wrong "this is an equality operator"

False

In [37]:
# Asigning 
lis_2[8]='KALYAN'

In [38]:
# To observe the element in the index 8 
lis_2[8]

'KALYAN'

In [39]:
lis_2

[11.3,
 1,
 2,
 3,
 'suresh',
 11.3,
 7,
 12.5,
 'KALYAN',
 'Suresh',
 'suresh',
 'A',
 [1, 2.6, 'string', 'D'],
 'Suresh']

In [40]:
# I want to perform update { 'A', [1, 2.6, 'string', 'D']}  with 99 and 999

lis_2.index('A')

11

In [41]:
lis_2.index( [1, 2.6, 'string', 'D'])

12

In [42]:
lis_2[11:13] =99,999

In [43]:
lis_2[11:13]

[99, 999]

In [44]:
lis_2

[11.3,
 1,
 2,
 3,
 'suresh',
 11.3,
 7,
 12.5,
 'KALYAN',
 'Suresh',
 'suresh',
 99,
 999,
 'Suresh']

In [45]:
# I want to add element to list?   -> append 

lis_2.append(9)

In [46]:
lis_2

[11.3,
 1,
 2,
 3,
 'suresh',
 11.3,
 7,
 12.5,
 'KALYAN',
 'Suresh',
 'suresh',
 99,
 999,
 'Suresh',
 9]

In [47]:
lis_2.append("Murali")

In [48]:
lis_2

[11.3,
 1,
 2,
 3,
 'suresh',
 11.3,
 7,
 12.5,
 'KALYAN',
 'Suresh',
 'suresh',
 99,
 999,
 'Suresh',
 9,
 'Murali']

In [49]:
lis_2.append('Murali')

In [50]:
lis_2

[11.3,
 1,
 2,
 3,
 'suresh',
 11.3,
 7,
 12.5,
 'KALYAN',
 'Suresh',
 'suresh',
 99,
 999,
 'Suresh',
 9,
 'Murali',
 'Murali']

In [51]:
lis_2.append([9,8,7,6])

In [52]:
lis_2

[11.3,
 1,
 2,
 3,
 'suresh',
 11.3,
 7,
 12.5,
 'KALYAN',
 'Suresh',
 'suresh',
 99,
 999,
 'Suresh',
 9,
 'Murali',
 'Murali',
 [9, 8, 7, 6]]

In [53]:
# Note: append() takes exactly one argument (4 given)
lis_2.append(1,2,3,4)

TypeError: append() takes exactly one argument (4 given)

In [54]:
lis_2

[11.3,
 1,
 2,
 3,
 'suresh',
 11.3,
 7,
 12.5,
 'KALYAN',
 'Suresh',
 'suresh',
 99,
 999,
 'Suresh',
 9,
 'Murali',
 'Murali',
 [9, 8, 7, 6]]

In [ ]:
# i want to update "suresh" as =[11,22,33,44]

In [55]:
# Finding index
lis_2.index('suresh')

4

In [56]:
# Assign the new value to existing value

lis_2[4]=[11,22,33,44]

In [57]:
lis_2

[11.3,
 1,
 2,
 3,
 [11, 22, 33, 44],
 11.3,
 7,
 12.5,
 'KALYAN',
 'Suresh',
 'suresh',
 99,
 999,
 'Suresh',
 9,
 'Murali',
 'Murali',
 [9, 8, 7, 6]]

In [58]:
# How to delete elements in list

# note : Esc +dd is for to delete the entire code cell


lis_2.index('Suresh')

9

In [59]:
del lis_2[9]

In [60]:
lis_2

[11.3,
 1,
 2,
 3,
 [11, 22, 33, 44],
 11.3,
 7,
 12.5,
 'KALYAN',
 'suresh',
 99,
 999,
 'Suresh',
 9,
 'Murali',
 'Murali',
 [9, 8, 7, 6]]

In [61]:
# murali 

lis_2.delete()

AttributeError: 'list' object has no attribute 'delete'

In [64]:
# How to delete a group of elements 

# my requirment is you need to remove each and every 3rd element


del lis_2[:: 3]

del lis_2[:: 2]

In [65]:
lis_2

[[11, 22, 33, 44], 'KALYAN', 9]

In [73]:
# Defining the list 

lis = [1,2,3,4,5,6,7,8,9,10,"A","B","CAt",[11,22,33,44],12.3]

In [68]:
len(lis)
lis.index("The element wahta you want")
lis["index of element which you want to access"]  / +ve / -ve 

lis.append("The element which we want to add ")
lis[index] = new element

del lis[index]

15

In [74]:
 # index of 10 is 9 
lis.index(10)

9

In [75]:
# Remove function
# it will remove the element not the index location

lis.remove(10)

In [77]:
lis

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'B', 'CAt', [11, 22, 33, 44], 12.3]

In [ ]:
# what is the difference between

In [82]:
# Del function removes or deletes the element from the mentioned index location.

del lis[0]

In [83]:
lis

[4, 5, 6, 7, 8, 9, 'A', 'B', 'CAt', [11, 22, 33, 44], 12.3]

In [84]:
lis

[4, 5, 6, 7, 8, 9, 'A', 'B', 'CAt', [11, 22, 33, 44], 12.3]

In [87]:
lis.index(12.3)

10

In [88]:
del lis[10]

In [89]:
lis

[4, 5, 6, 7, 8, 9, 'A', 'B', 'CAt', [11, 22, 33, 44]]

In [90]:
del lis[10]

IndexError: list assignment index out of range

In [ ]:
# difference between del & remove ?

del -> index 

remove -> specific element

In [91]:
# pop ()

# it will remove the element in the mentioned index along with it display the element which is removed.
lis.pop(1)

5

In [92]:
lis

[4, 6, 7, 8, 9, 'A', 'B', 'CAt', [11, 22, 33, 44]]

In [93]:
lis[5]

'A'

In [94]:
lis.pop(5)

'A'

In [95]:
lis

[4, 6, 7, 8, 9, 'B', 'CAt', [11, 22, 33, 44]]

In [ ]:
Note :
    
    1. Del       -> index removal 
    2. remove()  -> Element specific
    3. pop()     -> index removal  & it will display which element is removed.

In [96]:
lis_1 = [1,1,1,2,2,3,3,3,4,4,4,4,4,4,4,5,5,55,55,"suresh",'Murali',"KALYAN"]

In [98]:
# Count() functionality

lis_1.count(1)

3

In [99]:
lis_1.count(4)

7

In [101]:
lis_1.count('Murali')

1

In [102]:
# using the negetive index
lis_1[: -3]

[1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 55, 55]

In [ ]:
# why we are using [:: ] in period mentioned
lis[: : ]

In [103]:
lis[:]

[4, 6, 7, 8, 9, 'B', 'CAt', [11, 22, 33, 44]]

In [104]:
lis[: : 3]

[4, 8, 'CAt']

In [ ]:
1.List

2. Tuples

3. dictionaries

4. sets

5. strings

In [126]:
# Creating a tuple

tuple_1 = (1,True,2,3,4,False,5,'Murali','Kalyan', 123.5,[1,2,3,4,5],True)

In [127]:
# to check the data type 

type(tuple_1)

tuple

In [128]:
#

In [129]:
# Length of the tuple

len(tuple_1)

12

In [130]:
tuple_1.index('murali') # if we ask not existed elememt

ValueError: tuple.index(x): x not in tuple

In [131]:
tuple_1.index('Murali')

7

In [132]:
# to know the index of specific element
tuple_1.index(True)

0

In [134]:
tuple_1.index(False)

5

In [120]:
tuple_1[0]

1

In [119]:
tuple_1.index(True)

ValueError: tuple.index(x): x not in tuple

In [109]:
# Accessing elements in tuple with positive indexing

tuple_1[10]  # because there is no index with at value  //{max_index = len-1}//

IndexError: tuple index out of range

In [151]:
len(tuple_1)

12

In [150]:
tuple_1.index(True)

0

In [152]:
tuple_1[11]

True

In [139]:
tuple_1

(1, True, 2, 3, 4, False, 5, 'Murali', 'Kalyan', 123.5, [1, 2, 3, 4, 5], True)

In [137]:
tuple_1[9]
tuple_1[-5]

'Murali'

In [138]:
tuple_1[2:6]
tuple_1[-4:-1]

('Kalyan', 123.5, [1, 2, 3, 4, 5])

In [140]:
# if we dint mention the start index it  will defaultly took from Zero index
tuple_1[:5]

tuple_1[: -3]

(1, True, 2, 3, 4, False, 5, 'Murali', 'Kalyan')

In [ ]:
# if we missed the end index it means it will take to end index as consideration
tuple_1[3:]

In [146]:
tuple_2 = (1, True, 2, 3, 4, False, 5, 'Murali', 'Kalyan', 123.5, [1, 2, 3, 4, 5],False,True)

In [147]:
tuple_2[: -3]

(1, True, 2, 3, 4, False, 5, 'Murali', 'Kalyan', 123.5)

In [153]:
# updateing an existing elemet

tuple_1[2] = "Mohan"

TypeError: 'tuple' object does not support item assignment

In [154]:
# Add a new element

tuple_1.append(88)

AttributeError: 'tuple' object has no attribute 'append'

In [155]:
# delete the element

del tuple_1[2]

TypeError: 'tuple' object doesn't support item deletion

In [156]:
tuple_1.remove('Murali')

AttributeError: 'tuple' object has no attribute 'remove'

In [157]:
tuple_1.pop(3)

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
# tuple is called as immutable 

# with help of one specific condition you can update information in Tuple. (Logical)

In [ ]:
# Dictionaries

# sets

# strings

In [ ]:
Loops

Functions

expectaional handling

# Dictionaries

In [158]:
# creating a dictionary

dic_1 = { "Key" : "Value_pairs"}

In [159]:
type(dic_1)

dict

In [161]:
dic_2 = {1: 'One',2: 1234, 'three': 3, 'four': 'fortyfour','lis_1':[1,2,3,4,5,6,7],'tuple_1': (11,22,33,44,55),'dict_1': {19 : 99,29 : 999}}

In [162]:
dic_2

{1: 'One',
 2: 1234,
 'three': 3,
 'four': 'fortyfour',
 'lis_1': [1, 2, 3, 4, 5, 6, 7],
 'tuple_1': (11, 22, 33, 44, 55),
 'dict_1': {19: 99, 29: 999}}

In [163]:
len(dic_2)  # number of key value pairs

7

In [164]:
# to know all the keys avilable in the dictionary
dic_2.keys()

dict_keys([1, 2, 'three', 'four', 'lis_1', 'tuple_1', 'dict_1'])

In [165]:
# all values

dic_2.values()

dict_values(['One', 1234, 3, 'fortyfour', [1, 2, 3, 4, 5, 6, 7], (11, 22, 33, 44, 55), {19: 99, 29: 999}])

In [166]:
# to display all the avilable items
dic_2.items()

dict_items([(1, 'One'), (2, 1234), ('three', 3), ('four', 'fortyfour'), ('lis_1', [1, 2, 3, 4, 5, 6, 7]), ('tuple_1', (11, 22, 33, 44, 55)), ('dict_1', {19: 99, 29: 999})])

In [167]:
# update existing element in dictionary
#dic_2['Key which we want to update'] =  New value we want to assign
dic_2['four'] = 4

In [168]:
dic_2

{1: 'One',
 2: 1234,
 'three': 3,
 'four': 4,
 'lis_1': [1, 2, 3, 4, 5, 6, 7],
 'tuple_1': (11, 22, 33, 44, 55),
 'dict_1': {19: 99, 29: 999}}

In [171]:
# How to add new key value pair into dictionary
# dic_2.append()  -> Dont be think it is wrong

dic_2['Mohan'] = [111,222,333]

In [172]:
dic_2

{1: 'One',
 2: 1234,
 'three': 3,
 'four': 4,
 'lis_1': [1, 2, 3, 4, 5, 6, 7],
 'tuple_1': (11, 22, 33, 44, 55),
 'dict_1': {19: 99, 29: 999},
 'Mohan': [111, 222, 333]}

In [173]:
# Delete element in the dictionat

del dic_2['four']

In [174]:
dic_2

{1: 'One',
 2: 1234,
 'three': 3,
 'lis_1': [1, 2, 3, 4, 5, 6, 7],
 'tuple_1': (11, 22, 33, 44, 55),
 'dict_1': {19: 99, 29: 999},
 'Mohan': [111, 222, 333]}

In [180]:
# remove   # 

dic_2.remove(1)

AttributeError: 'dict' object has no attribute 'remove'

In [ ]:
# pop()

In [178]:
dic_2.pop(2)

1234

In [179]:
dic_2

{1: 'One',
 'three': 3,
 'lis_1': [1, 2, 3, 4, 5, 6, 7],
 'tuple_1': (11, 22, 33, 44, 55),
 'dict_1': {19: 99, 29: 999},
 'Mohan': [111, 222, 333]}

In [181]:
# Strings 

str_1 = 'sjdhfalsdhf adskjasfdh;lkas fdlgkjdshfgl; dsfl;gkjdsfglkn213412kjnxzcvn ln2le5kn234;l5n2.lk65jn546;/lkn432lk3n523l45kn3'

In [182]:
# find the length of the string

len(str_1)

119

In [183]:
str_1[2:23]

'dhfalsdhf adskjasfdh;'

In [184]:
str_1.count('A')

0

In [185]:
str_1.count('a')

4

In [1]:
str1 = "                 hi this is Python Basics fro data science"

In [2]:
# to eliminate the empty spaces befor/ Starting of the string  the string 
str1.strip()

'hi this is Python Basics fro data science'

In [7]:
st2 = "                 sadasd                      asdsadf                       "

In [8]:
st2.strip()

'sadasd                      asdsadf'

# sets

In [15]:
# Creating a set

# Note  :  {}, is used to create Dictinary, Sets
    
set_1 = {21,1,2,3,4,1,2,3,41,2,3,4,51,2,3,4,5,6}

In [16]:
len(set_1)

9

In [17]:
set_1

{1, 2, 3, 4, 5, 6, 21, 41, 51}

In [18]:
set_2 = {"hi","girl", "boy","A",123,True,False,12.4}

In [19]:
set_2

{12.4, 123, 'A', False, True, 'boy', 'girl', 'hi'}

In [21]:
set_1[1] = 12

TypeError: 'set' object does not support item assignment

In [22]:
# Note : Set not supports indexing 
set_1[1]

TypeError: 'set' object does not support indexing

In [23]:
list1 = [21,1,2,3,4,1,2,3,41,2,3,4,51,2,3,4,5,6]

In [25]:
set_1 = set(list1)

In [26]:
set_1

{1, 2, 3, 4, 5, 6, 21, 41, 51}

In [27]:
list1= list(set_1)

In [28]:
list1

[1, 2, 3, 4, 5, 6, 41, 51, 21]

In [ ]:
#  sets

In [32]:
set_a = {1,2,3,4,5,6,7,8,9,10}
set_b = {6,7,8,9,1,0,11,12,13,14}

In [33]:
# type

type(set_a)

set

In [37]:
# length of the set

len(set_1)

# len(set_a, set_b)  # not working (Arguments)


print(len(set_a), len(set_b))

10 10

In [38]:
# union 

set_a | set_b

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [39]:
# 

set_a.union(set_b)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [40]:
set_a | set_b == set_a.union(set_b)

True

In [ ]:
# Intersection

In [41]:
set_a & set_b

{1, 6, 7, 8, 9}

In [42]:
set_a.intersection(set_b)

{1, 6, 7, 8, 9}

In [ ]:
# Sets substraction

In [43]:
set_a - set_b

{2, 3, 4, 5, 10}

In [45]:
-set_a + set_b

TypeError: bad operand type for unary -: 'set'

In [46]:
set_b - set_a

{0, 11, 12, 13, 14}

In [47]:
set_a - set_b  == set_b - set_a

False

In [48]:
type(set_a - set_b  == set_b - set_a)

bool

In [ ]:
list
tuples
dictionaries
strings
sets

In [49]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [50]:
list((1,3,6,9,10))

[1, 3, 6, 9, 10]

In [59]:
dict([(1,2),(3,4),(5,6)])

{1: 2, 3: 4, 5: 6}

In [56]:
dict_1 = {1:2,3:4,5:6,7:8}

In [57]:
dict_1.items()

dict_items([(1, 2), (3, 4), (5, 6), (7, 8)])

In [60]:
dict_1.keys()

dict_keys([1, 3, 5, 7])

In [61]:
dict_1.values()

dict_values([2, 4, 6, 8])

In [62]:
dict_1.items()

dict_items([(1, 2), (3, 4), (5, 6), (7, 8)])

In [63]:
str(3)

'3'

In [66]:
str(12.5)

'12.5'

In [64]:
int(123.2342432)

123

In [65]:
float(11)

11.0

In [67]:
int("A")

ValueError: invalid literal for int() with base 10: 'A'

In [68]:
int('A')

ValueError: invalid literal for int() with base 10: 'A'

In [69]:
float("A")

ValueError: could not convert string to float: 'A'

In [73]:
# Iterators / FLow control statments

# If loop 

marks = 3500

if(marks >499):
    print("First class")
else:
    print("We dont know")

First class

In [ ]:
>,<,==,<=,>=

In [87]:
# if my marks are in between 400 to 450 then only am an average student
marks = 455

if(400<=marks<=450 or 460<=marks<=490):
    
    print("First class")
    
else:
    
    print("We dont know")

We dont know

In [88]:
lis = [12,13,14,5,67,8,9,9,0,0,0,43513,12,312,31,3132]

In [89]:
lis

[12, 13, 14, 5, 67, 8, 9, 9, 0, 0, 0, 43513, 12, 312, 31, 3132]

In [90]:
# for 

for num in lis:
    print(num)

12
13
14
5
67
8
9
9
0
0
0
43513
12
312
31
3132

In [ ]:
for num in lis:
    print(num)

In [93]:
for num in lis:
    if num>100:        
        print(num)

43513
312
3132

In [94]:
Alpha bets sequence need to generate with loops and concepts which we discused up to know 


AA, AB, AC, AD.............ZZ

26 *26

SyntaxError: invalid syntax (<ipython-input-94-39750efdf721>, line 1)

In [95]:
26 * 26

676

In [98]:
2 ** 8

256

In [ ]:
Steps :
    create alphabet series
    you need to create a loop entire that series 
    print the length of the series

In [ ]:
import keras

In [ ]:
def initial_model():
    model = Sequential()
    model.add(Conv2D(64, (3, 3), padding='same', 
                     input_shape=x_train.shape[1:]))
    model.add(BatchNormalization())
    model.add(Activation('relu'))
    model.add(Conv2D(64, (3, 3), padding='same'))
    model.add(BatchNormalization())
    model.add(Activation('relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))

    model.add(Conv2D(128, (3, 3), padding='same'))
    model.add(BatchNormalization())
    model.add(Activation('relu'))
    model.add(Conv2D(128, (3, 3), padding='same'))
    model.add(BatchNormalization())
    model.add(Activation('relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))

    model.add(Conv2D(256, (3, 3), padding='same'))
    model.add(BatchNormalization())
    model.add(Activation('relu'))
    model.add(Conv2D(256, (3, 3), padding='same'))
    model.add(BatchNormalization())
    model.add(Activation('relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
  
    model.add(Flatten(input_shape=(8, 8, 256))) #flatten i

In [ ]:
# if -elif -else

In [1]:
marks = -250

if(type(marks)==int):
    
    if(marks <0):
        print("There are no negitive marks please enter proper marks.")

    elif(0<= marks <300):
        print("He is Failed :" )

    elif(300<=marks<400):
        print("This strudent belongs to Bronze group")

    elif(400<= marks <500):
        print("This strudent belongs to silver group")

    elif(500<= marks <550):
        print("This strudent belongs to Gold group")

    elif(550<marks<=600):
        print("This strudent belongs to Platinum group")

    elif(marks >600):
        
        print("Actually this exams max marks are 600 only no chance to get this many marks.")
    else:
        print("Enter the marks in a given range")             

else:

    print("Only it accepts integer value only")

There are no negitive marks please enter proper marks.

In [ ]:
# for loop 


#-> I want to check which is perfectly divisible by 4

In [34]:
list_for = [1,11,111,1111,11111,2,22,222,2222,22222,4,8,16,64,256]

for num in list_for:
    if(num % 4==0):
        print(num, ": divisible by 4.")
              
    else:
        print(num, ": this is not divisible by 4.")

1 : this is not divisible by 4.
11 : this is not divisible by 4.
111 : this is not divisible by 4.
1111 : this is not divisible by 4.
11111 : this is not divisible by 4.
2 : this is not divisible by 4.
22 : this is not divisible by 4.
222 : this is not divisible by 4.
2222 : this is not divisible by 4.
22222 : this is not divisible by 4.
4 : divisible by 4.
8 : divisible by 4.
16 : divisible by 4.
64 : divisible by 4.
256 : divisible by 4.

In [ ]:
# i want to group all the elements in the list which are divisble by 4 in one group, and group remaining in another group.

In [36]:
list_for = [1,11,111,1111,11111,2,22,222,2222,22222,4,8,16,64,256]

list_div_4 =[]
list_not_div_4 = []

for num in list_for:
    if(num % 4==0):
        list_div_4.append(num)
        #print(num, ": divisible by 4.")
              
    else:
        list_not_div_4.append(num)
       # print(num, ": this is not divisible by 4.")
        
print("Divisible by 4 :",list_div_4)

print("Not Divisble by 4",list_not_div_4)

Divisible by 4 : [4, 8, 16, 64, 256]
Not Divisble by 4 [1, 11, 111, 1111, 11111, 2, 22, 222, 2222, 22222]

In [ ]:
# 1000 in these print all the list of numbers which are divisible by 2,3,4,5,6,7,8,9,10 individually. 
//# and show me the count equals 1000.//

In [38]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [39]:
for num in range(12):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
# 1000 in these print all the list of numbers which are divisible by 2,3,4,5,6,7,8,9,10 individually. 
//# and show me the count equals 1000.//

In [2]:
nr = range(1001)

div_2 = []

for num in nr:
    if (num%2==0):
        div_2.append(num)
        
print(len(div_2))

501

In [22]:
nr = range(1,1001)

div_2 = []
div_3 = []
div_4 = []
div_5 = []
div_6 = []
div_7 = []
div_8 = []
div_9 = []
div_10 = []
else_div = []

for num in nr:
    if (num%2==0):
        div_2.append(num)
        
    if (num%3==0):
        div_3.append(num)
        
    if(num%4==0):
        div_4.append(num)
        
    if(num%5==0):
        div_5.append(num)
        
    if(num%6==0):
        div_6.append(num)
        
    if(num%7==0):
        div_7.append(num)
        
    if(num%8==0):
        div_8.append(num)
        
    if(num%9==0):
        div_9.append(num)
        
    if(num%10==0):
        div_10.append(num)
        
    else :
        else_div.append(num)
        
        
print(len(div_2))
print(len(div_4))
print(len(div_8))

        
print(len(div_3))
print(len(div_6))
print(len(div_9))

print(len(div_5))
print(len(div_10))

        
print(len(div_7))

print(len(else_div))

500
250
125
333
166
111
200
100
142
900

In [11]:
len(set(div_2) & set(div_4))

250

In [27]:
#simplified if else  Loop

num_12 = ['divisable' if num%12==0 else '******' for num in range(1000)]
print(type(num_12))
print(len(num_12))

<class 'list'>
1000

In [28]:
num_12 = {'divisable' if num%12==0 else '******' for num in range(1000)}
print(type(num_12))
print(len(num_12))

<class 'set'>
2

In [29]:
123*12

1476

In [30]:
12 == 13

False

In [31]:
12/2

6.0

In [ ]:
# 29_March_2019

In [51]:
a = [1,2,3,4,5,6,7,8,9]

b = [1,2,3,4,5,6,7,8,9]

a+b  # concatination

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
sum(a)

45

In [35]:
sum(b)

44

In [36]:
list(a)+list(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
list(a+b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
sum_list = []
for num1 in a:
    for num2 in b:
        if (a.index==b.index):
            num_add = num1+num2
            sum_list.append(num_add)
        
print(len(sum_list))

0

In [43]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
for num in a:
    print(a.index(num))

0
1
2
3
4
5
6
7
8

In [ ]:
for num in a:
    print(a[])

In [58]:
# for
sum_list = []
for num1 in a:
    for num2 in b:
        num_add = num1+num2
        sum_list.append(num_add)
        
print(len(sum_list))
print(sum(sum_list))

81
810

In [57]:
sum_list

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18]

In [47]:
import numpy as np

In [54]:
a = np.array(a)

In [55]:
b = np.array(b)

In [56]:
a+b

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18])

In [59]:
# for
sum_list = []
for num1 in a:
    for num2 in b:
        if (num1 ==num2):
            num_add = num1+num2
            sum_list.append(num_add)
        
print(len(sum_list))
print(sum(sum_list))

9
90

In [60]:
sum_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [64]:
a = [9,7,5,3,2,1,4,6,8]

b =[1,4,8,2,6,7,5,9]

In [65]:
# for
sum_list = []
for num1 in a:
    for num2 in b:
        if (num1 ==num2):
            num_add = num1+num2
            sum_list.append(num_add)
        
print(len(sum_list))
print(sum(sum_list))

8
84

In [66]:
sum_list

[18, 14, 10, 4, 2, 8, 12, 16]

In [67]:
# for
sum_list = []
for num1 in a:
    for num2 in b:
        if (a.index(num1) ==b.index(num2)):
            num_add = num1+num2
            sum_list.append(num_add)
        
print(len(sum_list))
print(sum(sum_list))

8
79

In [69]:
a

[9, 7, 5, 3, 2, 1, 4, 6, 8]

In [70]:
b

[1, 4, 8, 2, 6, 7, 5, 9]

In [68]:
sum_list

[10, 11, 13, 5, 8, 8, 9, 15]

In [74]:
# for
sum_list = []
for num1 in a:
    for num2 in b:
        if (a.index(num1) ==b.index(num2)):
            num_add = num1+num2
            sum_list.append(num_add)
        else:
            if(a.index(num1) > len(b)

        
print(len(sum_list))
print(sum(sum_list))

SyntaxError: invalid syntax (<ipython-input-74-2bb9c4098fd7>, line 12)

In [72]:
sum_list

[10,
 9,
 4,
 9,
 8,
 9,
 2,
 9,
 6,
 9,
 7,
 9,
 5,
 9,
 9,
 7,
 1,
 11,
 7,
 8,
 7,
 2,
 7,
 6,
 7,
 7,
 7,
 5,
 7,
 9,
 5,
 1,
 5,
 4,
 13,
 5,
 2,
 5,
 6,
 5,
 7,
 5,
 5,
 5,
 9,
 3,
 1,
 3,
 4,
 3,
 8,
 5,
 3,
 6,
 3,
 7,
 3,
 5,
 3,
 9,
 2,
 1,
 2,
 4,
 2,
 8,
 2,
 2,
 8,
 2,
 7,
 2,
 5,
 2,
 9,
 1,
 1,
 1,
 4,
 1,
 8,
 1,
 2,
 1,
 6,
 8,
 1,
 5,
 1,
 9,
 4,
 1,
 4,
 4,
 4,
 8,
 4,
 2,
 4,
 6,
 4,
 7,
 9,
 4,
 9,
 6,
 1,
 6,
 4,
 6,
 8,
 6,
 2,
 6,
 6,
 6,
 7,
 6,
 5,
 15,
 8,
 1,
 8,
 4,
 8,
 8,
 8,
 2,
 8,
 6,
 8,
 7,
 8,
 5,
 8,
 9]