* Real Estate Company:

    * Exact good Price/ benfit for both customer and for the business.
    
  * You Want to buy a house ?
  
          * Locality(Location)/city
          * Type of house
          * Budget
          * Schools/Colleges
          * Hospitals
          * Amusment/Enter/ Shoping/ groces/
          * Aminities
          * community of people living

* Deliverable:                Trained model file
* Machine learning task:      Regression
* Target variable:            Transaction Price
* Win condition:              Avg. prediction error < $70,000

* Navigation:
    * 1.Exploratory Data Analysis
    * 2.Data Cleaning
    * 3.Feature Engineering
    * 4.Regression Algorithms
    * 5.Model Training

## 1.Exploratory Data Analysis

* 1.Basic Information
* 2.Numaric Distribution
* 3.Categorical Distributions
* 4.Segmentations
* 5.Correlations

# 1.Basic Information

In [ ]:
# Importing libraries

# NumPy(Numarical Python) for Numarical Computing
import numpy as np

# Pandas for DaataFrame
import pandas as pd

# to display 100 columns by rewriting the deafult behaviour
pd.set_option('display.max_columns',100)

# to display 25 rows by rewriting the deafult behaviour
pd.set_option('display.max_rows',25)

# Matplotlib for visualizations
import matplotlib
from matplotlib import pyplot as plt

# display plots in the same notebook
%matplotlib inline

# Seaborn for easier visulization
import seaborn as sns

In [ ]:
# Loading the data
df = pd.read_csv(r"C:\Users\Mohan\DATA_SCIENTIST\06_MACHINE LEARNING\End_TO_End_Projects/real_estate_data.csv")

In [ ]:
# DataFrame Dimesnions
df.shape # (rows,columns)

In [ ]:
# DataFrame Column Datatypes

# df.dtypes.unique() #(int64,object,float64)
df.dtypes

In [ ]:
# Display last 7 records
df.tail(7)

In [ ]:
# FIlter and Display only datatypes that are "objects"
df.dtypes[df.dtypes=='object']

In [ ]:
df.dtypes[df.dtypes=='object'].index

In [ ]:
# Loop through categorical features names and print each one
for feat in df.dtypes[df.dtypes=='object'].index:
    print(feat)

In [ ]:
# display first 10 rows
df.head(10)

# Observations:

* we can know rows and columns count.

* .dtypes will help us to know what category it belongs to in int, float and object.

* By knowing data types we can cross check every thing is meaning full or any further more understanding required?

* If we use the filter the observation and findings of dtypes is very easy.

* Example Observations uses?

    * For Qualitative feel.
    * Do the columns make sense?
    * Do the values in those columns make sense?
    * Are the values on the right scale?
    * Is missing data going to be a big problem based on a quick eyeball test?
    * What type of classe in categorical featueres.

## 2.Numaric Distribution of features

* Un-expected behavour in the data.
* Potential outliers dont make any sense, need to understand those.
* Sparse data.
* Features which are in binary are meaning full?
* the boundaries that make any sense?
* Is there any Potential measurments?

In [ ]:
# To Plot the histogram grid
df.hist(figsize=(14,25),xrot=-45,layout=(8,3))

# To clear the text Residue
plt.show()

In [ ]:
df.describe()

## 3. Distributions of categorical features

In [ ]:
# Summarize categorical features
df.describe(include ='object')

In [ ]:
# Seaborn --> countplot()/ alternative to barplot

sns.countplot(y ='property_type',data = df);

In [ ]:
# barplot for Exterior_walls
sns.countplot(y ='exterior_walls',data = df);

In [ ]:
df['exterior_walls'].unique()

* Observations:
    * Brick
    * Siding(Alum/vinyl)
    * Metal
    * Combination
    * Wood 
    * wood siding
    * Brick veneer
    * stucoo
    * others    
    
    Sparse classess(we dont have many observations)
    
    * concrete             
    * concrete block      
    * Block
    * Asbestos shingle
    * Rock, Stone
    * Wood Shingle
    * Masonry

In [ ]:
# barplot for roof
sns.countplot(y ='roof',data = df);

In [ ]:
* Observations:
    * Composition shingle
    * Asphalt
    * Shake Shingle
    * Other
    * Gravel/rock
    * wood shake/shingle      
    
Sparse classess(we dont have many observations)

In [ ]:
# plot bar plot for each categorical features.
for feat in df.dtypes[df.dtypes=='object'].index:
    sns.countplot(y =feat,data = df)
    plt.show()

In [ ]:
# plot bar plot for each categorical features.
for feat in df.dtypes[df.dtypes=='int64'].index:
    sns.countplot(y =feat,data = df)
    plt.show()

In [ ]:
# plot bar plot for each categorical features.
for feat in df.dtypes[df.dtypes=='float64'].index:
    sns.countplot(y =feat,data = df)
    plt.show()

# 4. Segmentations

In [ ]:
# Segment tx_price by property_type and plot distributions

sns.boxplot(x ='tx_price',y ='property_type', data = df);

In [ ]:
sns.boxplot(x ='median_age',y ='property_type', data = df);

In [ ]:
df.groupby('property_type').mean()

In [ ]:
df.groupby('property_type').agg(['mean','std'])

# 5. Correlations

* relationship between Numarical features.
* It is a value between -1 and 1 that represents how closely values for to seperate features move in same direction.

* positive correlation : (0+......<=1) --> one feature increases , other also increases.
* Negetive correlation : (-1<=..... <=-0.X)  --> one feature increases other decreses.
* 0( Zero)  : Indicates no relationship.

In [ ]:
# calculation of correlations between numeric features
correlations = df.corr()

In [ ]:
correlations

In [ ]:
# adjusting the figure size

plt.figure(figsize=(9,9))

# ploting correlations/ Heatmap
sns.heatmap(correlations);

In [ ]:
# adjusting the figure size
plt.figure(figsize=(12,12))

# ploting correlations/ Heatmap
sns.heatmap(correlations*100 , annot = True, fmt='.0f');

In [ ]:
# designing filter for Unpper triangle
mask = np.zeros_like(correlations,dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# adjusting the figure size
plt.figure(figsize=(12,12))

# ploting correlations/ Heatmap
sns.heatmap(correlations*100 , annot = True, fmt='.0f',mask = mask);

In [ ]:
# designing filter for Lower triangle
mask = np.zeros_like(correlations,dtype=np.bool)
mask[np.tril_indices_from(mask)] = True

# adjusting the figure size
plt.figure(figsize=(12,12))

# ploting correlations/ Heatmap
sns.heatmap(correlations*100 , annot = True, fmt='.0f',mask = mask);

# 2.Data Cleaning

* 1. Unwanted Observations
* 2. Structural Errors
* 3. Unwanted Outliers
* 4. Missing categorical values
* 5. Missing Numarical Values

## 1. Unwanted Observations

* Duplicates obsertvations : mostly in the stage of data collectin/ combiuniing multiple datasets/scrpe data/ receving data from clinetes/ otherdepartment.
* Irrelevent Obsetrvatinos:

In [ ]:
df.shape

In [ ]:
df_rd = df.drop_duplicates()

In [ ]:
df_rd.shape

## Result : In our data frame there are no duplicates

In [ ]:
26 

1 - 25( 0)

#  2. Structural Errors

### indicator variables

In [ ]:
# display the unique values

df['basement'].unique()

In [ ]:
# Count of classess in basement
df['basement'].value_counts()

In [ ]:
1883-1657

In [ ]:
# missing values replacment in the basement feature
df['basement']= df['basement'].fillna(0)

In [ ]:
df['basement'].value_counts()

## Typos and Capitalization

In [ ]:
df.dtypes[df.dtypes=='object'].index

In [ ]:
## 'property_type', 'exterior_walls', 'roof'

In [ ]:
# roof
plt.figure(figsize=(9,9))
sns.countplot(y = 'roof', data = df)
plt.show()

* Observations:
    1. Composition/composition
    2. Shake-shingle/ Shake Shingle/asphalt,Shake-Shingle
    3. asphatl/Asphalt

In [ ]:
# compositon should be 'Composition'
df.roof.replace('composition', 'Composition', inplace =True)

# or

# df['roof'] = df.roof.replace('composition', 'Composition')

# Shake-shingle/ asphalt,Shake-Shingle sholud be Shake Shingle
df.roof.replace(['shake-shingle', 'asphalt,shake-shingle'],'Shake Shingle', inplace =True)

# asphalt should  be Asphalt
df.roof.replace('asphalt', 'Asphalt', inplace =True)

In [ ]:
# roof
plt.figure(figsize=(9,9))
sns.countplot(y = 'roof', data = df)
plt.show()

## Misslabeled classess

In [ ]:
sns.countplot(y = 'exterior_walls',data = df);

* Observations:
 1. concrete and block should be repalced with Concrete Block
 2. Rock,Stone should be replaced with Masonry

In [ ]:
# concrete and block should be repalced with Concrete Block
df.exterior_walls.replace(['Concrete', 'Block'],'Concrete Block', inplace =True)

#Rock,Stone should be replaced with Masonry
df.exterior_walls.replace('Rock, Stone','Masonry', inplace =True)

In [ ]:
df.exterior_walls.unique()

In [ ]:
sns.countplot(y = 'exterior_walls',data = df);

# 3. Unwanted Outliers

* Outliers can cause problems with certain type of models. /Linear regression models are less effect to outliers compared to decission tree models.

* You need to have very strong reason to remove an outlier because it will help to your model to perform well, in those situations if you remove with out consideration the performance will decrease.

* you should never remove an outlier because of just a "big number"

* The big number could be very informative in your model.

* Good reasons:
    * 1. Suspecious measurmeents that are unlikely to be real data.
            * 1860  transaction
            * house price/ tx_price is 0$
            
    * 2. Outliers that belong in different population.

In [ ]:
df.columns

In [ ]:
df['tx_year']
df['tx_year'].min()  # 1993
df['tx_year'].max()  # 2016

In [ ]:
df.describe()

## Boxplot

In [ ]:
# boxpliot for "tx_price"
sns.boxplot(df.tx_price);

### observations:
* price is distributed from 200K to 800K
* Q2 is short range or distribution
* Q4 is long range or distribution
* vertical bar in shaded area - Median
* Boxplot is showing summary statistics, median, IQR's, outliers.....

In [ ]:
# summary statistics of a column
df.tx_price.describe()

In [ ]:
# Q1. Probability Distribution?

In [ ]:
#Violin plot of tx_price to observe the probability distribution of the data.
sns.violinplot(df.tx_price);
plt.show()

In [ ]:
# boxpliot for "tx_price"
sns.boxplot(df.tx_price);
#plt.xlim(0,100000)
#plt.show()

#Violin plot of tx_price to observe the probability distribution of the data.
sns.violinplot(df.tx_price);
plt.show()

### Obserations:

* Violin plot show the entire probabiolity distribution of the data

* . is nothing but median.

* Thick line is IQR

* Thikness of plot represents the estimated probability density.

In [ ]:
# violin plot for "beds"
sns.violinplot(df.beds);
plt.show()
# boxpliot for "tx_price"
sns.boxplot(df.tx_price);
plt.show()

In [ ]:
# 1,2,3,4,5 - beds
for n in df.beds.value_counts(sort =True).index:
    df_temp = df[df.beds==n]
    sns.boxplot(x =df_temp.beds, y =df_temp.tx_price)
    #sns.violinplot(x =df_temp.beds, y =df_temp.tx_price)
    plt.show()

In [ ]:
# violin plot for "sqft"

sns.violinplot(df.sqft);
plt.show()

In [ ]:
# violin plot for "lot_size"

sns.violinplot(df.lot_size);
plt.show()

In [ ]:
df.lot_size.describe()

In [ ]:
df.lot_size.value_counts(sort=True)
df.lot_size.sort_values(ascending=False).head(10)

In [ ]:
sns.boxplot(df.lot_size);

In [ ]:
# removing the outlier and over writting the dataframe.

df = df[df.lot_size <=500000]

# 4. label missings for categorical data

In [ ]:
# sum of null values in categorical variables
df.select_dtypes(include= 'object').isnull().sum()

In [ ]:
# fill the missing values with class Missing

for col in df.select_dtypes(include= 'object'):
    df[col]=df[col].fillna('Missing')

In [ ]:
# sum of null values in categorical variables
df.select_dtypes(include= 'object').isnull().sum()

In [ ]:
# identifying the missing values in numaric features
df.select_dtypes(exclude= 'object').isnull().sum()

In [ ]:
# Importing libraries

# NumPy(Numarical Python) for Numarical Computing
import numpy as np

# Pandas for DaataFrame
import pandas as pd

# to display 100 columns by rewriting the deafult behaviour
pd.set_option('display.max_columns',100)

# to display 25 rows by rewriting the deafult behaviour
pd.set_option('display.max_rows',25)

# Matplotlib for visualizations
import matplotlib
from matplotlib import pyplot as plt

# display plots in the same notebook
%matplotlib inline

# Seaborn for easier visulization
import seaborn as sns

# Loading the data
df = pd.read_csv(r"C:\Users\Mohan\DATA_SCIENTIST\06_MACHINE LEARNING\End_TO_End_Projects/real_estate_data.csv")

# missing values replacment in the basement feature
df['basement']= df['basement'].fillna(0)

# compositon should be 'Composition'
df.roof.replace('composition', 'Composition', inplace =True)

# Shake-shingle/ asphalt,Shake-Shingle sholud be Shake Shingle
df.roof.replace(['shake-shingle', 'asphalt,shake-shingle'],'Shake Shingle', inplace =True)

# asphalt should  be Asphalt
df.roof.replace('asphalt', 'Asphalt', inplace =True)

# concrete and block should be repalced with Concrete Block
df.exterior_walls.replace(['Concrete', 'Block'],'Concrete Block', inplace =True)

#Rock,Stone should be replaced with Masonry
df.exterior_walls.replace('Rock, Stone','Masonry', inplace =True)

# removing the outlier and over writting the dataframe.
df = df[df.lot_size <=500000]

# fill the missing values with class Missing
for col in df.select_dtypes(include= 'object'):
    df[col]=df[col].fillna('Missing')

In [ ]:
df.head()

# 5. label missings for Numarical Variables data

In [ ]:

df.select_dtypes(exclude = 'object').isnull().sum()

# 3. Feature Engineering

* 1.Domain Knowledge
* 2.Intraction features
* 3.Sparse Classes
* 4.Dummy variables
* 5.Remove the unused features/columns

In [ ]:
# Bed rooms with count
df.beds.value_counts()

In [ ]:
# Number of bathroom

df.baths.value_counts()

In [ ]:
df.beds.index

In [ ]:
for a in df.beds.value_counts(sort= False).index:
    print("Number of Bed Rooms {}".format(a))
    print(df[df.beds==a].baths.value_counts())

In [ ]:
total_equal_records = []
for a in df.beds.value_counts(sort= False).index:
    for b in df.baths.value_counts(sort= False).index:
        if a==b:            
            print("bed {}, baths{}".format(a,b))
            s = len(df[(df.beds==a) & (df.baths==b)])
            total_equal_records.append(s)
            print(s)

print(sum(total_equal_records)/len(df))

In [ ]:
del sum

In [ ]:
sum(total_equal_records)

In [ ]:
df[df.beds==3].baths.value_counts()

In [ ]:
for a in df.beds.value_counts().index:
    print(a)

In [ ]:
df.columns

In [ ]:
df_bb = df[['tx_price','beds','baths','sqft','tx_year']]

In [ ]:
df_bb.head()

In [ ]:
for a in df_bb.beds.value_counts(sort= False).index:
    for b in df_bb.baths.value_counts(sort= False).index:        
        if len(df_bb[(df_bb.beds==a) & (df_bb.baths == b)])>0:
            print("Number of Bed Rooms {} and Bathrooms {}".format(a,b))
            print(df_bb[(df_bb.beds==a) & (df_bb.baths == b)].describe())
        else:
            print("Number of Bed Rooms {} and Bathrooms {} combination is not avilable.".format(a,b))

In [ ]:
df[(df.beds==1) & (df.baths == 2)].describe()

In [ ]:
# creating an indicator for equal number of beds and baths
df['ob_ob'] = ((df.beds==1) & (df.baths==1)).astype(int)
df['2b_2b'] = ((df.beds==2) & (df.baths==2)).astype(int)
df['3b_3b'] = ((df.beds==3) & (df.baths==3)).astype(int)
df['4b_4b'] = ((df.beds==4) & (df.baths==4)).astype(int)
df['5b_5b'] = ((df.beds==5) & (df.baths==5)).astype(int)

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
df.ob_ob.mean()

In [ ]:
df['2b_2b'].mean()

In [ ]:
df['3b_3b'].mean()

In [ ]:
df['4b_4b'].mean()

In [ ]:
df['5b_5b'].mean()

# Housing Market Ression

In [ ]:
# Need to create a indicator which will show the transactions happned in between the 2010 abnd 2013
df['during_recession']=((df.tx_year>=2010) & (df.tx_year<=2013)).astype(int)

In [ ]:
df.during_recession.mean()

In [ ]:
df.columns

In [ ]:
one_way = ((df.tx_year>=2010) & (df.tx_year<=2013)).astype(int)
way_2 = df.tx_year.between(2010,2013).astype(int)

In [ ]:
all(one_way==way_2)

# 2.Intraction features
* Intraction features are operations between two or more features.

In [ ]:
df.columns

In [ ]:
# Creating Property age
df['property_age']=df.tx_year-df.year_built

In [ ]:
df['property_age'].describe()

In [ ]:
sum(df['property_age']<0)

In [ ]:
df[['tx_year','year_built']][df['property_age']<0]

In [ ]:
df.shape

In [ ]:
# remove the records of houses which are not avialble for the time of trasaction 
df = df[df.property_age>=0]

In [ ]:
# sanity checks
df[df.property_age>=0].property_age.min()

In [ ]:
1882-19

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
# Creating Scholl_score column
df['school_score']= df['median_school']* df['num_schools']

In [ ]:
df['school_score'].describe()

# 3. Grouping Sparse classes
* These are defined as very few observations compared to remining...!

In [ ]:
# barplot for exterior_walls

sns.countplot(y = 'exterior_walls', data =df);

In [ ]:
# replace 'Wood Siding','Wood Shingle' sparse classes with "Wood"
df.exterior_walls.replace(['Wood Siding','Wood Shingle'],'Wood',inplace = True)

In [ ]:

sns.countplot(y = 'exterior_walls', data =df);

In [ ]:
other_walls = ['Stucco','Concrete Block', 'Masonry','Asbestos shingle', 'Other']

# replace 'Wood Siding','Wood Shingle' sparse classes with "Wood"
df.exterior_walls.replace(other_walls,'Others',inplace = True)

In [ ]:
sns.countplot(y = 'exterior_walls', data =df);

* There is no rule avilable to check if there any class is sparse or not.
* it depends on the size of the dataset which you are working.
* 50 records is bench mark (not must and should)

In [ ]:
sns.countplot(y = 'roof', data = df);

In [ ]:
# Summinig up the roof sparse classes

df.roof.replace(['Composition', 'Wood Shake/ Shingles'],'Composition Shingle', inplace = True)
others_roof = ['Other','Gravel/Rock','Roll Composition','Slate','Built-up','Asbestos','Metal']
df.roof.replace(others_roof,'Others', inplace = True)

In [ ]:
sns.countplot(y = 'roof', data = df)

In [ ]:
df.info()

# 4. Encoding Dummy variables

In [ ]:
1,2 - binary 0,1 --> 1 bit

1 -0
2 -1

0/1

rohit   santosh   pranja  natraj  karthik
1         0         0       0        0

0          0        1        0       0

In [ ]:
# Creating Dummy vaariables

df = pd.get_dummies(df, columns=['exterior_walls', 'roof', 'property_type'])

In [ ]:
df.shape

In [ ]:
df.to_csv(r'C:\Users\Mohan\DATA_SCIENTIST\06_MACHINE LEARNING\End_TO_End_Projects/finaldf.csv')

# All The Code

In [4]:
# Importing libraries

# NumPy(Numarical Python) for Numarical Computing
import numpy as np

# Pandas for DaataFrame
import pandas as pd

# to display 100 columns by rewriting the deafult behaviour
pd.set_option('display.max_columns',100)

# to display 25 rows by rewriting the deafult behaviour
pd.set_option('display.max_rows',25)

# Matplotlib for visualizations
import matplotlib
from matplotlib import pyplot as plt

# display plots in the same notebook
%matplotlib inline

# Seaborn for easier visulization
import seaborn as sns

# Loading the data
df = pd.read_csv(r"C:\Users\Mohan\DATA_SCIENTIST\06_MACHINE LEARNING\End_TO_End_Projects/real_estate_data.csv")

# missing values replacment in the basement feature
df['basement']= df['basement'].fillna(0)

# compositon should be 'Composition'
df.roof.replace('composition', 'Composition', inplace =True)

# Shake-shingle/ asphalt,Shake-Shingle sholud be Shake Shingle
df.roof.replace(['shake-shingle', 'asphalt,shake-shingle'],'Shake Shingle', inplace =True)

# asphalt should  be Asphalt
df.roof.replace('asphalt', 'Asphalt', inplace =True)

# concrete and block should be repalced with Concrete Block
df.exterior_walls.replace(['Concrete', 'Block'],'Concrete Block', inplace =True)

#Rock,Stone should be replaced with Masonry
df.exterior_walls.replace('Rock, Stone','Masonry', inplace =True)

# removing the outlier and over writting the dataframe.
df = df[df.lot_size <=500000]

# fill the missing values with class Missing
for col in df.select_dtypes(include= 'object'):
    df[col]=df[col].fillna('Missing')
    
# creating an indicator for equal number of beds and baths
df['ob_ob'] = ((df.beds==1) & (df.baths==1)).astype(int)
df['2b_2b'] = ((df.beds==2) & (df.baths==2)).astype(int)
df['3b_3b'] = ((df.beds==3) & (df.baths==3)).astype(int)
df['4b_4b'] = ((df.beds==4) & (df.baths==4)).astype(int)
df['5b_5b'] = ((df.beds==5) & (df.baths==5)).astype(int)

# Need to create a indicator which will show the transactions happned in between the 2010 abnd 2013
df['during_recession']=((df.tx_year>=2010) & (df.tx_year<=2013)).astype(int)

# Creating Property age
df['property_age']=df.tx_year-df.year_built

# remove the records of houses which are not avialble for the time of trasaction 
df = df[df.property_age>=0]

# Creating Scholl_score column
df['school_score']= df['median_school']* df['num_schools']

# replace 'Wood Siding','Wood Shingle' sparse classes with "Wood"
df.exterior_walls.replace(['Wood Siding','Wood Shingle'],'Wood',inplace = True)

other_walls = ['Stucco','Concrete Block', 'Masonry','Asbestos shingle', 'Other']
# replace 'Wood Siding','Wood Shingle' sparse classes with "Wood"
df.exterior_walls.replace(other_walls,'Others',inplace = True)

# Summinig up the roof sparse classes
df.roof.replace(['Composition', 'Wood Shake/ Shingles'],'Composition Shingle', inplace = True)
others_roof = ['Other','Gravel/Rock','Roll Composition','Slate','Built-up','Asbestos','Metal']
df.roof.replace(others_roof,'Others', inplace = True)

# Creating Dummy vaariables
df = pd.get_dummies(df, columns=['exterior_walls', 'roof', 'property_type'])

# exporting the processed data frame 
df.to_csv(r'C:\Users\Mohan\DATA_SCIENTIST\06_MACHINE LEARNING\End_TO_End_Projects/finaldf.csv',index = False)

In [5]:
df_1 = pd.read_csv(r'C:\Users\Mohan\DATA_SCIENTIST\06_MACHINE LEARNING\End_TO_End_Projects/finaldf.csv')

In [6]:
df_1.head()

,tx_price,beds,baths,sqft,year_built,lot_size,basement,restaurants,groceries,nightlife,cafes,shopping,arts_entertainment,beauty_spas,active_life,median_age,married,college_grad,property_tax,insurance,median_school,num_schools,tx_year,ob_ob,2b_2b,3b_3b,4b_4b,5b_5b,during_recession,property_age,school_score,exterior_walls_Brick,exterior_walls_Brick veneer,exterior_walls_Combination,exterior_walls_Metal,exterior_walls_Missing,exterior_walls_Others,exterior_walls_Siding (Alum/Vinyl),exterior_walls_Wood,roof_Asphalt,roof_Composition Shingle,roof_Missing,roof_Others,roof_Shake Shingle,property_type_Apartment / Condo / Townhouse,property_type_Single-Family
0,295850,1,1,584,2013,0,0.0,107,9,30,19,89,6,47,58,33.0,65.0,84.0,234.0,81.0,9.0,3.0,2013,1,0,0,0,0,1,0,27.0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0
1,216500,1,1,612,1965,0,1.0,105,15,6,13,87,2,26,14,39.0,73.0,69.0,169.0,51.0,3.0,3.0,2006,1,0,0,0,0,0,41,9.0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
2,279900,1,1,615,1963,0,0.0,183,13,31,30,101,10,74,62,28.0,15.0,86.0,216.0,74.0,8.0,3.0,2012,1,0,0,0,0,1,49,24.0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0
3,379900,1,1,618,2000,33541,0.0,198,9,38,25,127,11,72,83,36.0,25.0,91.0,265.0,92.0,9.0,3.0,2005,1,0,0,0,0,0,5,27.0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0
4,340000,1,1,634,1992,0,0.0,149,7,22,20,83,10,50,73,37.0,20.0,75.0,88.0,30.0,9.0,3.0,2002,1,0,0,0,0,0,10,27.0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0

In [7]:
df_1.lot_size.describe()

count      1863.000000
mean      12522.044552
std       35040.992371
min           0.000000
25%        1540.000000
50%        5846.000000
75%       11325.000000
max      436471.000000
Name: lot_size, dtype: float64

# Regression Algorithms

In [1]:
# loading required libraries
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Mohan\DATA_SCIENTIST\06_MACHINE LEARNING\End_TO_End_Projects/finaldf.csv')

In [3]:
df.shape

(1863, 46)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863 entries, 0 to 1862
Data columns (total 46 columns):
tx_price                                       1863 non-null int64
beds                                           1863 non-null int64
baths                                          1863 non-null int64
sqft                                           1863 non-null int64
year_built                                     1863 non-null int64
lot_size                                       1863 non-null int64
basement                                       1863 non-null float64
restaurants                                    1863 non-null int64
groceries                                      1863 non-null int64
nightlife                                      1863 non-null int64
cafes                                          1863 non-null int64
shopping                                       1863 non-null int64
arts_entertainment                             1863 non-null int64
beauty_spas                                    1863 non-null int64
active_life                                    1863 non-null int64
median_age                                     1863 non-null float64
married                                        1863 non-null float64
college_grad                                   1863 non-null float64
property_tax                                   1863 non-null float64
insurance                                      1863 non-null float64
median_school                                  1863 non-null float64
num_schools                                    1863 non-null float64
tx_year                                        1863 non-null int64
ob_ob                                          1863 non-null int64
2b_2b                                          1863 non-null int64
3b_3b                                          1863 non-null int64
4b_4b                                          1863 non-null int64
5b_5b                                          1863 non-null int64
during_recession                               1863 non-null int64
property_age                                   1863 non-null int64
school_score                                   1863 non-null float64
exterior_walls_Brick                           1863 non-null int64
exterior_walls_Brick veneer                    1863 non-null int64
exterior_walls_Combination                     1863 non-null int64
exterior_walls_Metal                           1863 non-null int64
exterior_walls_Missing                         1863 non-null int64
exterior_walls_Others                          1863 non-null int64
exterior_walls_Siding (Alum/Vinyl)             1863 non-null int64
exterior_walls_Wood                            1863 non-null int64
roof_Asphalt                                   1863 non-null int64
roof_Composition Shingle                       1863 non-null int64
roof_Missing                                   1863 non-null int64
roof_Others                                    1863 non-null int64
roof_Shake Shingle                             1863 non-null int64
property_type_Apartment / Condo / Townhouse    1863 non-null int64
property_type_Single-Family                    1863 non-null int64
dtypes: float64(9), int64(37)
memory usage: 669.6 KB

## Model Complexity

* It is also called as Model Flexibility.
* Model Complexity is a model's inherent freedom to represent complex relationships between input features and target feature/variable.

y = sin(x) +C

* What is machine learning?/classification/regression/supervised/un-supervised/semi suprevised

* overfitting

* Underfitting

* Regularization

* Confusion Matrix

* Precission

* Accuracy

* ROC curve

* Bias

* variance

* Standard deviation

* hypothesis

* Null Hypothesis

* Student test/ t-test

* root mean square

* r_2 score

* f_1 Score

* binomial distribution

* Bayes theorm

* regressior

* classifier

* target variable

* Input features

* Dummy variables

* One hot encoding

* imputations {if you want to replace the existing data/ missing data with the situation}

* Distance between 2 poins in a coordinate plane

* piont slope form.

* Probability distribution

* Probability density function

In [4]:
# loading required libraries
import numpy as np 
import pandas as pd

df = pd.read_csv(r'C:\Users\Mohan\DATA_SCIENTIST\06_MACHINE LEARNING\End_TO_End_Projects/finaldf.csv')

In [ ]:
# Simple/Linear Regression

In [5]:
df.head()

,tx_price,beds,baths,sqft,year_built,lot_size,basement,restaurants,groceries,nightlife,...,exterior_walls_Others,exterior_walls_Siding (Alum/Vinyl),exterior_walls_Wood,roof_Asphalt,roof_Composition Shingle,roof_Missing,roof_Others,roof_Shake Shingle,property_type_Apartment / Condo / Townhouse,property_type_Single-Family
0,295850,1,1,584,2013,0,0.0,107,9,30,...,0,0,1,0,0,1,0,0,1,0
1,216500,1,1,612,1965,0,1.0,105,15,6,...,0,0,0,0,1,0,0,0,1,0
2,279900,1,1,615,1963,0,0.0,183,13,31,...,0,0,1,0,0,1,0,0,1,0
3,379900,1,1,618,2000,33541,0.0,198,9,38,...,0,0,1,0,0,1,0,0,1,0
4,340000,1,1,634,1992,0,0.0,149,7,22,...,0,0,0,0,0,1,0,0,1,0

In [ ]:
Data -  Train(approx..80) and Test(approxi..20)

1. a b c d e f    tv    80
..
...
...


X_train   |   y_train
-------------------------------
1. a b c d e f tv
..                    20


X_test  |

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1863 entries, 0 to 1862
Data columns (total 46 columns):
tx_price                                       1863 non-null int64
beds                                           1863 non-null int64
baths                                          1863 non-null int64
sqft                                           1863 non-null int64
year_built                                     1863 non-null int64
lot_size                                       1863 non-null int64
basement                                       1863 non-null float64
restaurants                                    1863 non-null int64
groceries                                      1863 non-null int64
nightlife                                      1863 non-null int64
cafes                                          1863 non-null int64
shopping                                       1863 non-null int64
arts_entertainment                             1863 non-null int64
beauty_spas                                    1863 non-null int64
active_life                                    1863 non-null int64
median_age                                     1863 non-null float64
married                                        1863 non-null float64
college_grad                                   1863 non-null float64
property_tax                                   1863 non-null float64
insurance                                      1863 non-null float64
median_school                                  1863 non-null float64
num_schools                                    1863 non-null float64
tx_year                                        1863 non-null int64
ob_ob                                          1863 non-null int64
2b_2b                                          1863 non-null int64
3b_3b                                          1863 non-null int64
4b_4b                                          1863 non-null int64
5b_5b                                          1863 non-null int64
during_recession                               1863 non-null int64
property_age                                   1863 non-null int64
school_score                                   1863 non-null float64
exterior_walls_Brick                           1863 non-null int64
exterior_walls_Brick veneer                    1863 non-null int64
exterior_walls_Combination                     1863 non-null int64
exterior_walls_Metal                           1863 non-null int64
exterior_walls_Missing                         1863 non-null int64
exterior_walls_Others                          1863 non-null int64
exterior_walls_Siding (Alum/Vinyl)             1863 non-null int64
exterior_walls_Wood                            1863 non-null int64
roof_Asphalt                                   1863 non-null int64
roof_Composition Shingle                       1863 non-null int64
roof_Missing                                   1863 non-null int64
roof_Others                                    1863 non-null int64
roof_Shake Shingle                             1863 non-null int64
property_type_Apartment / Condo / Townhouse    1863 non-null int64
property_type_Single-Family                    1863 non-null int64
dtypes: float64(9), int64(37)
memory usage: 669.6 KB

In [13]:
# target variable Tx_price
y = df[['tx_price']]
type(y)

pandas.core.frame.DataFrame

In [11]:
# independent features
X = df.drop(['tx_price'],axis=1)

In [15]:
type(X)

pandas.core.frame.DataFrame

In [16]:
# To split data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=99)

In [17]:
X_train.shape

(1490, 45)

In [18]:
y_train.shape

(1490, 1)

In [19]:
X_test.shape

(373, 45)

In [20]:
y_test.shape

(373, 1)

In [23]:
# importing linear regression algorithm
from sklearn.linear_model import LinearRegression

In [25]:
regr=LinearRegression()

In [26]:
regr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [27]:
regr.intercept_

array([-27148035.3661338])

In [31]:
regr.coef_

array([[-1.26434833e+03, -4.07415339e+03,  1.86404462e+01,
         4.84847295e+03,  2.25565921e-01, -2.01407294e+03,
        -3.33610442e+01,  1.45317304e+03,  4.03030343e+02,
         9.23085918e+02, -1.56222302e+01,  1.31583204e+03,
        -4.94628119e+02,  2.82833431e+02, -1.47994394e+01,
        -7.24968245e+00,  1.41060542e+03,  2.73453787e+02,
         4.21156225e+02,  8.89098905e+03,  2.46400901e+04,
         8.72039152e+03, -5.44655816e+04, -2.10674064e+04,
         2.64605893e+03,  1.70838081e+04, -3.76936685e+04,
        -5.41497217e+04,  3.87191856e+03, -3.34250895e+03,
         7.29985604e+03,  3.01082213e+04, -6.70634996e+03,
         4.42334879e+03, -2.88475038e+04, -7.12831771e+03,
         5.13296281e+02,  3.37449085e+02,  1.57556135e+03,
         2.17799244e+03, -2.74752213e+03, -1.32430909e+04,
         1.22370593e+04, -1.58058978e+04,  1.58058978e+04]])

In [33]:
y_predicted = regr.predict(X_test)

In [34]:
#Linear regression object
regr=linear_model.LinearRegression() 
regr.fit(diabetes_X_train,diabetes_y_train)

NameError: name 'linear_model' is not defined

In [36]:
for a in y_predicted:
    print(a)

[511177.14190915]
[415867.06476079]
[418480.04056967]
[634145.18733898]
[312305.24997827]
[508008.68798601]
[383779.91785909]
[319716.81972973]
[501393.83878874]
[589257.85151842]
[434898.10291022]
[359223.60764022]
[481157.75128383]
[649445.12365476]
[555997.40291552]
[305297.72699848]
[314258.4048695]
[465931.91336717]
[594150.44900887]
[478834.41007957]
[318038.80921827]
[501500.40725041]
[551131.85005048]
[278854.59075733]
[476857.86002694]
[268440.37182722]
[403536.00447034]
[494456.56259941]
[372652.47436821]
[379115.21649067]
[796126.2736186]
[394439.35447061]
[436928.93227591]
[415545.10071054]
[424286.22987918]
[448855.4470636]
[611117.87620396]
[401573.00084357]
[496826.51136089]
[432636.957401]
[403152.01360258]
[282627.34351178]
[608895.28091455]
[286740.26540034]
[433546.28397887]
[389902.06463527]
[476023.56910902]
[322532.7842686]
[376252.83523489]
[300702.0111889]
[378452.59992339]
[539622.04886257]
[450651.24654792]
[364778.78522401]
[426876.51644344]
[547352.15698773]
[475365.30991997]
[413753.74359014]
[430767.59716986]
[325473.2931856]
[435805.14192269]
[486822.69323494]
[509315.25958383]
[525761.02491193]
[389947.66085274]
[411509.04046434]
[309492.12016305]
[329349.2150769]
[414136.99009474]
[381215.31513302]
[346145.04041484]
[601321.61122636]
[482212.6923245]
[576255.81525024]
[445894.56089193]
[393226.63940016]
[299554.19227996]
[468634.75158264]
[435512.75206891]
[409082.17004631]
[348805.25469929]
[369807.99881653]
[502645.35250629]
[505163.35408389]
[481426.00592597]
[294771.68870255]
[494566.0366944]
[615848.86115199]
[340730.38860559]
[420219.43016369]
[468287.3893462]
[416256.03252131]
[334642.85016889]
[1140178.53675003]
[389252.0454809]
[427804.20687268]
[395413.69253145]
[398396.08659399]
[492802.98388882]
[359729.08215926]
[355334.86856239]
[470842.03229852]
[498762.2345524]
[306336.62424104]
[351170.08701515]
[272326.11306032]
[353026.41497276]
[454007.78910123]
[454065.40576062]
[498625.14786232]
[356857.82896933]
[599961.38667853]
[683163.19568365]
[283065.18998373]
[277992.04655688]
[498149.85217218]
[360530.31242126]
[471222.91326562]
[579295.40350526]
[505491.42917422]
[375265.70180247]
[402885.13790848]
[403481.05768522]
[342597.05645556]
[438377.56995673]
[254912.64036447]
[455433.68754089]
[411432.05518127]
[2033542.52668814]
[353751.12028476]
[374092.84753957]
[404557.0409935]
[463592.4155225]
[388562.98736254]
[347286.42387567]
[522741.63568997]
[496933.32924153]
[611358.08828554]
[296009.02766291]
[329979.12491614]
[389125.65847571]
[368788.09629532]
[349797.42891707]
[680112.09593904]
[351901.77821615]
[315488.1291496]
[428052.40110087]
[328441.44219312]
[370563.28711537]
[533899.97789781]
[412208.51206541]
[526160.09755583]
[603334.76149296]
[490574.69949623]
[442914.14384107]
[460810.91072512]
[271878.12168803]
[374622.92896966]
[286420.36012762]
[391263.00925706]
[313163.38474947]
[751687.6943157]
[472232.41075054]
[460480.35989329]
[350632.57830027]
[508759.1633833]
[373368.57692532]
[388693.8926721]
[554743.19799865]
[506323.52790517]
[590009.68276073]
[214768.53822952]
[394078.52516325]
[321121.76171613]
[341492.15045926]
[205503.33171797]
[419334.64318898]
[754601.33730379]
[274652.95916222]
[523786.91120221]
[392027.78401553]
[569724.84384365]
[349328.98133289]
[411935.03203724]
[274808.35286871]
[282227.95946618]
[493510.46588676]
[333454.86904777]
[324950.95751398]
[349501.36680349]
[564770.7366792]
[351382.49053123]
[382303.09171774]
[380768.0050066]
[361434.24642653]
[297721.95516457]
[339778.54422398]
[289428.05044992]
[356938.12760383]
[508227.07608393]
[864002.80043382]
[606074.78895342]
[547816.95461395]
[536711.79292328]
[330285.23692838]
[448413.94510471]
[992291.24350946]
[611945.64724571]
[256936.47262377]
[407349.81532585]
[1047292.72401546]
[536788.6662596]
[488763.91953737]
[311956.87250432]
[276773.46310924]
[578289.8074821]
[387775.81010901]
[496338.95593578]
[412797.95882671]
[357892.8032418]
[586105.18119918]
[478585.22152965]
[398898.623007]
[303903.58955921]
[924448.16955565]
[378599.61882195]
[316466.96246943]
[382876.6232846]
[517729.55946875]
[456679.38735968]
[562486.24911749]
[395950.98681781]
[482577.73492201]
[441114.58888089]
[403867.36769209]
[427339.55544259]
[615009.57771409]
[430723.71624704]
[253724.13816505]
[252276.82790671]
[399610.98929503]
[494399.57220482]
[618105.54365947]
[372173.29028292]
[370354.65312238]
[480149.76449002]
[336394.89768444]
[329739.33557182]
[705029.63413889]
[404573.6762994]
[382546.84148363]
[467708.89128807]
[341185.39343568]
[322341.04216797]
[506059.0909256]
[446320.30920548]
[364795.82573687]
[422685.95303564]
[662583.68193483]
[351192.95699112]
[442767.96676984]
[618127.50796546]
[470963.7649962]
[418058.14943336]
[337917.0901095]
[447713.44855881]
[470181.59414403]
[247418.94687958]
[521338.40094808]
[268017.57764738]
[494658.42689548]
[345806.4617805]
[389114.89130406]
[559371.31674464]
[319921.52949599]
[304735.16309762]
[438952.20071789]
[341219.76473681]
[546142.48685551]
[380931.42710677]
[227778.83917884]
[630684.25537941]
[414642.11519232]
[370730.24779978]
[494363.01934513]
[696210.19381165]
[229983.22088148]
[481174.29774332]
[440205.81469511]
[471344.3054095]
[455395.82460311]
[401882.16484077]
[464205.14914826]
[493457.88414938]
[363524.52293494]
[379216.44919217]
[504264.46415602]
[472336.43705286]
[371823.89988806]
[421317.90475412]
[323013.67010319]
[296658.81373909]
[309943.73356159]
[299049.18685503]
[508386.39183833]
[339895.23957548]
[747696.79312879]
[425155.17723742]
[350881.86447601]
[251293.85940742]
[295873.22476396]
[574617.03369829]
[334972.31813556]
[348905.75595498]
[501351.88105008]
[467664.81650813]
[492909.63064081]
[440642.60362837]
[291584.5025023]
[394438.33258491]
[402985.25187378]
[272112.58717773]
[550305.75232542]
[317914.53884441]
[363117.6832743]
[459362.84545891]
[406750.68337224]
[339047.10564278]
[333206.36300328]
[333519.53814067]
[309922.47904567]
[540259.23447389]
[414442.16264252]
[314737.88424191]
[492326.29047195]
[383279.5379107]
[320691.54559953]
[365247.61811295]
[373445.02241015]
[486313.86578454]
[273184.42341382]
[576772.68478499]
[505996.47117619]
[321941.90710295]
[434098.99826455]
[307397.15279216]
[564629.87433723]
[296193.24440588]
[277965.26102398]
[783611.85839693]
[498024.29879701]
[155843.27633482]
[319080.44415841]
[329876.53299]
[364399.85334011]
[572963.15933114]
[397016.5672088]
[456959.96622273]
[568976.74143209]
[390878.47728398]
[498272.43612687]
[270644.56834222]
[361104.38046491]
[399440.85525549]
[258399.48341556]
[444158.67927678]
[320892.41373421]
[726565.94261964]
[268794.41324277]
[383746.18656759]
[449925.17093193]
[350888.7077329]
[475668.64479215]

In [43]:
for a in y_test['tx_price']:
    print(a)

585000
468000
326500
500000
209480
655000
269900
319500
368500
702325
470000
500000
585000
755000
439000
279900
305000
418000
550000
450000
201953
375000
412500
290000
345000
249000
209900
650000
400000
271000
525000
250000
578324
330000
425000
336500
550000
353140
440000
499900
475000
212000
746559
206000
427000
593046
700000
258000
250000
444000
303000
734235
534000
339000
334000
463003
400000
485000
428000
330000
480000
574000
582499
675000
427000
305500
210000
320000
459990
370000
359000
785000
400000
760000
480000
390000
335000
375000
382000
399900
290000
250000
650000
610000
420000
240000
540000
507000
320000
520000
445000
397400
440000
763812
299000
580000
485000
349900
565962
290000
310000
261250
550000
218000
414000
285000
365000
239000
589900
497415
255000
507500
690000
370000
336873
502000
435000
526000
500000
370000
311370
350000
401195
291000
350000
270900
445000
200000
430000
374900
284857
325000
350165
255000
378000
440000
420000
630000
215000
330000
254400
210000
289500
545500
265000
247640
560000
224950
415000
790000
622500
535000
549000
246677
616700
430965
301000
529600
261000
295000
299940
235000
528000
405000
235000
420000
359000
392235
578000
610000
570000
248000
399600
410000
379900
251489
250000
535000
425000
642500
519900
591000
475000
469335
295990
318000
526275
279537
395000
515000
750000
351500
225000
379862
237500
229500
296000
215000
385000
550000
640000
475000
635000
562500
226000
375050
751000
670000
271000
350000
735000
620000
717900
402500
250000
509000
440000
455000
397000
325000
675000
495900
559900
238600
708000
459000
299000
370000
575000
300000
590000
296000
750000
336000
252000
381000
490000
448000
245000
214900
496700
307310
750000
389900
275000
467000
319990
300000
675000
320890
363700
486460
276840
218000
399126
310000
281990
329000
649900
290000
403000
749990
550000
435000
328150
653931
480000
398000
524048
216250
617000
310000
200000
689900
225870
428000
460000
335000
300000
560000
318500
540000
290000
380000
400000
789000
295000
384900
526000
430000
466000
524000
461825
575000
343000
324999
335000
367925
315000
216500
280000
243000
305000
267500
495000
275000
653888
465000
290000
242000
209000
395000
435000
289000
543000
485000
450000
332271
389990
270585
482413
300000
714000
210000
540000
435000
280000
350000
375000
377400
221940
510000
630765
232200
399900
325000
265000
452145
225000
710000
256500
745000
515000
231525
401000
247000
570000
219900
245000
655600
280000
240000
274500
379900
325000
775000
300000
500000
715000
409610
590000
299990
247437
339400
239900
632500
265000
800000
244800
487500
290000
225000
446151

In [45]:
importing metric r2_score
from sklearn.metrics import r2_score

In [46]:
# Variance score ? what it is  how can you know the performance of our model?
r2_score(y_test,y_predicted)

0.18162919011152112

In [53]:
from sklearn.metrics import accuracy_score

In [55]:
accuracy_score(y_test, y_predicted, normalize=True, sample_weight=None)

ValueError: Classification metrics can't handle a mix of multiclass and continuous targets

In [ ]:
100 --records

50  --- 0
50 -- 1

In [ ]:
              predicted
              0       1
        
          0  30      20   == 50
actual 
          1  10      40   == 50
    
    --------------------------
             40      60    | 100|

In [56]:
# What is the difference between R^2 and Adjusted R^2 ?

# Ridge Rergression

In [ ]:
# What is Correlation and Covariance ? and explain difference between these two?

In [ ]:
# What is OLS?(Oridiunary Least Squares Estimate)

In [ ]:
# Bias and Variance ?

In [ ]:
Training Phase / Testing Phase
    
Divide the data into 2 part (70 30), (75 25) (80 20)

            Training             Testing         underfitting
Bad fit  :  High Bias         High Variance     
    
         :  Exctly fitted     High Variance      overfitting
            Low Bias        
            
Good Fit :  Low Bias          Low variance       fit

If you Observe the highly correlation between independent features this phenomena is called multi collinearity, when multicollinearity exists in the data or Data Sufferes with this problem redge regression Technique Will give the best results.

y = MX + C   ---- sinle feature

y = A + BX = A + B1*X1 +B2*X2 +B3*X3 ............... for multiple independent features


Prediction Error = Bias + Variance

In [ ]:
1 +2 +3 +4 =  Answer
    
0.3 *1 +

# Ridge regression

In [57]:
# loading required libraries
import numpy as np 
import pandas as pd

# Data
df = pd.read_csv(r'C:\Users\Mohan\DATA_SCIENTIST\06_MACHINE LEARNING\End_TO_End_Projects/finaldf.csv')

In [ ]:
# Independet features / Dependent features 
# Divide the Traing and testing data
# Need to call the algorithm from SKLEARN
# fit the trining data
# prediction on Testing data
# evalution/ metrics/ how it is performing

In [62]:
# Independet features / Dependent features 
df.head()

X=df.drop(['tx_price'],axis =1)

Y=df['tx_price']

In [67]:
# Divide the Traing and testing data

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30, random_state=7)

In [69]:
print(f'X_train : {X_train.shape} \nX_test :{X_test.shape}  \nY_train:{Y_train.shape} \nY_test:{Y_test.shape}')

X_train : (1304, 45)
X_test :(559, 45)
Y_train:(1304,)
Y_test:(559,)

In [91]:
from sklearn.linear_model import Ridge
regr = Ridge()
regr.fit(X_train,Y_train)
Y_predi = regr.predict(X_test)

In [92]:
# regression metric
# importing metric r2_score
from sklearn.metrics import r2_score

In [93]:
r2_score(Y_test, Y_predi)

0.5087381196273714

# Lasso Regression

In [107]:
from sklearn.linear_model import Lasso
regr = Lasso(alpha=2,max_iter=100)
regr.fit(X_train,Y_train)
Y_predi = regr.predict(X_test)

G:\Anaconda_3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 7243672286232.8545, tolerance: 2984006322.810378
  positive)

In [108]:
r2_score(Y_test, Y_predi)

0.5076645604750736

# Elastic Net

In [96]:
from sklearn.linear_model import ElasticNet
regr = ElasticNet()
regr.fit(X_train,Y_train)
Y_predi = regr.predict(X_test)
r2_score(Y_test, Y_predi)

G:\Anaconda_3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 7827268258490.302, tolerance: 2984006322.810378
  positive)

0.5049124534943562